[2021-04-20 18:43] mmcgowanBOS commented on #770
![Screen Shot 2021-04-20 at 2 41 21 PM](https://user-images.githubusercontent.com/44584567/115447640-bbc91680-a1e6-11eb-9a2f-338e5ae7e27b.png)

[2021-04-20 19:05] mmcgowanBOS commented on #770
And here too is the endpoint on Acquia Dev environment to test for requesting a token session.

**NOTE: the request to the endpoint must be a POST or it won't work.

https://d8-dev.boston.gov/rest/email_token/create

[2021-04-21 14:56] andreeaursu1981 commented on #741
Please update URL under tile to be:  https://zparkpvwa01.cityhall.boston.cob/PasswordVault/auth/saml

[2021-04-21 18:40] andreeaursu1981 commented on #767
Sorry the stakeholders do not like any of them :(

[2021-04-21 23:15] sebastianebarb commented on #767
![v3_icon-648](https://user-images.githubusercontent.com/20642299/115632557-ffe71480-a2d5-11eb-81bf-7465096e21f3.png)

[2021-04-21 23:19] sebastianebarb commented on #765
Sorry, I thought I had sent this.
![ServiceNow_icon_featured_guide](https://user-images.githubusercontent.com/20642299/115632761-6f5d0400-a2d6-11eb-97e7-e8566023eb18.png)

[2021-04-22 18:15] andreeaursu1981 commented on #741
Can you please change the group membership in TEST?
cn=SG_AB_CYBERARK

[2021-04-22 18:47] andreeaursu1981 commented on #765
URL: https://sso-test.boston.gov/idp/startSSO.ping?PartnerSpId=https%3A%2F%2Fcibostondev.service-now.com
Security group: cn=SG_AB_SERVICENOW
Title : ServiceNow

[2021-04-27 15:42] andreeaursu1981 opened #771 "Access Boston ServiceNow (backend application)"
Title = ServiceNow backend application
Name of the application: ServiceNow Admin
Description of what the app is (if it is not that obvious): this application will be used now by HR as a case management system
Timeline (when do you need to have live in Prod): unknown but we need to test it in TEST

[2021-04-27 16:51] sebastianebarb commented on #771
![user](https://user-images.githubusercontent.com/20642299/116280984-3bab2f80-a757-11eb-8a7e-b86c896105ab.png)

[2021-04-28 19:21] andreeaursu1981 commented on #765
Tile works in Firefox but not in Chrome.

[2021-04-30 13:28] andreeaursu1981 opened #772 "Access Boston enhancement- TBD - M"
When we search for users and they have more than 50 groups, we should have the ability to see the multiple pages. Let's discuss at our next monthly and see if this is a quick fix or require more dev time.

![image](https://user-images.githubusercontent.com/49321264/116701843-61724780-a996-11eb-905d-e35a6583e81f.png)

[2021-04-30 16:49] andreeaursu1981 opened #773 "Access Boston enhancement 2-TBD"
Jira: [DIG-52 - Access Boston enhancement 2-TBD](https://bostondoit.atlassian.net/browse/DIG-52)

Add employeeID to Access Boston Group Management
![image](https://user-images.githubusercontent.com/49321264/116727410-883e7700-a9b2-11eb-9ac7-f45fe72dfa44.png)

[2021-04-30 18:17] phillipbentonkelly commented on #765
@andreeaursu1981 if this is done, which you said it is, can you close this ticket. If needed created a new ticket for the push to PROD when you're ready; and schedule it

[2021-05-04 15:42] reillyzlab opened #774 "Update language on birth certificates to clarify middle name not needed"
Message/request from Patty:

On Step 3 of the online birth request - we [Registry Office] do not ask for the middle name because we do not need it and often it is not actually their middle name. We tend to get a couple of calls and a few emails a day asking if the middle name will be on the birth certificate - especially with newborns.

Can we edit it from:

What was their name at birth?
If they c

[2021-05-04 15:55] mmcgowanBOS commented on #772
This seems to be more of a "project". As Andreea noted, we can discuss more at the next monthly meeting.

[2021-05-06 15:16] andreeaursu1981 commented on #765
I have reopened this git as Stakeholders want a different tile. After the creative team creates the new tile, we will have to do another deployment in TEST.

[2021-05-07 15:13] sebastianebarb commented on #765
Did they provide any detail on what they want?

On Thu, May 6, 2021 at 11:17 AM Andreea Ursu ***@***.***>
wrote:

--

Sebastian Ebarb (*pronouns he/him/his*)

Design Director for the City of Boston

Department of Innovation & Technology

www.boston.gov/digital

You can check out *www.boston.gov/brand <http://www.boston.gov/brand>* for
all your *BOSTON* brand needs. You can sign up for design/Canva

[2021-05-07 15:14] sebastianebarb commented on #765
Never mind!

On Fri, May 7, 2021 at 11:13 AM Sebastian Ebarb ***@***.***>
wrote:

--

Sebastian Ebarb (*pronouns he/him/his*)

Design Director for the City of Boston

Department of Innovation & Technology

www.boston.gov/digital

You can check out *www.boston.gov/brand <http://www.boston.gov/brand>* for
all your *BOSTON* brand needs. You can sign up for design/Canva class here
<http://Boston.gov/c

[2021-05-13 17:46] jimmurphy-boston commented on #774
Patty reviewed staging and is good to go.

[2021-05-17 17:00] andreeaursu1981 commented on #741
Phil - we now created a real test environment and we will need to change the URL under the tile to be this:
https://ztarkpvwa01.cityhall.boston.cob/PasswordVault/auth/saml

[2021-05-17 17:01] andreeaursu1981 commented on #741
From https://zparkpvwa01.cityhall.boston.cob/PasswordVault/auth/saml
To: https://ztarkpvwa01.cityhall.boston.cob/PasswordVault/auth/saml

[2021-05-19 14:45] phillipbentonkelly commented on #741
@andreeaursu1981 is this change going to the TEST environment? Just checking. Thinking of making this change alongside with the BAIS deployment tomorrow.

@mmcgowanBOS for FYI

[2021-05-19 14:47] andreeaursu1981 commented on #741
yes. this is TEST and it can be done tomorrow. Thanks so much Phil.

[2021-05-19 14:48] phillipbentonkelly commented on #761
@andreeaursu1981 is this the git issue associated with BAIS PROD deploy tomorrow (Thursday)?

@mmcgowanBOS for FYI

[2021-05-19 14:49] phillipbentonkelly commented on #741
Ok. thanks

[2021-05-19 14:50] andreeaursu1981 commented on #761
yes sir.

From (Only provides access to Bais Financials while on the CoB Network):
https://baisfn.cityhall.boston.cob/psp/prdfn/EMPLOYEE/ERP/h/?tab=DEFAULT

To (Provides access to Bais Financials Externally-Internet and internally-CoB network):
https://fn.boston.gov/psp/prdfn/EMPLOYEE/ERP/h/?tab=DEFAULT

[2021-05-24 12:53] andreeaursu1981 commented on #741
Phil - made a mistake. The other way around. Sorry

From https://zparkpvwa01.cityhall.boston.cob/PasswordVault/auth/saml
To: https://ztarkpvwa01.cityhall.boston.cob/PasswordVault/auth/saml

[2021-06-29 14:55] andreeaursu1981 commented on #741
https://ztarkpvwa01.iam-ad-test.cob/PasswordVault/auth/saml- new URL link for TEST AB.

[2021-07-13 13:38] jimmurphy-boston opened #785 "Marriage Intentions Date of appointment is set to Future date, Patty would like it be today or in the future"
Currently its set for future date, Patty would like it to be set for todays date or future date.
![MI Date Error](https://user-images.githubusercontent.com/63253451/125461800-ae3fa088-22a9-495a-b082-722dfc43da31.png)

[2021-08-06 15:17] phillipbentonkelly commented on #785
Fix is on Staging

[2021-08-06 17:07] NavanK commented on #767
URL: https://sso-test.boston.gov/idp/startSSO.ping?PartnerSpId=urn%3Aauth0%3Av3locity%3Abrs-test-provider

Security Group :  SG_AB_V3

Let me know if you have any questions.

[2021-08-09 17:30] phillipbentonkelly commented on #785
@jimmurphy-boston Deployed to PROD

[2021-08-10 14:19] phillipbentonkelly commented on #785
Can we close this? @jimmurphy-boston

[2021-08-10 14:25] jimmurphy-boston commented on #785
We can close this

[2021-08-10 14:25] #785 closed, assigned to jimmurphy-boston

[2021-08-26 18:51] NavanK opened #797 "Access Boston - Service Now Tile"
Hi @phillipbentonkelly

Access Boston Service Now Tile deployment for tomorrow 8/27/2021 from 3 to 4 PM EST.

SSO URL:  	https://sso.boston.gov/idp/startSSO.ping?PartnerSpId=https%3A%2F%2Fciboston.service-now.com

Security Group: cn=SG_AB_SNOWADMIN

[2021-08-26 20:47] phillipbentonkelly opened #800 "Access Boston: COVID Compliance"
TEST Environment:
-----
URL: https://cibostontest.service-now.con/covid
Security Group: cn=SG_AB_COVIDPRTL

PROD Environment:
-----
URL:
Security Group:

[2021-08-26 20:48] phillipbentonkelly commented on #800
@NavanK Please update this ticket when you have the info for PROD, thx

[2021-08-27 14:52] NavanK commented on #800
@phillipbentonkelly

Prod COVID Compliance SSO URL and Group

SSO URL: https://ciboston.service-now.com/covid
Security Group: cn=SG_AB_COVIDPRTL

[2021-08-27 19:09] phillipbentonkelly commented on #797
Deploying now

[2021-08-30 11:06] phillipbentonkelly commented on #800
Starting Covid Compliance deploy, @NavanK

[2021-08-30 11:23] #800 closed, assigned to nobody

[2021-08-30 12:17] NavanK commented on #797
This is deployed and tested.

[2021-08-30 12:17] #797 closed, assigned to phillipbentonkelly

[2021-08-30 16:30] #774 closed, assigned to phillipbentonkelly, jimmurphy-boston

[2021-09-20 12:49] NavanK opened #801 "Update the Hyperion URL in Prod AB"
Hi @phillipbentonkelly

Current SSO URL: https://login.us2.oraclecloud.com/oam/server/obrareq.cgi?encquery%3Dv2GuCFxM8VxsxDZPK9HzUGyy9Q3kTEgTTNlLlAmtoZTwncih0HU8NAbYsRh9raKXKy8d7P4g6V6FY84QopZtihSoEOcPDIVU7qktPzNiMf87zkN0Hm9YU%2BT%2B3ytwl%2FKTMsgQpsowiFHZDm13DFTGawpK%2B%2Bt3RL%2F3YiNDK33gCZnp9AZw%2Fm5OFX8d9xf%2BP8q9mlMEN3SrirXdsgAq4Jzli5LbTH38nJTp9y0kYPR1cnwH8VP80yul1ZxpngYMTatK3Z613FGf4luKZdL0G95

[2021-09-20 19:54] g-grozier opened #803 "Access Boston - Provide Option to Unmask a Password"
Jira: https://bostondoit.atlassian.net/browse/DIG-62

For password fields in Access Boston (at Sign In Page, when creating/updating password) include the option for the user to chose to unmask (show) the password (not have the dots).   Some sites (see screenshot) have an eye in the field.  Google just displays a checkbox below the field that says 'Show Password'.

UX will be better especially in t

[2021-09-21 14:02] NavanK commented on #801
Thanks @phillipbentonkelly. Conor has tested and confirmed the SSO is working. Closing.

[2021-09-21 14:02] #801 closed, assigned to nobody

[2021-09-28 19:49] g-grozier commented on #767
The Production Deployment date is **October 22nd.**
Here is the  PROD URL from the PM in Retirement: https://brsprod.v3locity.com/app
Security Group : SG_AB_V3

[2021-10-01 18:02] g-grozier opened #806 "AccessBoston Portal icon - ServiceNow and Banner"
There are 3 tasks as part of changes on 12/13: deploy new Beacon app, deploy banner on ABP to announce Beacon launch, and change the icon/label on ServiceNow.  Caroline put the 2 new icons in the folder.

**Deploy Beacon**
Icon = lighthouse
Position of Icon = top left (so the place where ESS used to be, pole position)
Name of the application = Beacon
URL for PROD = https://sso.boston.gov/idp/start

[2021-10-01 18:03] g-grozier commented on #765
This is for Test which is done, just put in new issue for Prod deployment in November.  Someone can close this one out (I don't have rights to)

[2021-10-12 14:03] g-grozier commented on #767
Vitech isn't able to support Single Log Out -- so in discussions about what to do (don't think 10/15 is viable date anymore).

[2021-10-12 14:05] g-grozier opened #807 "Access Boston - integrate Avolve Test"
![Avolve icon](https://user-images.githubusercontent.com/91092683/136971263-bc1b233d-f0f9-4556-8e56-da00e27cbce1.png)

Name = Avolve
URL Test = http://boston-ma-us-test.avolvecloud.net/Portal/
Group = SG_AB_Avolve
icon okayed by Kelly

should be up in Test by end of October (for UAT)

[2021-10-12 18:51] g-grozier opened #808 "Change to error message during Access Boston account registration"
![Inactive Account message](https://user-images.githubusercontent.com/91092683/137011615-4c08161e-2e76-4d5b-8e9c-f2db8ffad477.png)

this screen needs to be updated to:
**Registration Needed**
It appears that your account is either not active or that you have not registered your Access Boston account yet.
To get help please contact your IT support group:

- Boston Public Schools: Technology Help De

[2021-10-12 19:14] g-grozier commented on #808
never mind, this is in the Ping side!

[2021-10-12 19:14] #808 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2021-10-14 15:16] phillipbentonkelly commented on #807
@g-grozier did we get this icon from the Design team? We need the version that's transparent, right size, etc.

[2021-10-14 15:19] g-grozier commented on #807
Yes, I got it from Sebastian  He said it's in the same folder as always.

[image: COB_B_Blue_square-01.png]

*Gretchen Grozier *(pronouns: she/her/hers)

Director of Identity & Access Management

Department of Innovation & Technology

617-635-3547 (w), 617-388-5317 (c)

On Thu, Oct 14, 2021 at 11:17 AM Phillip B. Kelly ***@***.***>
wrote:

[2021-10-14 15:28] phillipbentonkelly commented on #807
Ok, i found it thx

[2021-10-19 15:28] mmcgowanBOS commented on #807
Gretchen, what day would you like this to be pushed to the Dev environment?

[2021-10-19 15:35] g-grozier commented on #807
anytime is good, I'm not sure ISD is ready to Test but we can do a smoke
test in Dev and move it to Test (in preparation for their UAT)

On Tue, Oct 19, 2021 at 11:29 AM Matthew McGowan ***@***.***>
wrote:

[2021-10-21 15:21] phillipbentonkelly commented on #807
@g-grozier, @matthewcrist  I'd take we need a DEV specific URL for the icon, the one we have is for TEST

[2021-10-21 15:29] g-grozier commented on #807
They only have the single no-Prod environment.  So please set up Dev and
Test ABP to point to that... G.

On Thu, Oct 21, 2021 at 11:25 AM Phillip B. Kelly ***@***.***>
wrote:

[2021-10-25 19:28] g-grozier commented on #767
Production Date is confirmed for **October 29th**  please scroll up for other pertinent info!

[2021-10-29 15:22] g-grozier opened #811 "AccessBoston Login Page - Username Field enhancment"
BFD reports that their users get confused when they arrive at the Access Boston login page as to what value to use for their Username.  Currently, it only accepts User ID, but their users put in the email address.

Can we update the logic so that the Username field will accept either ID or Email Address (both being unique identifiers for that user) and then with the correct password that correspon

[2021-10-29 15:24] mmcgowanBOS opened #812 "Add country "Taiwan""
Hi Phil,
When you have a moment, please add "Taiwan" to the list of countries in the for the Registry Marriage Intention application.

https://registry.boston.gov/marriageintention

Thanks,

[2021-11-05 14:42] phillipbentonkelly commented on #812
@matthewcrist we are still going back and forth with Sundar over some db stuff but I think I can just deploy this to PROD without having tested on staging since its just an addition.

[2021-11-05 17:36] phillipbentonkelly commented on #767
@g-grozier, @matthewcrist I think we can close this now right?

[2021-11-05 17:51] g-grozier commented on #767
V3 was deployed ....all set!

[2021-11-05 17:51] #767 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2021-11-05 19:24] mmcgowanBOS commented on #812
Ok. If Sundar is still non-responsive, and you feel comfortable deploying
to Prod, then that's OK with me. There is however no immediate rush, so if
you want to wait until Monday or so, that's fine as well.

On Fri, Nov 5, 2021 at 10:42 AM Phillip B. Kelly ***@***.***>
wrote:

[2021-11-17 15:38] NavanK opened #817 "deploy Tableau Icon on Test and Dev AB"
Test Tableau URL: https://sso-test.boston.gov/idp/startSSO.ping?PartnerSpId=http%3A%2F%2FzTTableau02

Dev Tableau URL: https://sso-dev.boston.gov/idp/startSSO.ping?PartnerSpId=http%3A%2F%2FzDTableau01

Security Group: cn=SG_AB_TABLEAU

Group Management Group: cn=SG_AB_GRPMGMT_TABLEAU

[2021-11-17 19:30] NavanK commented on #817
Completed.

[2021-11-23 15:18] g-grozier opened #820 "Update for Access Boston Portal Link in Prod"
as a result of the IIQ upgrade on 11/20 one of the URLs off the ABP that points to IIQ needs to be updated in PROD.

link is _Set An Access Boston Delegate_
new URL is
https://identity.boston.gov/identityiq/dashboard/identityPreferences.jsf#/identityPreferences

the old URL was https://identity.boston.gov/identityiq/dashboard/editPreferences.jsf

[2021-12-01 20:13] g-grozier commented on #820
this was done on the Tuesday after upgrade

[2021-12-01 20:13] #820 closed, assigned to phillipbentonkelly

[2021-12-01 20:14] g-grozier commented on #811
We have actually done this from PingFed, release is scheduled for 12/1

[2021-12-01 20:14] #811 closed, assigned to mmcgowanBOS

[2021-12-01 20:19] #765 closed, assigned to phillipbentonkelly, sebastianebarb, mmcgowanBOS, andreeaursu1981

[2021-12-01 20:23] g-grozier commented on #817
this was completed and confirmed by app owner (Data Analytics)

[2021-12-01 20:23] #817 closed, assigned to nobody

[2021-12-03 14:26] g-grozier opened #824 "Make Access Boston Portal findable in web search"
Jira: https://bostondoit.atlassian.net/browse/DIG-59

In talking with BPS Help Desk, their less tech-savvy users have a hard time typing in the URL of ABP (!!)  They asked to allow it to come up in a Google Search...which is fine, it's password protected.

@JamesDuffy said: My guess is that there's some "noindex" and "nofollow" meta tagging being added to the actual portal page. Since it's a passw

[2021-12-03 20:49] jamesduffy commented on #824
Hello Boston Friends 👋 and fellow James Duffy. I am not the James Duffy you spoke with, but I agree with what your James said. I will turn this over to @duffy-james.

I will also use this opportunity to ask you to please support wgbh and This Old House. Thank you.

[2021-12-06 16:14] g-grozier commented on #806
Please deploy the banner in Dev and/or Test no later than 12/8 -- so we can confirm we still have that functionality/option and can show it to the customers to make sure it is what they want. @phillipbentonkelly @stephaniemar

[2021-12-06 16:20] g-grozier opened #825 "HOLD: Banner for Beacon Launch/Changes"
For the Beacon launch we will deploy the banner on Access Boston Portal and then update several times for the various changes.  I'm putting all the text here but will also include in the individual issues for each change.

_Launch banner_
10/14: **Beacon, the new HR self-service portal, is now live!** Look for the lighthouse icon below.

_Days before ESS goes_
Jan TBD: NOTICE: The Employee Self-Se

[2021-12-06 16:24] stephaniemar commented on #825
I see two tickets for this work #806 and #825 what is the difference. Just so I am clear we need the new banner and language deployed on Dev so we can get approval? @phillipbentonkelly is that your understanding as well?

[2021-12-06 16:30] g-grozier commented on #825
as noted in 825 - I wanted to make sure we had each of the 3 upcoming
banner texts in one place. But I'll put the  banner wording in as a step
for each of the various deployments.

806 is for Beacon launch
there will be a new issue for the removal of ESS in mid-January.  And I can
do one for the interim banner deployment too.  G.

[image: COB_B_Blue_square-01.png]

*Gretchen Grozier *(pronouns: sh

[2021-12-06 20:11] phillipbentonkelly commented on #806
Icons on Assets site
- [Lightkeep](https://assets.boston.gov/icons/accessboston/ship_wheel.svg)
- [Beacon](https://assets.boston.gov/icons/accessboston/lighthouse.svg)
- [Helm Icon](https://assets.boston.gov/icons/accessboston/helm.svg)

[2021-12-06 20:15] phillipbentonkelly commented on #806
@g-grozier is Beacon using the same `groups` as ServicesNow - Lightkeeper? If not could you update here with the group for it.

Thx

[2021-12-06 20:22] phillipbentonkelly commented on #806
@g-grozier Also, will we get URLs for the `DEV|TEST` environments? The only URL here is for PROD.

[2021-12-06 20:27] g-grozier commented on #806
@phillipbentonkelly updated with group info.  It's already been done in Dev and Test (I think waaay back like in February maybe?)

[2021-12-06 20:31] g-grozier commented on #806
Just confirming it's NOT the same group as Lightkeeper, these are different
apps (sort of).

[image: COB_B_Blue_square-01.png]

*Gretchen Grozier *(pronouns: she/her/hers)

Director of Identity & Access Management

Department of Innovation & Technology

617-635-3547 (w), 617-388-5317 (c)

On Mon, Dec 6, 2021 at 3:15 PM Phillip B. Kelly ***@***.***>
wrote:

[2021-12-07 13:54] g-grozier commented on #806
Dev URL for Beacon: https://cibostondev.service-now.com/cob
Test URL for Beacon: https://cibostontest.service-now.com/cob
Prod URL for Beacon: https://ciboston.service-now.com/cob

The distinction between the Lightkeeper and Beacon sections of SNOW is the /cob appended at the end (for Beacon). @phillipbentonkelly

[2021-12-07 19:52] stephaniemar commented on #806
I reviewed all the tickets and got some questions answered so I have a better understanding of what the Digital Team is responsible for leading up to Beacon going live next week, here is my understanding:

12/7-8:
@phillipbentonkelly is going to
1. Deploy the Lighthouse icon onto the Access Boston test environment and link it to the Beacon app Test Environment (https://cibostontest.service-now.com

[2021-12-07 20:00] phillipbentonkelly commented on #806
Thanks for the clarification @stephaniemar

[2021-12-07 20:02] g-grozier commented on #806
This is a great summary - in deploying Beacon it's also setting the group
that sees it to ALL EMPLOYEES

[image: COB_B_Blue_square-01.png]

*Gretchen Grozier *(pronouns: she/her/hers)

Director of Identity & Access Management

Department of Innovation & Technology

617-635-3547 (w), 617-388-5317 (c)

On Tue, Dec 7, 2021 at 2:53 PM stephaniemar ***@***.***>
wrote:

[2021-12-07 20:45] phillipbentonkelly commented on #806
@g-grozier, Just a point of clarification, because this is something we had to go back-n-forth with Andreea, `birthright` access means its visible to all ... if that's the case the way the app does that is by not adding a `group` to the application. Does that make sense? It would explain why I thought I should be getting a group for Beacon but none has come through.

[2021-12-07 20:52] g-grozier commented on #806
The group is ALL EMPLOYEES - it is the same set-up as ESS. It's a
birthright for employees (but not those with a sponsored account).

On Tue, Dec 7, 2021 at 3:46 PM Phillip B. Kelly ***@***.***>
wrote:

[2021-12-07 21:23] phillipbentonkelly commented on #806
I looked at ESS (Employee Self-Service) and it has the group `SG_AB_ESS`, so is this the group you want us to put on Beacon?

[2021-12-08 16:35] stephaniemar commented on #825
Hi @phillipbentonkelly here are the requirements for the banner on Test
NOTICE: **Beacon, the new HR self-service portal, is now live!** Look for the lighthouse icon below.

1. Notice should be in all CAPs
2. Lead sentence should be in Bold
3. Whole sentence should be top justified.

cc @g-grozier

[2021-12-08 19:21] stephaniemar commented on #825
Banner was updated on Test 12/8

[2021-12-08 19:25] stephaniemar commented on #806
12/8

1. Deploy the Lighthouse icon onto the Access Boston test environment and link it to the Beacon app Test Environment (https://cibostontest.service-now.com/cob) -**Complete**
2. Add the Banner language to Access Boston test environment- **Complete**
3. Replace the current ServiceNow label to 'ServiceNow - Lightkeeper' with new Helm Icon on the Access Boston TEST Environment --- **Complete**

[2021-12-08 19:28] g-grozier commented on #806
it was done!  To see use 050994 to log into Test.

[image: Screenshot 2021-12-08 142624.png]

[image: COB_B_Blue_square-01.png]

*Gretchen Grozier *(pronouns: she/her/hers)

Director of Identity & Access Management

Department of Innovation & Technology

617-635-3547 (w), 617-388-5317 (c)

On Wed, Dec 8, 2021 at 2:25 PM stephaniemar ***@***.***>
wrote:

[2021-12-08 19:30] stephaniemar commented on #806
I see it now- Perfect!

[2021-12-14 16:15] #806 closed, assigned to nobody

[2021-12-14 16:16] stephaniemar commented on #806
This work was completed 12/13 by @phillipbentonkelly

[2021-12-21 21:41] #812 closed, assigned to phillipbentonkelly

[2021-12-23 16:30] jimmurphy-boston opened #832 "Upgrade Registry Node"
Need to upgrade the Node version before we can properly test the Registry upload functionality

[2021-12-23 16:38] jimmurphy-boston opened #833 "Upgrade Staging to Node 11"

[2021-12-27 16:13] #833 closed, assigned to phillipbentonkelly

[2021-12-27 16:13] jimmurphy-boston commented on #833
not needed

[2021-12-27 16:24] jimmurphy-boston opened #834 "Upgrade Registry Staging to Node 12"

[2021-12-27 16:25] jimmurphy-boston opened #835 "Test Staging Node 12"

[2021-12-27 16:25] jimmurphy-boston opened #836 "Upgrade Registry Staging Node 15"

[2021-12-27 16:26] jimmurphy-boston opened #837 "Test Registry Staging Node 15"

[2021-12-27 16:27] jimmurphy-boston opened #838 "Upgrade Registry Staging to Node 16"

[2021-12-27 16:27] jimmurphy-boston opened #839 "Upgrade Registry Production to Node 16"

[2022-01-10 19:36] stephaniemar opened #871 "TDM Points App"
**Project Manager:** Stephanie Cariello
**Stake Holder:** BTD - Ala Mukahhal
**Primary Dev:** Stella Ubaha
**Secondary Dev:**
**UI:**Caroline Stjarnborg, Mary Kanu
**URL:** https://www.boston.gov/departments/transportation/transportation-demand-management-tdm-point-system
**Brief Description:** Convert Current TDM Points Tool, down loadable excel sheet, to an app on Boston.gov

[2022-01-11 19:48] stephaniemar opened #840 "Remove Banner from Access Boston Portal"
Please remove the following banner from the Access Boston Portal

NOTICE: Beacon, the new HR self-service portal, is now live! Look for the lighthouse icon below.

[2022-01-11 19:49] stephaniemar commented on #840
Hey @phillipbentonkelly -- added this per @g-grozier request. When you get a chance can you let us know when this can be done. Thanks!

[2022-01-12 14:37] phillipbentonkelly commented on #840
Deploying change this morning

[2022-01-12 14:38] stephaniemar commented on #840
@g-grozier -- Banner will be removed this morning. Thanks @phillipbentonkelly

[2022-01-12 19:53] #840 closed, assigned to nobody

[2022-01-12 19:53] stephaniemar commented on #840
All Set -- Banner is gone from ABP

[2022-01-25 16:34] stephaniemar opened #847 "put Cyberark onto Access Boston Portal"
timeframe for rollout is March 1
Small set of internal (DoIT) users so can be anytime of the day
Icon done already (another lock)
Will get you the Prod URL shortly
And the security group who will see this icon

[2022-01-25 16:35] stephaniemar commented on #847
Hey @davidrkupton and @duffy-james -- New request from Access Boston to review and prioritize. Looks like they have a March 1 date for going live.

[2022-01-25 16:50] davidrkupton commented on #847
OK thanks stephanie - Should this ticket be in the digital repo? Access Boston is an  app in that repo.

[2022-01-25 16:53] stephaniemar commented on #847
Yeah, I was not sure which repo to attach it to, I think i can update the repo

[2022-01-25 18:33] stephaniemar opened #848 "Remove Boston Gives Back icon from Access Boston Portal"
The Treasury Department just let us know they are decommissioning use of _Boston Gives Back_. The app is no longer active/accessible.  We will remove it from the IAM systems but also need to take it off the ABP as well.

Sooner the better....since anyone who clicks on it goes nowhere

[2022-01-25 19:15] #469 closed, assigned to nobody

[2022-01-25 19:16] stephaniemar commented on #475
We need to Touch base with Patty on this

[2022-01-25 19:19] stephaniemar commented on #476
Ask Patty about this one

[2022-01-25 19:19] stephaniemar commented on #478
Ask Patty

[2022-01-25 19:20] stephaniemar commented on #479
Ask Patty

[2022-01-25 19:23] stephaniemar commented on #482
Side bar is in different code bases.

[2022-01-25 19:24] stephaniemar commented on #551
Ask Patty

[2022-01-25 19:29] #551 closed, assigned to duffy-james

[2022-01-25 19:30] stephaniemar commented on #552
Hey @carolinestj is this something that needs to be done

[2022-01-25 19:30] #556 closed, assigned to nobody

[2022-01-25 19:32] carolinestj commented on #552
@stephaniemar I think it would be a good question to ask the group, I personally like the blue square button better then just the text option

[2022-01-25 19:33] stephaniemar commented on #557
This will be addressed from conversion stripe -->> invoice cloud

[2022-01-25 19:33] #557 closed, assigned to nobody

[2022-01-25 19:35] #558 closed, assigned to nobody

[2022-01-25 19:35] #559 closed, assigned to nobody

[2022-01-25 19:37] #583 closed, assigned to andreeaursu1981

[2022-01-25 19:40] stephaniemar commented on #584
This is a duplicate #585

[2022-01-25 19:40] #584 closed, assigned to nobody

[2022-01-25 19:41] #608 closed, assigned to nobody

[2022-01-25 19:44] #659 closed, assigned to phillipbentonkelly

[2022-01-25 19:49] #664 closed, assigned to nobody

[2022-01-25 19:51] #696 closed, assigned to phillipbentonkelly

[2022-01-25 19:57] stephaniemar commented on #751
Addressed in new drupal version of assessing online

[2022-01-25 19:58] #735 closed, assigned to nobody

[2022-01-25 19:58] #741 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2022-01-25 19:58] #750 closed, assigned to nobody

[2022-01-25 19:58] #751 closed, assigned to mmcgowanBOS

[2022-01-25 20:01] #761 closed, assigned to phillipbentonkelly

[2022-01-25 20:02] #756 closed, assigned to davidrkupton, mmcgowanBOS

[2022-01-25 20:02] #757 closed, assigned to phillipbentonkelly, andreeaursu1981

[2022-01-25 20:08] #771 closed, assigned to andreeaursu1981

[2022-01-25 20:14] #834 closed, assigned to phillipbentonkelly

[2022-01-25 20:14] #835 closed, assigned to phillipbentonkelly

[2022-01-25 20:14] #836 closed, assigned to phillipbentonkelly

[2022-01-25 20:14] #837 closed, assigned to phillipbentonkelly

[2022-01-25 20:14] #838 closed, assigned to phillipbentonkelly

[2022-01-25 20:14] #839 closed, assigned to phillipbentonkelly

[2022-01-25 20:14] g-grozier commented on #807
Is this work done?  We haven't actually integrated Ping TEST with Avolve
TEST yet....

On Tue, Jan 25, 2022 at 3:10 PM stephaniemar ***@***.***>
wrote:

[2022-01-25 20:21] stephaniemar commented on #847
Hi @phillipbentonkelly -- Can you take a look at this and assess how much time this will take so we can schedule it for the 3/1 launch. Also, let me know if you have questions, and if you need anything to complete this.

cc @davidrkupton

[2022-01-25 20:29] stephaniemar commented on #807
Sorry-- we are doing some clean up and this looked like an old ticket. I can re-open. So where are we with this, do you know? Do we need to finish?

[2022-01-26 15:51] stephaniemar commented on #848
Hey @phillipbentonkelly -- how long will something like this take. David, James and I met yesterday and we are hoping to knock to off the list for Gretchen.

[2022-01-26 15:52] stephaniemar commented on #825
@g-grozier I cannot remember is there a reason we are keeping this open?

[2022-01-26 15:57] g-grozier commented on #825
OHR had said they were going to make the updates for these 2 changes "in
January".
I think with additional COVID compliance they are underwater again.  So we
can close and re-open when they (if they) move ahead with changes. G.

[image: COB_B_Blue_square-01.png]

*Gretchen Grozier *(pronouns: she/her/hers)

Director of Identity & Access Management

Department of Innovation & Technology

617-635-35

[2022-01-26 15:58] g-grozier commented on #612
this app is unknown to me (in terms of a request to integrate it with Access Boston).  If the app owner is still interested we can re-open.

[2022-01-26 15:58] #612 closed, assigned to nobody

[2022-01-26 15:59] g-grozier commented on #772
Since no one has ever mentioned this to me, closing for now.  LAGAN is moving out of group management this spring (all being well) and that would be the major use case here.

[2022-01-26 15:59] #772 closed, assigned to nobody

[2022-01-26 16:12] g-grozier commented on #601
@stephaniemar this is still something we want to do.  I'm exploring hiring a web developer for our team given the constraints with Digital doing development work.  But if you could let me know when you might be able to do it...

[2022-01-26 16:14] g-grozier commented on #773
@stephaniemar this is another thing that would still be good to do and less effort perhaps.  When can Digital provide this?

[2022-01-26 16:42] phillipbentonkelly commented on #847
@stephaniemar this would take about an +1hour per deployment, I see no mention here of this being tested on their DEV/TEST environments. We should get a confirmation if they're doing that and what the URLs for those would be. Below are the fields we should always get from them.

- title [required]
- URL [required]
- icon
- groups [depends]

[2022-01-26 16:42] phillipbentonkelly commented on #848
@stephaniemar this would take about an hour to remove, let me know when you want it removed

[2022-01-26 16:56] stephaniemar commented on #848
Ok sound good @phillipbentonkelly I would say if you need a break from the Node work pick this up.
Let me know when you pick it up so I can send an update.
cc @davidrkupton

[2022-01-26 17:27] phillipbentonkelly commented on #848
Ok, I'll probably do it after our 2 pm meeting about Assessing.

[2022-01-26 18:51] stephaniemar commented on #848
@phillipbentonkelly Thanks, we do not have any one looking at this, I did update anyone that it was going to be done today. I can reach out to IAM once it is on test first to take a look. Just let me know. Also, I think David is trying to get me access to the environments so I can help moving forward.

[2022-01-26 21:15] phillipbentonkelly commented on #848
@stephaniemar this change is now on PROD, I don't think I'm in the group for this so I don't see the icon either way but ABP team can verify.

cc @davidrkupton

[2022-01-26 21:24] stephaniemar commented on #848
Thanks @phillipbentonkelly -- @g-grozier can you check this on your side? Thanks.

[2022-01-27 15:13] g-grozier commented on #848
Icon is gone!  Thanks for the speedy turnaround.

[2022-01-27 15:13] #848 closed, assigned to nobody

[2022-01-27 18:17] stephaniemar commented on #590
We should ask Sarah for appropriate funding Channel for this.

[2022-01-27 18:19] stephaniemar commented on #585
Draft some language for review with Patty's team around this

[2022-01-27 18:20] stephaniemar commented on #564
check with @davidrkupton on this one

[2022-01-27 18:25] stephaniemar commented on #479
Ideally in Birth, Death and Marriage - place to add a note. Ensure it is added to backend DB so the registry team sees the notes. This was hidden on Marriage because it was not connected to anything.
1. Unhide Marriage comments
2. Add to Birth and Death
3. Rich needs to build connection to back end for viewing

[2022-01-27 18:33] stephaniemar commented on #478
In Birth request --- Change spelling to Spellings- Plural-  in the Alternative Spelling field

[2022-01-27 18:35] #476 closed, assigned to nobody

[2022-01-27 18:36] #475 closed, assigned to nobody

[2022-01-27 18:48] stephaniemar commented on #478
Adding this to the following ticket https://github.com/CityOfBoston/digital/issues/661

[2022-01-27 18:48] #478 closed, assigned to nobody

[2022-01-27 19:15] stephaniemar opened #850 "Remove special character requirement from password"
Jira: [DIG-50 - Remove special character requirement from password](https://bostondoit.atlassian.net/browse/DIG-50)

The Feds issued new guidelines -- passwords can no longer require special characters.  We need to take that out of Ping and then off the 3 places in the UI where people see it

- AB account registration/Set Password

- Forgot Password

- Change Password

I would love to deploy this

[2022-01-28 14:19] davidrkupton commented on #564
I propose we close this one.  The link is dead (probably the event has been archived).
We can monitor rollbar errors and while there is one related to stripe that occurs after deploy which is somewhat concerning, there have never been any complaints from patty or users, so I suspect its more of a notice than an alert.
For good housekeeping, lets remove this and we can add back in a new, similar is

[2022-01-28 14:19] #564 closed, assigned to nobody

[2022-01-28 14:28] stephaniemar commented on #564
Yeah, Patty had no idea what this was.

[2022-02-01 15:47] stephaniemar opened #851 "Remove Employee Giving and Beacon Banner from Test"
Jira: [DIG-60 - Remove Employee Giving and Beacon Banner from Test](https://bostondoit.atlassian.net/browse/DIG-60)

Please remove Employee giving Icon and Beacon Banner from ABP Test Environment, see screenshots below

<img width="1281" alt="Screen Shot 2022-02-01 at 10 46 06 AM" src="https://user-images.githubusercontent.com/92751818/152001415-b660e5c6-cd6d-479a-b67b-040fdbc18fdc.png">

![Screen

[2022-02-03 20:30] stephaniemar commented on #847
@phillipbentonkelly security group for this is the following --SG_AB_CyberArk. I am following up with Gretchen on the other questions.

[2022-02-03 21:15] stephaniemar commented on #847
Cyberark icons
![password (1)](https://user-images.githubusercontent.com/92751818/152429935-3835cd1f-fee6-4e92-9324-486e648c111c.svg)
![password](https://user-images.githubusercontent.com/92751818/152429937-4b412ddd-4422-4d6b-9c39-1a8705768c45.png)

cc @phillipbentonkelly @davidrkupton

[2022-02-04 19:07] stephaniemar opened #852 "Identify Verification Link from ABP"
As a user I will see a Confirm ID badge on the Access Boston Portal, when clicked it will start the ID Verification process for non- integrated apps.

- [ ] New Badge will have the name Confirm ID
- [ ] When the new Confirm ID icon is clicked the user will start the new ID Verification Workflow for non- integrated apps

[2022-02-04 20:22] stephaniemar opened #853 "Begin Identity Verification Workflow Screen"
As a user if I click on the Identity Verification link from the ABP under support tools I will open the ID verification workflow.

On this first screen I will see the following:

- [ ] Access Boston with Logo at the top of the screen

- [ ] Introduction copy to the City of Boston's ID verification service

- [ ] Begin Verification button in blue, when clicked will start the ID Verification workflo

[2022-02-04 20:22] stephaniemar opened #854 "ID Verification Workflow Step 1 of 4"
As a user when I click the begin verification button on the intro screen I will be taken to the Step 1 of 4 screen of the Identity Verification process so I can verify if the user I am supporting is a COB employee.

- [ ]  The user sees a progress line at the top of the screen to indicate with step they are in the ID Verify process. This screen is Step 1 of 4

- [ ] The user sees Identity Verifica

[2022-02-04 20:22] stephaniemar opened #855 "ID Verification Workflow Step 2 of 4"
As a user will be taken to Step  2 of 4 of the ID Verification Process if I click the Next Step Button and  the User ID is verified via and API call

- [ ] The user sees a progress line at the top of the screen to indicate with step they are in the ID Verify process. This screen is Step 2 of 4

- [ ] The user sees the Identity Verification Process Header at the top of the screen

- [ ] The users s

[2022-02-04 20:22] stephaniemar opened #856 "ID verification Workflow Step 3 of 4"
As a user I will be taken to Step 3 of 4 of the ID Verification Process after I click the Next Step Button from the previous step in the workflow.

- [ ] The user sees a progress line at the top of the screen to indicate with step they are in the ID Verify process. This screen is Step 3 of 4

- [ ] The user sees the Identity Verification Process Header at the top of the screen

- [ ] The users see

[2022-02-04 20:23] stephaniemar opened #857 "Success Screen"
As a user will see a success message in green if the user information I entered is verified via an API call.

- [ ] The user sees a progress line at the top of the screen to indicate with step they are in the ID Verify process. This screen is Step 4 of 4

- [ ] Access Boston with Logo at the top of the screen

- [ ] The user sees the Identity Verification Process Header

- [ ] The user sees a Succ

[2022-02-04 20:23] stephaniemar opened #858 "Failure Screen"
As a user I will see a failure message in red if the information I entered is not verified via an API call.

- [ ] Access Boston with Logo at the top of the screen

- [ ] The user sees the Identity Verification Process Header

- [ ] The user sees a failure Message in red indicating the verification process was not successful

- [ ] The user sees instructions for both Employees and Sponsored accoun

[2022-02-04 20:23] stephaniemar opened #859 "Quit Identify Verification Process Screen"
As a user if I click the red quit button on any of the ID Verification Workflow screens, I will be taken to the Quit Identity Verification Process screen.

- [ ] Access Boston with Logo at the top of the screen

- [ ] The user sees **Quit Identity Verification Process** header at the top of the screen

- [ ] The user sees language confirming they want to quick the ID Verification Process and any c

[2022-02-07 16:40] stephaniemar opened #860 "Emergency Alerts Text only version"
Project Manager:
Stakeholder: James Duffy
Primary Dev:
Additional Dev:
UI:
URL:
Brief Description: Text only version of Boston.gov - low bandwidth

Content Selection component

[2022-02-07 16:40] stephaniemar opened #861 "Swapping out Maps"
Project Manager:
Stakeholder:
Primary Dev:
Additional Dev:
UI:
URL:
Brief Description: DND - My Neighborhood look up - new Maps standard

[2022-02-07 16:41] stephaniemar opened #862 "Boston.gov Design Review"
Project Manager:
Stakeholder:
Primary Dev:
Additional Dev:
UI:
URL:
Brief Description: Review design of Boston.gov

Could utilize an outside vendor for a light review of site for recommendations
- User interaction

[2022-02-07 16:41] stephaniemar opened #863 "Parking Department Payments"
Project Manager:
Stakeholder: Parking Dept
Primary Dev:
Additional Dev:
UI:
URL:
Brief Description: Setting up a better process for paying/appealing parking tickets (Xerox?)

Lower Priority

[2022-02-07 16:41] stephaniemar opened #864 "Elections* Possibly Legacy"
Project Manager:
Stakeholder:
Primary Dev:
Additional Dev:
UI:
URL: https://www.boston.gov/departments/elections/unofficial-election-results
Brief Description: Unofficial election results simplifications
to decomission iias server- this needs to be addressed

[2022-02-07 16:41] stephaniemar opened #865 "Add covid information to My Neighborhood Lookup"
Project Manager:
Stakeholder:
Primary Dev:
Additional Dev:
UI:
URL: https://www.boston.gov/my-neighborhood
Brief Description: Adding Vaccine/Testing Locations to My Neighborhood Lookup

[2022-02-07 16:41] stephaniemar opened #866 "Animal/Dog License-Phase 2"
Project Manager: James Duffy
Stakeholder: Animal Control
Primary Dev: David Upton
Additional Dev:
UI:
URL:
Application: https://www.cityofboston.gov/animals/licenseapp/Default.aspx
Search: https://www.cityofboston.gov/animals/owners.asp

Brief Description: - Front end work to move animal licensing workflows from City of Boston to Boston.gov

[2022-02-07 16:42] stephaniemar opened #867 "Employee Verification - Non Integrated Apps"
**Project Manager**: Stephanie Cariello
**Stakeholder:** IAM/Security - Gretchen Grozier
**Primary Dev:** Phillip Kelly
**Additional Dev:**
**UI:** Mary Kanu
**URL:** https://access.boston.gov

Brief Description: Provide an identity verification workflow on Boston.gov for support staff when they need to reset passwords for integrated apps.

[2022-02-07 16:42] stephaniemar opened #868 "Building Housing"
**Project Manager:** James Duffy
**Stakeholder:** DND
**Primary Dev:** TBD
**Additional Dev:**
**UI:**
**URL:** https://www.boston.gov/buildinghousing
**Brief Description:**

[2022-02-07 16:42] stephaniemar opened #869 "BPHC Migration"
**Project Manager:** Rachel Sater
**Stakeholder:** BPHC
**Primary Dev:** Stella Uhbaha
**Additional Dev:**
**UI:**
**URL:** https://www.boston.gov/departments/public-health-commission
**Brief Description:**

[2022-02-08 15:16] #869 closed, assigned to nobody

[2022-02-11 16:22] g-grozier commented on #847
their is no Dev environment for Cyberark.  Test environment details are on this sheet https://docs.google.com/spreadsheets/d/1OiH2HBLE55X8MzGaB7H9VC_a2WpQQcjV4-eyNpJGTPY/edit?usp=sharing

I have seen the icon on Dinesh's screen so I think it was deployed (it would have been beginning of pandemic timeframe)

[2022-02-14 15:47] stephaniemar commented on #847
Cyberark information:

NOTE: There is no Dev Environment

**title**
Cyberark
**URL**
Test: https://sso-test.boston.gov/idp/startSSO.ping?PartnerSpId=PasswordVault
Prod: https://sso.boston.gov/idp/startSSO.ping?PartnerSpId=PasswordVault
**icon**
See icon in comment above
**groups**
Test: SG_AB_CyberArk
Prod: SG_AB_CyberArk

[2022-02-14 20:45] stephaniemar commented on #847
Hi -- I just confirmed the following with Gretchen (@g-grozier)

1. This is already on Test and has been tested - Dinesh confirmed.
2. We just need to deploy to prod on March 1st - we can do Feb 28
3. I will submit a Change request form for the deployment a week before March
(https://app.smartsheet.com/b/form/da53144d80704598bf297e4b5d98d67b)

@phillipbentonkelly let me know if you have any questi

[2022-02-17 15:41] stephaniemar opened #872 "New banner for Beacon downtime on ABP"
HR is releasing a Prod update to Beacon Monday 2/21. We need a banner on APB to announce Beacon will not be available on 2/21 for users.

Banner language: **Beacon will not be available on Monday, February 21 due to a system upgrade** --- In Red

@phillipbentonkelly @davidrkupton @g-grozier

[2022-02-17 20:23] stephaniemar commented on #872
Hi @phillipbentonkelly @davidrkupton is this something we can get up by tomorrow morning for users?

[2022-02-22 16:50] #872 closed, assigned to nobody

[2022-02-22 17:06] stephaniemar commented on #847
@phillipbentonkelly @davidrkupton -- I filling out the Change Management form for the Cyberark work. I need to put in a start and end date. Should we schedule to do this Monday 2/28, so it is available 3/1?

[2022-02-22 17:42] davidrkupton commented on #847
I think the ticket just needs to note the time the change will be affected,
which is a duration of 20mins at whatever time we agree with Gretchen we
put this live on 3/1 or 2/28.

On Tue, Feb 22, 2022 at 12:06 PM stephaniemar ***@***.***>
wrote:

--

[image: COB_B_Blue_square-01.png]

David Upton

Digital Team / Operations Team

Department of Innovation and Technology

781 330 5041 (c)

[2022-02-22 18:56] g-grozier commented on #847
how precise can I go ..... 3:26pm on 2/28?
In all seriousness, we are launching this tool with the LAN team as the
pilot group so anytime on 2/28 or 3/1 would be good.
If we can aim for prior to noon on 3/1 -- that will give us time to confirm
with the pilot group they can see the icon/access the app.

Thank you!  G.

On Tue, Feb 22, 2022 at 12:42 PM David Upton ***@***.***>
wrote:

[2022-02-22 18:58] stephaniemar commented on #847
I talked to Phil and I put after 3:30 on 2/28, that way it is there in the morning of 3/1

[2022-02-28 20:46] stephaniemar commented on #847
Linking the Portal Access Sheet here: https://docs.google.com/spreadsheets/d/1OiH2HBLE55X8MzGaB7H9VC_a2WpQQcjV4-eyNpJGTPY/edit#gid=0

[2022-02-28 21:30] phillipbentonkelly commented on #847
@g-grozier, the deploy is done.

[2022-02-28 21:33] g-grozier commented on #847
Thanks - I have confirmation from two pilot users that they can see it.

On Mon, Feb 28, 2022 at 4:30 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-02-28 21:36] #847 closed, assigned to nobody

[2022-03-07 18:13] stephaniemar opened #874 "Update to Cyberark link (should be https://pam.boston.gov/)"
We provided the SP initiated link to you not the IDP one.  Please update icon to point to https://pam.boston.gov/

[2022-03-07 18:15] stephaniemar commented on #874
@phillipbentonkelly @davidrkupton --- Hey-- We need to update the Cyberark URL-- we were giving the wrong one by mistake . Is this an easy update?

[2022-03-07 18:44] phillipbentonkelly commented on #874
@stephaniemar it is, when do we need to do it

[2022-03-07 18:46] stephaniemar commented on #874
@phillipbentonkelly We should probably do it today so the users go to the right place when they click the icon.

[2022-03-07 19:58] phillipbentonkelly commented on #874
@stephaniemar deployed

[2022-03-07 20:01] stephaniemar commented on #874
Thanks @phillipbentonkelly. @g-grozier This should be all set now.

[2022-03-07 20:01] #874 closed, assigned to nobody

[2022-03-09 14:53] stephaniemar opened #875 "Access Boston - Tanium"
New application = Tanium
Endpoint management tool
Icon requested on 3/8
SG_AB_TANIUM

URL for **TEST** = boston.cloud.tanium.com

[2022-03-09 14:54] stephaniemar commented on #875
Icon
![Tanium](https://user-images.githubusercontent.com/92751818/157466705-250960cc-6962-4761-ab80-ee90079ee7af.png)

[2022-03-09 14:56] stephaniemar commented on #875
@phillipbentonkelly @davidrkupton this just came in from Access Boston -- Is this something we can do today? It needs to go onto test.

[2022-03-09 15:42] g-grozier commented on #875
![secure svg](https://user-images.githubusercontent.com/91092683/157476284-3ad63d3d-45e2-4984-96ea-a6df5dea5b30.png)
this is SVG

[2022-03-09 18:39] davidrkupton commented on #875
@stephaniemar I'm fine if its a small job. Phill could do with a break from registry...

[2022-03-09 18:42] stephaniemar commented on #875
@davidrkupton Sounds Good @phillipbentonkelly let me know your timing and then we can update Access Boston Folks.

[2022-03-09 18:53] g-grozier opened #876 "Access Boston- FHE Salesforce"
app name = FHE Salesforce   [FHE stands for Fair Housing & Equity]
icon = house option 1  [asked Caroline for svg version]
![House Option 1](https://user-images.githubusercontent.com/91092683/157511002-2c93eafe-703b-453e-acf8-93911fb7e0d2.png)
TEST URL = https://cob--uat.my.salesforce.com/
Group = SG_AB_FHESALESFORCE

[2022-03-09 18:58] g-grozier commented on #876
![house_2](https://user-images.githubusercontent.com/91092683/157512282-547c9510-38a4-4917-9664-59455da45380.svg)
SVG version

[2022-03-09 18:59] stephaniemar commented on #876
@phillipbentonkelly Here is another one for the Test environment if you have time while you are updating it with the other ticket.

@davidrkupton

[2022-03-09 19:00] phillipbentonkelly commented on #875
@stephaniemar I can deploy staging (TEST) tomorrow

[2022-03-09 19:02] phillipbentonkelly commented on #876
@stephaniemar I can do both tomorrow

[2022-03-09 19:02] stephaniemar commented on #875
@phillipbentonkelly Ok, sounds good. Will you be able to squeeze in https://github.com/CityOfBoston/digital/issues/876 while you are doing that?

[2022-03-09 19:31] g-grozier commented on #876
Prod URL will be cob.mysalesforce.com

[2022-03-09 20:07] stephaniemar commented on #876
@g-grozier This only needs to go on Test for now though, correct? Phil said he will be able to deploy both Icons tomorrow.

[2022-03-09 20:13] g-grozier commented on #876
Yes, just to TEST -- we have both groups on standby to test there ....so
Prod deploy maybe next week? or week after

On Wed, Mar 9, 2022 at 3:08 PM stephaniemar ***@***.***>
wrote:

[2022-03-10 13:54] g-grozier commented on #807
The vendor (Avolve) cannot support single logout -- so this app will be intergrated with Access Boston but NOT be on the Portal. Closing out this ticket

[2022-03-10 13:54] #807 closed, assigned to nobody

[2022-03-10 14:19] stephaniemar commented on #807
@phillipbentonkelly @davidrkupton Just FYI -- this one has been closed

[2022-03-10 15:49] stephaniemar commented on #875
@phillipbentonkelly Any updated on these tickets? Can I move them to done?

[2022-03-10 16:13] phillipbentonkelly commented on #875
@stephaniemar gonna deploy them at 2pm

[2022-03-10 19:01] phillipbentonkelly commented on #876
Deploy is done

[2022-03-10 19:01] phillipbentonkelly commented on #875
Deploy (TEST) is done

[2022-03-11 15:40] g-grozier commented on #875
@phillipbentonkelly Phil C reports The Tanium Tile points to the wrong address:
It points to https://access-test.boston.gov/boston.cloud.tanium.com
It should point to https://boston.cloud.tanium.com/
Please fix!

[2022-03-11 16:07] phillipbentonkelly commented on #875
fix deployed

[2022-03-11 16:08] stephaniemar commented on #875
@g-grozier Can you or someone test quickly to make sure it is all set.

[2022-03-11 16:11] g-grozier commented on #875
Phil C reports the Tanium tile on Test Portal is now working...

On Fri, Mar 11, 2022 at 11:07 AM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-11 16:13] stephaniemar commented on #875
Great. I will close this and mark it as done

[2022-03-11 16:13] #875 closed, assigned to nobody

[2022-03-11 16:14] stephaniemar commented on #876
@g-grozier Does this one look good?

[2022-03-11 16:18] g-grozier commented on #876
Test users all say it is good.
Will coordinate a Prod go-live date with them next week. G.

On Fri, Mar 11, 2022 at 11:14 AM stephaniemar ***@***.***>
wrote:

[2022-03-11 16:28] stephaniemar commented on #876
Great. Will close this ticket

[2022-03-11 16:28] #876 closed, assigned to nobody

[2022-03-11 16:28] stephaniemar commented on #876
@rachelsater Closing this ticket but there will be a similar request next week for this to move to Prod.
cc @phillipbentonkelly @davidrkupton

[2022-03-11 16:29] stephaniemar commented on #875
@rachelsater Closing this ticket but there will be a similar request next week for this to move to Prod.
cc @phillipbentonkelly @davidrkupton

[2022-03-15 15:36] g-grozier opened #877 "Deploy Tanium to PROD"
On Thursday 3/17 add the Tanium icon to Production
URL = https://boston.cloud.tanium.com
Group = SG_AB_TANIUM

[2022-03-15 18:17] g-grozier opened #878 "Update ESS tile on DEV Access Boston Portal to the new cloud URL"
[DIG-51 - Update ESS tile on DEV Access Boston Portal to the new cloud URL](https://bostondoit.atlassian.net/browse/DIG-51)

Can we make the ESS tile in the Development environment of the ABP point to the cloud version (post upgrade) please?

https://ess-awsdev.boston.gov

We want to do a little smoke testing there if possible

[2022-03-15 19:28] phillipbentonkelly commented on #877
PROD Deploy @4pm 3/17

[2022-03-16 17:17] phillipbentonkelly commented on #877
@g-grozier I usually do PROD deploys at 4pm on the day of. I see in my calendar a meeting for 9AM tomorrow for this, if the intention is for the deploy to be done/ready for tomorrow AM then I need to deploy EOD today. Can you clarify when?

cc'd: @davidrkupton, @rachelsater

[2022-03-17 17:57] g-grozier opened #881 "FHE Salesforce to Prod 3/28"
By start of day 3/28 add the FHE SF icon to Production  [house]
URL = https://cob.my.salesforce.com
Group = SG_AB_FHESALESFORCE

[2022-03-17 18:37] phillipbentonkelly commented on #881
@g-grozier my schedule now is from 10am-6pm ... I can deploy this either EOD 3/25 or 10AM 3/28

@rachelsater

[2022-03-17 18:40] g-grozier commented on #881
this just has to be ready for 9am on 3/28 but you can start late afternoon
on 3/25
Or if you want to do it in your jammies over the weekend that works too!
 : )

On Thu, Mar 17, 2022 at 2:38 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-17 18:44] phillipbentonkelly commented on #881
Ok, I'll deploy it EOD 3/25 👍

[2022-03-17 20:15] phillipbentonkelly commented on #877
@g-grozier, @rachelsater deploy is done.

[2022-03-17 20:20] g-grozier commented on #877
emailing Phil to check it out. Thanks Phill

On Thu, Mar 17, 2022, 4:16 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-18 12:13] g-grozier commented on #877
Phil says he doesn't see the Tanium group to manage...he has the right
group in FID.  Is that a Portal thing (you need to set it up somehow)?
SG_AB_GRPMGMT_TANIUM

[image: Cheetham.png]

On Thu, Mar 17, 2022 at 4:16 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-18 14:41] phillipbentonkelly commented on #877
When we found the issue on the TEST environment, was he able to see and edit groups after he was added to the mgmt-group (SG_AB_GRPMGMT_TANIUM)?

[2022-03-18 14:45] g-grozier commented on #877
Yes...but he's not seeing in Prod despite being in that group (GRPMGMT)

On Fri, Mar 18, 2022 at 10:41 AM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-18 14:47] phillipbentonkelly commented on #877
On PROD, is he `also` in the `SG_AB_TANIUM` group? He needs both

- SG_AB_TANIUM - Let's you see the icon/link
- SG_AB_GRPMGMT_TANIUM - Let's you manage the group

[2022-03-18 14:50] g-grozier commented on #877
![Cheetham](https://user-images.githubusercontent.com/91092683/159025741-0bbbc315-dabc-47e2-b3c2-61f7100e6a24.png)

[2022-03-18 14:51] g-grozier commented on #877
please look at the screenshot I included

On Fri, Mar 18, 2022 at 10:47 AM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-18 17:23] phillipbentonkelly commented on #877
taking a look

[2022-03-18 18:05] phillipbentonkelly commented on #877
@g-grozier I look him up by ID on the PROD and endpoint and he is those two groups. I am able to see to see on the TEST environment (code is the same), I restarted the PROD servers, can you ask him to check again and look for the [logo](https://assets.boston.gov/icons/experiential_icons/secure.svg). Is there anybody else I can lookup (PROD) that is also on that group, could you pass along a couple

[2022-03-18 18:12] g-grozier commented on #877
3 people in that group:
Alex T   145645
Rashad 133406
Phil C 116191

each should be in SG_AB_TANIUM and SG_AB_GRPMGMT_TANIUM.
No probs with login, just group management

On Fri, Mar 18, 2022 at 2:05 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-18 18:18] phillipbentonkelly commented on #877
Can Alex and Rashad see the icon? Does link work for them if they can see it.

[2022-03-18 18:31] g-grozier commented on #877
Rashad left early (something with his car).  Alex is working from home I
think, but I'll chat him

I think if they could not see it we'd have heard for sure!

On Fri, Mar 18, 2022 at 2:18 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-18 18:46] g-grozier commented on #877
Alex can see the Tanium icon and access the app

On Fri, Mar 18, 2022 at 2:18 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-18 18:57] g-grozier commented on #877
Alex is good for Group Management too (Phil C must have weird data or
something)

On Fri, Mar 18, 2022 at 2:31 PM Gretchen Grozier <
***@***.***> wrote:

[2022-03-18 19:11] phillipbentonkelly commented on #877
Ok, can we close this ticket then

[2022-03-18 22:06] phillipbentonkelly commented on #881
deployed

[2022-03-19 11:40] g-grozier commented on #881
the date was March 28th, please remove from Prod

On Fri, Mar 18, 2022, 6:07 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-21 13:46] #877 closed, assigned to nobody

[2022-03-21 13:49] rachelsater commented on #878
@g-grozier Can we please discuss this ticket in today's meeting? We would like more clarification on the testing and when this needs to be ready for your team.

[2022-03-21 13:54] g-grozier commented on #825
Before closing a ticket, please confirm if the work has been completed.  OHR is still planning on doing this...just not sure when

[2022-03-21 13:59] rachelsater commented on #825
Sorry I thought your comments from Jan 26 implied the work was completed.

[2022-03-21 14:02] rachelsater commented on #803
@g-grozier Hi, is this something you still want us to work on? If yes, I'll move this ticket to the backlog

[2022-03-21 14:04] g-grozier commented on #803
Yes, anything open is work that still needs to be done.

On Mon, Mar 21, 2022 at 10:02 AM rachelsater ***@***.***>
wrote:

[2022-03-21 14:10] davidrkupton opened #882 "ESS tile in TEST Access Boston Portal is directing to PROD environment"
Jira: https://bostondoit.atlassian.net/browse/DIG-61

the ESS tile seems to be using ess.boston.gov (the Production environment) - should be going to a TEST environment?

[2022-03-21 14:11] rachelsater commented on #882
@g-grozier This was a draft ticket. Is this an issue for us to work on?

[2022-03-21 14:18] g-grozier commented on #882
I was told to put things into the Project and once the DIgital team had
discussed they would move it into an issue.
Please just clarify what process you need me to follow -- happy to do
whatever but the constant changing is a bit hard to manage

On Mon, Mar 21, 2022 at 10:11 AM rachelsater ***@***.***>
wrote:

[2022-03-21 14:52] rachelsater commented on #882
Gotcha. Sorry I didn't know that was the process. it's all good

On Mon, Mar 21, 2022 at 10:18 AM Gretchen Grozier ***@***.***>
wrote:

[2022-03-21 15:24] duffy-james opened #883 "Need to redirect redirect RentSmart application"
We need to redirect rentsmart.boston.gov (resolving to https://rentsmart.boston.gov/index.html) to this url:

https://data.boston.gov/dataset/rentsmart

For our records, as of March 21, 2022:
rentsmart.boston.gov currently --- CNAMEs to --- rentsmart.boston.gov.herokudns.com

@davidrkupton discussed the possibility of redirecting to Drupal, and then redirecting from Drupal to the dataset.

[2022-03-21 15:42] davidrkupton commented on #883
OK so my plan is:
- [ ] Use the [redirect_domain](https://www.drupal.org/project/redirect) sub-module of [redirect module](https://www.drupal.org/project/redirect) already installed.
- [ ] enable on Acquia `dev`
- [x] ask Frank to register a new subdomain `jd.boston.gov` and redirect CNAME to **d8-dev.boston.gov**
- [ ] On Acquia Cloud portal, register **jd.boston.gov** as a domain for the `develo

[2022-03-22 18:53] duffy-james commented on #883
@davidrkupton Frank has registered a new subdomain jd.boston.gov and redirected CNAME to d8-dev.boston.gov

[2022-03-22 20:54] davidrkupton commented on #883
OK we can look at this tomorrow.

On Tue, Mar 22, 2022 at 2:53 PM James Duffy ***@***.***>
wrote:

--

[image: COB_B_Blue_square-01.png]

David Upton

Digital Team / Operations Team

Department of Innovation and Technology

781 330 5041 (c)

[2022-03-23 12:45] g-grozier opened #884 "Group Management not working as expected"
Gretchen (102214) goes into Group Management and searches for groups she can manage (FHESALESFORCE, I'm in the SG_AB_GRPMGMT_FHESALESFORCE group).  No results found.  I think the groups I manage should be listed.
![Screenshot 2022-03-23 083242](https://user-images.githubusercontent.com/91092683/159702715-e7a039bc-5fb0-4369-9bdb-0142678095a9.png)
Phil C had same issue last week and some sort of twe

[2022-03-23 14:44] rachelsater commented on #884
@g-grozier Hi, is this the priority over the Identity work Phil is currently doing?

[2022-03-23 14:46] g-grozier commented on #884
This is a production issue - so yes, it's the priority.

On Wed, Mar 23, 2022 at 10:44 AM rachelsater ***@***.***>
wrote:

[2022-03-23 14:51] rachelsater commented on #884
Ok thanks! Phil will start looking into this today and will get back to you with any questions. Also, this will potentially push back the Identity work.

[2022-03-23 14:54] g-grozier commented on #884
Given we've been waiting for 4 months a few hours won't matter.

On Wed, Mar 23, 2022 at 10:51 AM rachelsater ***@***.***>
wrote:

[2022-03-23 14:56] rachelsater commented on #884
fab!

Can you please add Phil to the Group test and prod environments so he can triage?

[2022-03-23 14:58] phillipbentonkelly commented on #884
My account IDs
TEST Env: 40000093
PROD Env: 40001390

[2022-03-23 14:58] g-grozier commented on #884
he's the developer of those environments.  He is already in them?

On Wed, Mar 23, 2022 at 10:56 AM rachelsater ***@***.***>
wrote:

[2022-03-23 15:06] phillipbentonkelly commented on #884
I am not in that group, I can't just give myself access them.

Those accounts below:

PROD
![image](https://user-images.githubusercontent.com/2627273/159730256-c1472960-6fdb-4c57-b95b-ef35bceca911.png)

TEST
![image](https://user-images.githubusercontent.com/2627273/159730515-0a952446-ea08-4e7d-8b93-4bab9e639026.png)

I need to be added to these on PROD and TEST so I can test better by myself ...

[2022-03-23 15:09] g-grozier commented on #884
We can put you into some group management groups in TEST if that is helpful.
I'd prefer you work there - but can you check the users who are having
issues and see why it's not working for them?

[image: COB_B_Blue_square-01.png]

*Gretchen Grozier *(pronouns: she/her/hers)

Director of Identity & Access Management

Department of Innovation & Technology

617-635-3547 (w), 617-388-5317 (c)

On Wed,

[2022-03-23 15:11] phillipbentonkelly commented on #884
Which users are these (IDs)? and what was the change you did to Phil C account

[2022-03-23 16:04] g-grozier commented on #884
the 2 people who are having the issue are in the ticket opening statement
(Rashad and I) - at least, that is who I know of.
I'm assuming other app owners would say if it wasn't working for them...but
that is a big assumption.

I don't know what was done for Phil C -- David said he updated the ticket
(in TrackIT)

On Wed, Mar 23, 2022 at 11:11 AM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-23 18:00] phillipbentonkelly commented on #884
@g-grozier

OK, we don't have access to TrackIt, would you be able to share what it says?

I took at look at PROD & TEST

- Rashad is missing both `SG_AB_FHESALESFORCE` and `SG_AB_GRPMGMT_FHESALESFORCE` groups in PROD and TEST
![image](https://user-images.githubusercontent.com/2627273/159765318-dd25660d-3e02-46d4-a84b-3dfafe1ab3b4.png)
![image](https://user-images.githubusercontent.com/2627273/159

[2022-03-23 19:43] g-grozier commented on #884
@davidrkupton told me he updated the TrackIT - so he should be able to tell you what he wrote.
I am in the SG_AB_GRPMGMT_FHESALESFORCE group in Prod and that is where I need to work and where I am reporting the issue

[2022-03-23 19:47] davidrkupton commented on #884
I dont have access to trackit either, no-one at all in Digital does, in I was talking about our tickets in Github, principally this ticket.

[2022-03-24 16:07] davidrkupton opened #885 "Modify Group Management Authorization"
Jira: https://bostondoit.atlassian.net/browse/DIG-63

Requirement for modified functionality of the GROUPMGMT functions of Access Boston.

[2022-03-24 16:39] g-grozier commented on #884
Peter put me in the SG_AB_SALESFORCE group and after LDAP sync, I can see it in my Group Management area.

[2022-03-24 16:39] #884 closed, assigned to nobody

[2022-03-24 16:41] davidrkupton commented on #885
Access Boston has a limited capability to manage groups that exist within FID: adding and removing users from the group.
This functionality is granted to users based upon the groups that they are a member of at the time they login to Access Boston.

There are 2 levels of groups which apply to Access Boston Apps.
- **GroupMgmt Group** with cn in format:  e.g. `SG_AB_GRPMGMT_application`
- **Applica

[2022-03-24 19:35] davidrkupton commented on #885
@g-grozier I think this summarizes things.
To keep track, I think maybe you should paste comments as new github comments in this issue and I will edit my original.

One thing as a comment, the method of identifying the relationship between GRPMGMT groups and Application Groups is going to be very prone to errors.
I notice that we do not appear use the `ou` attribute of the FID/LDAP record.  For th

[2022-03-24 19:40] g-grozier commented on #881
@phillipbentonkelly Hi, we got the wrong URL for Prod - it's [https://cob.my.salesforce.com](https://cob.mysalesforce.com/)
there is a period between the my and the salesforce.  Can you add that in before Monday morning pls?  (Sorry!!)

[2022-03-25 15:47] phillipbentonkelly commented on #881
@g-grozier @rachelsater change is deployed

[2022-03-25 16:01] g-grozier commented on #881
Looks good, thanks you

On Fri, Mar 25, 2022 at 11:47 AM Phillip B. Kelly ***@***.***>
wrote:

[2022-03-25 19:01] g-grozier commented on #885
@davidrkupton looks good to me too. Would need to ask Navan/Peter/Sam what LOE would be to leverage OU attributes in FID.
I also want to get the business context here - for app owners who want to be able to manage their own user group (ie. the app isn't birthright) we want them to have that fully self-service functionality via the Access Boston Portal.   They can or remove anyone (with an account)

[2022-03-29 13:00] #881 closed, assigned to nobody

[2022-03-29 18:08] g-grozier commented on #852
have an icon from Caroline:
![badge icon](https://user-images.githubusercontent.com/91092683/160677003-92c8952a-e16f-4135-a6c0-a2b35c55db6f.svg)

[2022-03-29 18:31] g-grozier commented on #852
![id_badge](https://user-images.githubusercontent.com/91092683/160680782-8800af32-b5c8-41b7-8a23-0edf592efa91.svg)

[2022-03-30 16:17] rachelsater commented on #885
Phil said this will be about 2 weeks of work. Gretchen said it's a low priority and Confirm ID (identity verification) is the top priority right now

[2022-03-30 20:10] g-grozier commented on #852
@phillipbentonkelly I asked for new URLs for this process and Frank said "EXTERNAL records: I'll need to know the public IP or CNAME to point to".  Can you provide the CNAME/IP please?  For Test and Prod.

[2022-04-01 13:10] g-grozier commented on #852
@phillipbentonkelly here are the URLs that Sam just sent:
Dev - [http://zdiiqtk01:8086/identityiq](https://urldefense.proofpoint.com/v2/url?u=http-3A__zdiiqtk01-3A8086_identityiq&d=DwMFaQ&c=jHPlKdF3zLuO12CD8lDt5g&r=aesSyTKyBo1wXq0uHcul0Feqg6FKycBjrxbfUZS7AMA&m=AzswvUfzP7hhlAPGzip2uX-CdJ_vq1dJ9T6EaRnwJco&s=sfic4w-WcMgaZanS4aGpznBWMd9YJk0wijZRVs4Slvg&e=)

Test- [http://sailpoint-test.cityhall.boston

[2022-04-01 13:13] davidrkupton commented on #884
This issue has been transferred to #601

[2022-04-01 19:52] phillipbentonkelly commented on #852
@g-grozier I emailed this, putting here too for ref.

Checking out those endpoints they return 401 'no access' errors for DEV & PROD. Is this happening because `BASIC AUTH` credentials (username/password) are different for each of them and what we have is the user/pass for just TEST?

### DEV
![unnamed](https://user-images.githubusercontent.com/2627273/161331971-abf0c173-dee1-4717-ad4c-5a8744506f5

[2022-04-04 12:14] g-grozier commented on #852
My team doesn't work in Digital GitHub.  @phillipbentonkelly if you have questions you can either email (which I believe you did) or better yet set up a quick meeting.

[2022-04-04 14:04] rachelsater commented on #852
Thanks Gretchen! Phil emailed the team the same info last Friday.

[2022-04-05 18:47] g-grozier opened #888 "Access Boston Registration bug"
When a user sets up MFA they can choose to use email for their second factor (but it's a wee link at the bottom to discourage them).  If they do choose to use email -- the system is supposed to check against the City's domains and NOT let them register using an City email (bpl.org, boston.gov, etc).

I'm looking at users who have enrolled for PingID with email as their primary second factor and al

[2022-04-05 18:51] g-grozier commented on #888
specifically found bpl.org, boston.gov and bostonpublicschools.org in the registered email addresses

[2022-04-06 14:12] davidrkupton commented on #888
The blacklist is as follows (from the portal in the first comment):
- boston.gov
- pd.boston.gov
- bostonpublicschools.org
- bpl.org
- cityofboston.gov
- ci.boston.ma.us
- boston.k12.ma.us
- bphc.org

[2022-04-06 14:26] g-grozier commented on #888
I just added *bphc.org <http://bphc.org>* to the list (on the Sheet).  We
are in the process of integrating with the Public Health Commission so as
long as we are in there, let's just add them now.

On Wed, Apr 6, 2022 at 10:13 AM David Upton ***@***.***>
wrote:

[2022-04-06 15:49] phillipbentonkelly commented on #888
Est. 3hr

@g-grozier I am going to need to work with someone on your team to integrate and test this; that will require at least an hour meeting tomorrow or Friday. Last time I worked with Navan but you let know who's available that knows about this on your team and invite them. Also, they'll need to have a couple of accounts ready to test with.

cc: @davidrkupton, @rachelsater

[2022-04-06 18:37] davidrkupton commented on #888
@g-grozier
We have found this code in the main Access Boston application.
We can add validation to the email address before it is submitted to Ping/FID to check the email address is not on the domains listed above.
In order to test, could we have 3 usernames and passwords for accounts that are in the "Needs Registration" status on the Test environment.

[2022-04-13 14:37] rachelsater commented on #852
@g-grozier can you please let us know the group name? thanks

[2022-04-13 14:41] g-grozier commented on #852
It's on the Portal Content sheet. Can you all please look at the
requirements doc - which is how we make sure reqs are captured?
https://docs.google.com/spreadsheets/d/1OiH2HBLE55X8MzGaB7H9VC_a2WpQQcjV4-eyNpJGTPY/edit?usp=sharing

SG_AB_CONFIRMID

On Wed, Apr 13, 2022 at 10:37 AM rachelsater ***@***.***>
wrote:

[2022-04-20 12:24] g-grozier opened #889 "Access Boston Banner Pre-BAIS Mod Cutover"
Add a banner to the Access Boston Portal on 4/28 stating:
Notice: BAIS cutover scheduled for 5/19 to 5/22. The HCM, FN and ESS applications will not be available.

(this is Gretchen's text still need to confirm with BAIS folks!)

[2022-04-20 12:25] g-grozier opened #890 "Remove Access Boston Banner Post-BAIS Cutover 5/23"
On 5/22 (if BAIS Cutover occurs successfully) put a banner on Access Boston Portal

BAIS Modernization completed on 5/22!  If you have issues with HCM, FN or ESS applications please report them using this form.

Need to confirm text with BAIS and get the right link for the form

[2022-04-20 15:20] stephaniemar commented on #889
@phillipbentonkelly @davidrkupton -- For these types of requests do you want to have separate tickets for updating test and PROD? We can have one ticket that has all the info you need to update the test environment for testing then a separate ticket specifically for deploying to PROD with specific dates.
Let me know what you think works best and I can update and add the tickets.

[2022-04-20 19:53] phillipbentonkelly commented on #889
Usually we would prefer separate tickets but this is simple enough for one if remember we need to check on both environments.

[2022-04-21 12:41] stephaniemar commented on #889
Ok. I will write out all the steps for each ticket so we know exactly what to do.

[2022-04-21 14:41] stephaniemar commented on #889
We will be adding a banner to ABP for the BAIS Mod Cutover to alert users IAM systems will be unavailable.

- [ ] Date needed on PROD: 4/28/2022 - 5/22
- [ ] Applications unavailable: HCM, FN, ESS
- [ ] Message for Banner: BAIS cutover is scheduled for 5/19 to 5/22. The BAIS HCM, BAIS FN and Employee Self-Service applications will not be available
- [ ] Add this banner to test 4/26?
- [ ] Deploy t

[2022-04-21 15:00] stephaniemar commented on #890
We will be adding a banner to ABP to alert users the BAIS Modernization project is completed with a form link for users to report issues

- [x] Date needed on PROD: 5/22- 5/23 - will need to find out this date
- [x]  Remove BAIS Mod banner on 5/23 pending an unexpected update

cc @ggrozierBOS @davidrkupton

[2022-04-26 19:41] ggrozierBOS commented on #889
PLEASE NOTE: BAIS cutover is scheduled for May 19 - 22. The BAIS HCM, BAIS FN, and Employee Self-Service (ESS) applications will not be available during that time.

[2022-04-27 15:56] stephaniemar commented on #889
@phillipbentonkelly We have final approval on the banner on TEST - We can deploy this to PROD at the end of the day today so it is there tomorrow morning.

cc @g-grozier @davidrkupton

[2022-04-27 22:31] #889 closed, assigned to phillipbentonkelly, davidrkupton, stephaniemar

[2022-04-28 18:25] #825 closed, assigned to nobody

[2022-04-29 18:58] stephaniemar opened #895 "Confirm ID Workflow updates"
After UAT testing we will need the following updates to the workflow on test:

- [ ] Intro screen - We do not need this screen - once the user clicks the icon on the ABP they should land on Step 1 - the language on this screen does not make sense for this process so I can see why we do not need this here.

- [ ] Step 1 Screen :
1. Update header to from Identity Verification Process to ---->  Confi

[2022-05-04 14:46] ggrozierBOS opened #896 "Update the URL for Tableau icon"
Jira: https://github.com/CityOfBoston/digital/issues/896

Date = 5/xx/2022 (after 5:00pm) [waiting on Data Analytics to confirm]

New URL = https://dashboard.boston.gov/
take out "cityof"

[2022-05-05 18:48] ggrozierBOS opened #897 "Update to Access Boston tile: Career Center"
DATE 5/5 (after 5pm)

Change URL for Career Center to https://boston.icims.com/icims2/servlet/icims2?module=Root&action=universalLogin&sso_connection=hs-6405-saml

(so sorry for late notice)

[2022-05-05 19:00] ggrozierBOS commented on #897
also putting updates on this sheet! https://docs.google.com/spreadsheets/d/1OiH2HBLE55X8MzGaB7H9VC_a2WpQQcjV4-eyNpJGTPY/edit?usp=sharing

[2022-05-06 12:41] stephaniemar commented on #897
@phillipbentonkelly  We are updating the URL on Test 5/6 and will change on PROD next week based on testing results.

New Career Center URL for TEST: [https://bostontest.icims.com/icims2/servlet/icims2?module=Root&action=universalLogin&sso_connection=hs-7383-saml](https://urldefense.proofpoint.com/v2/url?u=https-3A__bostontest.icims.com_icims2_servlet_icims2-3Fmodule-3DRoot-26action-3DuniversalLog

[2022-05-06 14:51] stephaniemar opened #898 "Deploy Confirm ID workflow to PROD"
Deploy Confirm ID workflow to PROD 5/10 - Change Management Form attached
[Confirm ID - ChangeManagementForm5_2022.pdf](https://github.com/CityOfBoston/digital/files/8641582/Confirm.ID.-.ChangeManagementForm5_2022.pdf)
0

[2022-05-09 17:31] ggrozierBOS opened #899 "Update BAIS URLs in Test environment"
@phillipbentonkelly - Can we get these updated on Test today - the BAIS team has a go/no go in the day or two.

BAIS HCM -- PSHRUAT -- https://pshruat.bais.boston.gov/psp/pshruat/EMPLOYEE/HRMS/h/?tab=DEFAULT

BAIS FN PSFNUAT -- https://psfnuat.bais.boston.gov/psp/psfnuat/EMPLOYEE/ERP/h/?tab=DEFAULT

[2022-05-09 19:45] stephaniemar commented on #899
This is complete

[2022-05-09 19:45] #899 closed, assigned to phillipbentonkelly

[2022-05-10 19:26] stephaniemar opened #900 "Update BAIS URLS in PROD"
This is a holder ticket for updating BAIS urls in PROD

@ggrozierBOS

[2022-05-11 13:11] stephaniemar opened #901 "Group Management on APB not functioning"
The Group Management Workflow on APB Test/PROD does not seem to be working properly.  The user is unable to see the groups or people they can added to groups.

[2022-05-11 15:21] #897 closed, assigned to phillipbentonkelly

[2022-05-11 15:27] stephaniemar opened #902 "Update Careers Center URL in PROD 6/30"
Update Career Centers URL in PROD 5/26 to the following: https://sso.boston.gov/idp/startSSO.ping?PartnerSpId=icims.com&TargetResource=https%3A//employeeconnect-boston.icims.com/r.jsp

[2022-05-11 17:48] stephaniemar opened #903 "Update ABP BAIS Mod Banner"
Please update the BAIS Mod Banner on APB to the following: NOTICE: _BAIS Modernization cutover is scheduled from May 18 at 2 p.m. to May 23. The BAIS HCM, BAIS FN, and Employee Self-Service (ESS) applications will not be available during that time._

[2022-05-11 18:26] #898 closed, assigned to phillipbentonkelly

[2022-05-11 18:26] #855 closed, assigned to phillipbentonkelly

[2022-05-11 18:27] #856 closed, assigned to phillipbentonkelly

[2022-05-11 18:27] #852 closed, assigned to phillipbentonkelly, davidrkupton, rachelsater

[2022-05-11 18:27] #853 closed, assigned to phillipbentonkelly

[2022-05-11 18:28] #854 closed, assigned to phillipbentonkelly

[2022-05-11 18:28] #857 closed, assigned to phillipbentonkelly

[2022-05-11 18:28] #858 closed, assigned to phillipbentonkelly

[2022-05-11 18:32] stephaniemar commented on #902
@ggrozierBOS - What is the timing for this on 5/13? Should we update the night before or on the morning of 5/13?

[2022-05-11 20:39] ggrozierBOS commented on #902
please disregard last comment which was for Avolve...which you all do not
need to do.   But we are doing an end of day deploy for Career Center too.
So Phill can start at 3 ....so it's live at 5 I think.  G.

On Wed, May 11, 2022 at 4:16 PM Gretchen Grozier <
***@***.***> wrote:

[2022-05-16 17:50] stephaniemar opened #905 "Update URLs for HCM, FN and Phire for BAIS cutover (PROD)"
Update URLs for HCM and FN tiles on ABP for BAIS Mod cutover - This has been updated 5/17

- [x] ~~Please add the following links on ABP TEST to the FN and HCM Tiles for testing on Tuesday 5/17
FN--->>>https://fn.boston.gov/
HCM--->>>https://hcm.boston.gov/~~

We were hoping to go with the short URLS but that will not work so please use URLs below
- [x] Please deploy the following URLs PROD on Fri

[2022-05-16 18:24] #903 closed, assigned to phillipbentonkelly

[2022-05-16 18:24] stephaniemar commented on #903
This is done

[2022-05-16 19:48] #901 closed, assigned to davidrkupton

[2022-05-17 12:16] stephaniemar opened #907 "Group Management URL Security Fix"
Jira: https://github.com/CityOfBoston/digital/issues/907

This is a fix to ensure that users cannot go directly to the Group Management by entering the URL directly into the browser.
- This will ensure we do not have an issue with the group mgmt service on ABP

[2022-05-17 13:22] davidrkupton commented on #907
This addresses a small security issue.
Users (who have already successfully logged into Access Boston), and who would not normally be allowed to access the `Group Management` utility, could still access the utility by typing its URL directly into the browser.
This would not allow them to do anything they are not authorized to do.
We feel that if they are not authorized to see the link, then they s

[2022-05-17 13:23] davidrkupton commented on #907
Est time: 1 week to develop, test and deploy
Impact to Service: no production impact.

[2022-05-17 15:08] stephaniemar commented on #905
Hi @ggrozierBOS Phil has updated TEST- You can have whoever test it to make sure it looks ok. If it does then @phillipbentonkelly can deploy to Prod on Friday.

[2022-05-19 15:25] stephaniemar opened #908 "Network password error ABP(PROD)"
**Issue:** Due to HCM being down for the BAIS Mod cutover, users are getting a sailpoint error when they update their network password on ABP even though their password is successfully updating for all other apps on ABP. The error that appears is a bit confusing for users.

To mitigate this for the remainder of the BAIS Cutover we will do the following:

- [ ] Update PROD to identify errors with t

[2022-05-23 13:33] stephaniemar commented on #890
@phillipbentonkelly - Just a reminder to remove the banner for ABP this AM. Thanks!

[2022-05-23 13:34] stephaniemar commented on #905
@phillipbentonkelly - Just a reminder to revert FN and HCM Test URLs, I think this still needs to be done. Thanks!

[2022-05-23 16:41] phillipbentonkelly commented on #905
Reset

[2022-05-23 17:42] stephaniemar commented on #890
this is complete

[2022-05-23 17:42] #890 closed, assigned to phillipbentonkelly, davidrkupton

[2022-05-23 17:42] stephaniemar commented on #905
@ggrozierBOS do you have a way to make sure the test URLs are working again?

[2022-05-23 17:46] ggrozierBOS commented on #905
Yes, both tiles are on my Test ABP and both are working as expected.
Thanks!!

On Mon, May 23, 2022 at 1:43 PM stephaniemar ***@***.***>
wrote:

[2022-05-23 17:46] stephaniemar commented on #905
Great I will close.

[2022-05-23 17:46] #905 closed, assigned to phillipbentonkelly

[2022-05-23 20:05] #900 closed, assigned to nobody

[2022-05-24 17:53] #867 closed, assigned to phillipbentonkelly

[2022-05-26 13:51] stephaniemar opened #912 "View Only Group Management"
JIra: https://bostondoit.atlassian.net/browse/DIG-10

Phill and David -- this is new request form Access Boston that we can review.

**Issue:** DoIT Service Desk would like access to Group Management (view data only) to perform searching by person and view a person's group management associations. The support team was given access to Netscaler  during the pandemic which gave them access to group m

[2022-05-26 14:13] phillipbentonkelly commented on #912
Of the top of my head I believe this would take 4-5 days; there is no concept of view only and you can get to groups from viewing the user so I would have to close those doors, etc

[2022-05-26 14:17] stephaniemar commented on #912
Ok Thanks @phillipbentonkelly

[2022-05-31 16:09] davidrkupton opened #914 "Node 14 Update"
Upgrade the containers which provide the AWS ECS deployed webapps from Node10 to Node14.
This requires a deploy of each webapp, (more specifically the container in which it is deployed on AWS).
The deployment can be done in sequence, with less critical webapps being done during the day, and those which affect CoB/DoIT staff being done out of hours.
CoB authored code changes have been kept to a min

[2022-05-31 16:09] davidrkupton commented on #914
@stephaniemar

[2022-05-31 16:10] davidrkupton commented on #914
@phillipbentonkelly can you pls review this and make sure I have it right?  Thanks.

[2022-05-31 16:33] stephaniemar commented on #914
@phillipbentonkelly @davidrkupton Are any of the apps being updated during business hours constituent facing? Though there is minimal risk should move any apps that people touch to after hours just in case?

[2022-05-31 17:13] davidrkupton commented on #914
The thing is that out of hours eg 6pm is often busier than in hours for constituent facing. For example we really don't see a drop off in registry traffic until after 10pm. So unless we are going to schedule for very late, I would just do in business hours. What I usually do is have James draft a service disruption for Boston.gov, and then if we have an issue I put it live and then remove it after

[2022-05-31 17:51] phillipbentonkelly commented on #914
If we were to deploy a non-business face that would look like this
-- During business hours --
- [ ] Internal Slackbot
- [ ] Payment-webhooks
- [ ] NginX proxy

-- Out of Hours --
- [ ] Registry Certs
- [ ] Group Management
- [ ] Access Boston
- [ ] Commissions App
- [ ] Commissions Search
- [ ] Permit Finder

[2022-05-31 17:55] stephaniemar commented on #914
OK @davidrkupton that makes sense. Tagging @juliagtzp

[2022-05-31 18:43] stephaniemar commented on #914
@davidrkupton @phillipbentonkelly
We can keep the original schedule you proposed.

-- During business hours --

 Internal Slackbot
 NginX proxy
 Commissions App
 Commissions Search
 Permit Finder
-- Out of Hours --

 Payment-webhooks
 Registry Certs
 Group Management
 Access Boston

[2022-06-01 01:39] davidrkupton commented on #914
Infrastructure was updated successfully so this task can go ahead as planned.

[2022-06-01 17:40] stephaniemar opened #915 "Update to Forgot Password"
On the Forgot Password page -- we say UserName....can we make sure it will allow the entry of either the User ID or the User's email address (which is how the Login Page works).

Is Portal doing any sort of data validation on that field (checking for a 6 or 8 digit number)?  If yes, change to also check for well-formed email address.  If not, then Digital has no work to do (IAM has to make sure II

[2022-06-01 17:47] stephaniemar commented on #915
Hey @phillipbentonkelly can you answer Gretchen's initial question about if that username field in the forgot password workflow doing any data validation? Will it accept an employee ID or email? We may not have any work here.

[2022-06-01 17:52] stephaniemar opened #916 "Update group that see 'Building Maintenance' link"
Currently in the **Forms/Links** section of the Access Boston Portal we show the _Building Maintenance_ link to any user with 'cobuseragency' = CH.   Property Management asked us to also add in the group 'cobuseragency' = Assessing too.

[2022-06-01 18:03] stephaniemar commented on #916
Please add 'cobuseragency' = Assessing to show the Building Maintenance link to people in that group under the Forms/Links section of Access Boston Portal.

@phillipbentonkelly let me know if you have questions about this?

[2022-06-01 18:05] stephaniemar commented on #902
@phillipbentonkelly is this done?

[2022-06-01 18:17] ggrozierBOS commented on #902
@phillipbentonkelly and @stephaniemar this Change got moved due to a bug on vendor side.  They are fixing it in their June release ("at the end of the month") so I moved our CR to 6/30

[2022-06-01 18:19] stephaniemar commented on #902
@ggrozierBOS @phillipbentonkelly I will update the target date.

[2022-06-02 12:49] davidrkupton commented on #914
@phillipbentonkelly The database connection string for commissions app needs to be changed.  At the moment the commissions app fails if the DB goes into fail-over mode.

At the moment it is:
[code]

I believe it should be:

[code]

Can you incorporate this change alongside the node14 update.
At the same time, we should check all DB strings for the webapps to be sure they are pointing at the cluste

[2022-06-02 20:29] stephaniemar opened #917 "Add multiFailOver support to commissions-app"
We need to update the connection of the commissions- app to the MS SQL server DB so that the MultiFailOver flag is passed. This will allow the app to connect to the cluster at vsql71 and then the cluster will ensure that the app is always routed to the active MS SQL server. This will be the same as the Registry suite was updated in 2021.
This is a minor update to add resiliency.

The commissions-a

[2022-06-03 14:04] stephaniemar commented on #914
@phillipbentonkelly - I can close this, correct?

[2022-06-03 16:37] phillipbentonkelly commented on #916
Changing this can be done over a couple or hours

- Is `Assessing` the correct(tly formatted) value for this agency? Asking because every other `agency` value we have in the configs are made up of 2-3 capitalize letters.
- Is this work on going to be tested on `DEV and TEST` or just `TEST`
- Is there a ticket for the deploy to PROD with a target date?

[2022-06-03 16:45] ggrozierBOS commented on #916
@phillipbentonkelly

- Yes the value for Assessing Staff in cobUserAgency is ASSESSING

![Tuyen](https://user-images.githubusercontent.com/104460350/171909105-d0fd678e-57fd-4715-b5c3-32776b7c18ec.jpg)

- We should do this in Dev, then Test and then Prod.
- No change request in for Prod yet...needed to know timings, etc.

[2022-06-03 16:45] phillipbentonkelly commented on #915
It only validates to make sure its not empty

[2022-06-03 16:46] stephaniemar commented on #915
So it sounds like we do not have any work here?

[2022-06-03 16:48] #915 closed, assigned to phillipbentonkelly

[2022-06-03 16:48] phillipbentonkelly commented on #915
We would have to change the label for them to say username or email ...

[2022-06-03 16:51] stephaniemar commented on #915
It only says username on the APB login screen so we can stay consistent with that.

[2022-06-03 18:14] stephaniemar commented on #916
@phillipbentonkelly See Gretchen's Answers above.

[2022-06-03 19:00] phillipbentonkelly commented on #916
I'll deploy to DEV today

[2022-06-03 19:06] stephaniemar commented on #916
Ok. sounds good then we can make a plan moving forward.

[2022-06-03 19:51] phillipbentonkelly commented on #916
deploy done

[2022-06-06 13:34] stephaniemar commented on #916
@ggrozierBOS Phil has this on Dev, is this something you can test?

[2022-06-06 13:48] ggrozierBOS commented on #916
I will ask one of the QA folks on my team to do that....I don't know a
login in DEV for an Assessing user (and don't have access to update
accounts there).

Gretchen Grozier (pronouns: she/her/hers)

[2022-06-06 15:07] #914 closed, assigned to phillipbentonkelly

[2022-06-06 15:22] #908 closed, assigned to phillipbentonkelly, ggrozierBOS

[2022-06-06 16:55] ggrozierBOS commented on #916
we don't have any folks in the Dev environment who have Asseessing in that field, can we move on to TEST environment (where we can actually test it) pls? @phillipbentonkelly

[2022-06-06 17:03] phillipbentonkelly commented on #916
I can update it after 2pm

[2022-06-06 17:26] ggrozierBOS commented on #916
that is great - thanks!

On Mon, Jun 6, 2022 at 1:03 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-06-06 18:28] phillipbentonkelly commented on #916
The services restarted, you can check TEST

[2022-06-06 19:28] ggrozierBOS commented on #916
Both Dinesh and I checked in TEST with 052509 and 116193 in Test environment instead (super secret password of Boston@2022).  They see the new link.  Good to go to Prod @phillipbentonkelly

[2022-06-07 13:13] stephaniemar opened #918 "View User Info - integrate workgroup to provide this link"
Jira- https://bostondoit.atlassian.net/browse/DIG-54

We have a workgroup called: COB-Workgroup-ViewIdentityOnly

I don't think we actually ever built this into the Access Boston Portal though....

For users in this workgroup we need to display **'Support Tools'** section and then provide them with the _View User Information_ link there.

Would be good to have this function in place for BPHC IT Su

[2022-06-07 13:32] stephaniemar commented on #918
@ggrozierBOS - Just so I understand the ask. When you say the work group COB-Workgroup-ViewIdentityOnly was never build into ABP, do you mean we have the group but it not used? or, we have it and we just need to give everyone in this group the View User Information link?

[2022-06-07 13:52] ggrozierBOS commented on #918
we have the group in IAM systems but the integration so ABP reads it and
reacts to populate the right things isn't there...

On Tue, Jun 7, 2022 at 9:32 AM stephaniemar ***@***.***>
wrote:

[2022-06-07 13:54] stephaniemar commented on #918
Hey @phillipbentonkelly do you understand the ask here? Can you give an estimate for the work.

[2022-06-07 14:06] phillipbentonkelly commented on #918
This reads as add a new link under that section with a that group. If that's all it is then it fine, just need the deploy details ... dev/test/prod, title, link, group (properly cased)

[2022-06-07 15:13] stephaniemar commented on #878
@g-grozier do you know if this was every done- Post Upgrade?(BAIS)?

[2022-06-07 15:25] ggrozierBOS commented on #878
No idea, will ask @DineshBaddam to check on it...

[2022-06-07 15:27] stephaniemar commented on #601
@g-grozier @davidrkupton @phillipbentonkelly this one looks old but it seems Gretchen commented in Jan they still want this done. I am not sure I understand the ask here.

[2022-06-07 15:28] stephaniemar commented on #916
@phillipbentonkelly Gretchen and I talked yesterday, we do not need to a CM For this. You can deploy to PROD.
Thanks!

[2022-06-07 15:31] ggrozierBOS commented on #601
We want to "Boston-ize" the screens under the Manage My Device(s) link.  Which are horrible Ping UI...

![Screenshot 2022-06-07 112926](https://user-images.githubusercontent.com/104460350/172420824-222aa512-ed1d-4c9b-ae2d-31d2ccaf2eff.jpg)

[2022-06-07 15:52] ggrozierBOS commented on #878
@DineshBaddam confirms it's https://ess-awsdev.boston.gov/ -- so good and closing!

[2022-06-07 15:52] #878 closed, assigned to nobody

[2022-06-07 15:53] stephaniemar commented on #878
@g-grozier great, thanks.

[2022-06-07 15:56] stephaniemar commented on #918
@ggrozierBOS See Phill's comments. Just need some info for testing and we can prioritize.

[2022-06-07 18:51] stephaniemar commented on #882
@g-grozier do we have a test URL for ESS. I just looked at this and the ESS Link  in Test is directing folks to PROD.

[2022-06-07 18:53] ggrozierBOS commented on #882
@NavanK what should the TEST ESS (AWS) URL be ...on Access Boston Portal, pls?

[2022-06-07 18:56] NavanK commented on #882
Here is the Test ESS url: https://ess-awsuat.boston.gov

[2022-06-07 18:59] stephaniemar commented on #882
@NavanK Thanks!

[2022-06-08 15:18] ggrozierBOS commented on #918
The link exists already (as part of the Support Tools package that those in Help Desk group get).
For this one, look for IIQ_ViewIdentity group in FID and populate the **Support Tools** section on ABP with the _View User Information_ link only. @stephaniemar  @phillipbentonkelly

[2022-06-08 19:40] stephaniemar commented on #916
Hey @phillipbentonkelly I know you are working on another ticket right now, but can this get done today before you leave on vacation?

[2022-06-08 20:04] phillipbentonkelly commented on #916
I'll deploy it now

[2022-06-09 12:17] stephaniemar commented on #916
This is complete.

[2022-06-09 12:17] #916 closed, assigned to phillipbentonkelly

[2022-06-13 19:08] #917 closed, assigned to phillipbentonkelly

[2022-06-16 14:47] phillipbentonkelly commented on #918
@ggrozierBOS

Is `IIQ_ViewIdentity` the correct/capitalize spelling for this group? I'll start today by deploy it to `DEV` environment first, since we haven't specified what environment we it will be tested first.

[2022-06-16 15:04] ggrozierBOS commented on #918
That is what I see in TEST and PROD....I don't know if it is in DEV (no
view into that FID environment).  But I gotta think it is...

On Thu, Jun 16, 2022 at 10:48 AM Phillip B. Kelly ***@***.***>
wrote:

[2022-06-16 15:13] phillipbentonkelly commented on #918
@ggrozierBOS what about the group name question above, is `IIQ_ViewIdentity` the correct capitalization/spelling?

[2022-06-16 15:14] ggrozierBOS commented on #918
I just said yes, that is the group I see in TEST and PROD...

On Thu, Jun 16, 2022 at 11:13 AM Phillip B. Kelly ***@***.***>
wrote:

[2022-06-16 15:37] phillipbentonkelly commented on #918
@ggrozierBOS I misunderstood your response,

Added that group to the `View User Info`  tile, now those in that group will see that link under `Support Tools`. DEV/TEST are updated and deployed.

[2022-06-16 19:57] phillipbentonkelly commented on #888
@g-grozier, am picking up on this request again, trying to remember/confirm some details ... is this the page were applying this modification too?

https://access-test.boston.gov/storybook/?path=/story/registermfapage--email
![image](https://user-images.githubusercontent.com/2627273/174153017-cc0bf09a-501b-4af4-afcc-ee6d6c8cfe9e.png)

CC'd @stephaniemar so she's aware of the storybook templates fo

[2022-06-17 12:51] ggrozierBOS commented on #888
@phillipbentonkelly yes, should someone type in email address there we need to return error if it's a City of Boston associated domain (one of the ones listed above).  @stephaniemar let me know if you need more details

[2022-06-17 13:19] stephaniemar commented on #888
Ok. Thanks @g-grozier --seems pretty straight forward.

[2022-06-17 14:57] stephaniemar commented on #918
Hey just catching up on this---  @ggrozierBOS, were you able to take a look at what @phillipbentonkelly deployed on DEV/TEST?
Thanks,
Steph

[2022-06-17 14:59] ggrozierBOS commented on #918
Yes, @stephaniemar I just met with IAM team because there seems to be a disconnect between IIQ and FID (and naming changes between environments). They are working on getting that all sorted out...so we can test what @phillipbentonkelly has done

[2022-06-17 15:05] stephaniemar commented on #918
@ggrozierBOS Great. Just let us know when you are done.

[2022-06-21 19:39] phillipbentonkelly commented on #888
@ggrozierBOS I deployed the change to both DEV/TEST

In order to test, could we have 3 usernames and passwords for accounts that are in the "Needs Registration" status on the DEV or Test environments.

[2022-06-22 16:06] DineshBaddam commented on #888
Hi Phill
These are the Test user account you can try.
Test Users
167525
Downtown341$
167512
Puzzle950$
167528
Rustic996#

[2022-06-22 18:43] stephaniemar commented on #918
@ggrozierBOS How is the testing going? Need anything?

[2022-06-23 12:49] ggrozierBOS commented on #918
@phillipbentonkelly Navan set up the groups correctly now in FID...it is called **SG_AB_IIQ_ViewIdentity**

[2022-06-23 13:56] ggrozierBOS commented on #918
I've asked @Dinesh Baddam ***@***.***> to test this
today...I'll try to chime in as time allows

On Wed, Jun 22, 2022 at 2:43 PM stephaniemar ***@***.***>
wrote:

[2022-06-23 16:09] phillipbentonkelly commented on #918
Updated tiles in DEV/TEST with the correct group name (from above)

[2022-06-23 17:06] stephaniemar commented on #918
@phillipbentonkelly thanks! I think this means you are free to test now @ggrozierBOS

[2022-06-23 17:06] DineshBaddam commented on #918
Hi Phill,
I don't see the View User Info link in Test Access Boston(075715)

![image](https://user-images.githubusercontent.com/39305170/175354234-b2049538-8ed8-426a-918a-0579b08036f8.png)
In SAML Tracer I see the Attribute

![image](https://user-images.githubusercontent.com/39305170/175354459-549f63f2-6226-4749-b770-cbfd7ecb54be.png)

Here are the Group Details

![image](https://user-images.githu

[2022-06-23 17:54] phillipbentonkelly commented on #918
Try again now

[2022-06-23 17:59] ggrozierBOS commented on #918
Yahtzee.  (well I see it on my Portal anyway).  Will ask Dinesh to try with
others we set up

On Thu, Jun 23, 2022 at 1:55 PM Phillip B. Kelly ***@***.***>
wrote:

[2022-06-23 18:03] DineshBaddam commented on #918
I see it now, Thank you.
![image](https://user-images.githubusercontent.com/39305170/175364707-8d39c885-d640-4af2-b190-14b6e0939b00.png)

[2022-06-23 18:09] ggrozierBOS commented on #918
this is good to move to Prod at any convenient time! @Stephanie Cariello
***@***.***> says she will do the Change Request

On Thu, Jun 23, 2022 at 2:03 PM DineshBaddam ***@***.***>
wrote:

[2022-06-24 14:38] phillipbentonkelly commented on #888
Hi @DineshBaddam, the logins are not working, could they have expired by any chance ... also Are these for the DEV or TEST environment

[2022-06-24 15:46] DineshBaddam commented on #888
Hi Phill,

Here are the Test Users in Test Environment
167525
February102$
167512
United729$
167528
Winter517$

Thanks,
Dinesh.

[2022-06-24 16:06] phillipbentonkelly commented on #888
@ggrozierBOS, @stephaniemar domain exclusion is verified on the TEST environment.

[2022-06-24 16:16] stephaniemar commented on #888
Thanks @phillipbentonkelly  @g-grozier Is this something we will need a Change Management form to deploy to PROD?

[2022-06-24 17:25] ggrozierBOS commented on #888
I don't think it needs a change, but we will be doing testing too.   Will
let you know the results!  G.

On Fri, Jun 24, 2022 at 12:17 PM stephaniemar ***@***.***>
wrote:

[2022-06-24 17:53] ggrozierBOS commented on #888
Tested will all the domains and not one of them would go through!

![Image](https://user-images.githubusercontent.com/104460350/175615774-5a37a2bc-ab43-4694-8d0d-ed54eb323816.jpg)
![Image](https://user-images.githubusercontent.com/104460350/175615773-522fa842-a950-4a23-b124-7c00e10ee0a3.jpg)
![Image](https://user-images.githubusercontent.com/104460350/175615772-dc785f62-26ce-4a10-a37a-b51be623f3a9

[2022-06-24 18:30] stephaniemar commented on #888
Great!

[2022-06-24 18:55] DineshBaddam commented on #888
I have also validated the senario with all email endings, which is not accepting the work emails.

Thanks,
Dinesh.

[2022-06-28 03:54] phillipbentonkelly commented on #888
Deployed to PROD

[2022-06-28 03:56] phillipbentonkelly commented on #918
Deployed to PROD

[2022-06-29 18:59] stephaniemar commented on #902
@ggrozierBOS Is this still a go for tomorrow? Is there a timeline?

[2022-06-29 19:04] ggrozierBOS commented on #902
Yes, we will push code (well change configs) at 5pm tomorrow.   G.

Gretchen Grozier (pronouns: she/her/hers)

Director of Identity & Access Management

Department of Innovation & Technology

617-635-3547 (w), 617-388-5317 (c)

On Wed, Jun 29, 2022 at 2:59 PM stephaniemar ***@***.***>
wrote:

[2022-06-30 17:42] #918 closed, assigned to phillipbentonkelly

[2022-06-30 17:43] stephaniemar commented on #918
This is complete.

[2022-06-30 17:44] stephaniemar commented on #902
We were informed we do not have to do this work. Closing it out.

[2022-06-30 17:44] #902 closed, assigned to phillipbentonkelly

[2022-07-01 13:40] stephaniemar commented on #851
this has been done.

[2022-07-01 13:40] #851 closed, assigned to nobody

[2022-07-05 15:43] #773 closed, assigned to nobody

[2022-07-05 15:45] #824 closed, assigned to nobody

[2022-09-14 19:18] #912 closed, assigned to phillipbentonkelly, davidrkupton

[2022-09-14 19:18] #907 closed, assigned to phillipbentonkelly

[2022-09-14 19:19] #896 closed, assigned to nobody

[2022-09-14 19:19] stephaniemar commented on #895
Complete

[2022-09-14 19:19] #895 closed, assigned to nobody

[2022-09-14 19:19] #888 closed, assigned to nobody

[2022-09-14 19:19] #885 closed, assigned to nobody

[2022-09-14 19:20] stephaniemar commented on #883
@davidrkupton @duffy-james Has this been completed?

[2022-09-14 19:20] #882 closed, assigned to nobody

[2022-09-14 19:20] #868 closed, assigned to nobody

[2022-09-14 19:20] #865 closed, assigned to nobody

[2022-09-14 19:20] #864 closed, assigned to nobody

[2022-09-14 19:21] #863 closed, assigned to nobody

[2022-09-14 19:22] duffy-james commented on #883
Yup, this is resolved.

[2022-09-14 19:22] #883 closed, assigned to davidrkupton

[2022-09-14 19:23] #862 closed, assigned to nobody

[2022-09-14 19:23] #861 closed, assigned to nobody

[2022-09-14 19:23] #860 closed, assigned to nobody

[2022-09-14 19:23] #859 closed, assigned to phillipbentonkelly

[2022-09-14 19:24] #850 closed, assigned to nobody

[2022-09-14 19:46] #832 closed, assigned to phillipbentonkelly

[2022-09-14 19:46] #803 closed, assigned to nobody

[2022-09-14 19:46] #770 closed, assigned to nobody

[2022-09-14 19:47] #686 closed, assigned to jimmurphy-boston

[2022-09-14 19:47] #662 closed, assigned to nobody

[2022-09-14 19:47] #661 closed, assigned to nobody

[2022-09-14 19:47] #601 closed, assigned to phillipbentonkelly, rachelsater, g-grozier, stephaniemar

[2022-09-14 19:48] #479 closed, assigned to nobody

[2022-09-14 19:48] #482 closed, assigned to nobody

[2022-09-14 19:48] #552 closed, assigned to carolinestj

[2022-09-14 19:48] #585 closed, assigned to nobody

[2022-09-14 19:48] #590 closed, assigned to phillipbentonkelly

[2022-10-11 07:26] ggrozierBOS commented on #902
Sorry, I think I did not reply.  This should happen at the end of the day
on 5/13.  IAM plans to deploy in Ping Prod about 5...I can add you all to
the Change Req (if you want)
They are "going live" on Monday May 16th -- but want staff to use it once
they arrive.  G.

On Wed, May 11, 2022 at 2:33 PM stephaniemar ***@***.***>
wrote:

[2022-10-11 09:13] ggrozierBOS commented on #888
We are good to send this to Prod!

On Fri, Jun 24, 2022 at 2:55 PM DineshBaddam ***@***.***>
wrote: