[2018-06-12 11:11] knod opened #2 "Wiki link to Budget doesn't go anywhere"
The link to 'FY19 Budget Site' on https://github.com/cityofboston/digital/wiki doesn't go anywhere.

[2018-08-08 16:52] fionawhim opened #6 "Update to newest web components"
_From @finneganh on June 29, 2018 14:59_

Web component JS is now at: https://patterns.boston.gov/web-components/fleetcomponents.js

_Copied from original issue: CityOfBoston/registry-certs#387_

[2018-08-08 16:52] fionawhim opened #7 "Remove find polyfill"
_From @finneganh on April 2, 2018 15:6_

Now that Stencil is updated we can remove the `find` polyfill for IE11 in _document.js.

_Copied from original issue: CityOfBoston/registry-certs#370_

[2018-08-08 16:53] fionawhim opened #8 "Fade out / undo for removing from cart"
_From @finneganh on March 12, 2018 13:25_

Clicking the "X" for removing from the cart is instantaneous. If someone double-clicks they may remove more than one thing, and there's no way to undo.

We should change the UI so that if you remove an item it shows a "removed" line while you're still on the cart page, so things don't bounce around and you can easily add it back in.

_Copied from original

[2018-08-08 16:54] fionawhim opened #9 "Search by year"
_From @joshuagee on January 24, 2018 22:28_

For a potential 1.1 release: Allow users to search by year or death date.

_Copied from original issue: CityOfBoston/registry-certs#291_

[2018-08-08 16:54] fionawhim opened #10 "International Shipping"
_From @joshuagee on January 24, 2018 22:24_

Birth certificates will have requesters who need to ship internationally.

Currently, the fields in our shipping address only handle domestic shipping. This is a potential 2.0 feature (when we handle births).

_Copied from original issue: CityOfBoston/registry-certs#287_

[2018-08-13 13:11] fionawhim opened #12 "Logout not working on AccessBoston test"
The "logout" SSO feature on the AccessBoston test instance does not log out of the SSO session.

[2018-08-13 13:11] fionawhim commented on #12
This is apparently an across-the-board problem with the test instance. Waiting on LikeMinds team to fix.

[2018-08-13 14:18] paylakatel opened #13 "Move Commissions Search Page to Digital repo"
Put source for commissions search page in its own folder here: https://github.com/CityOfBoston/digital/tree/develop/services-js

[2018-08-13 14:19] paylakatel opened #14 "Set up prod and staging deploys for commissions search page"
Get staging and production deploys for commissions search app set up.

[2018-08-17 20:08] fionawhim opened #22 "Change password flow"
Need a flow in Access Boston to change passwords for logged-in users.

[2018-08-17 20:08] fionawhim commented on #22
Blocked on getting a service account to access the APIs.

[2018-09-06 13:51] fionawhim opened #25 "Forgot password flow"
- [x] Get new app configuration
- [x] Authentication that differentiates between login and forgot password
- [x] Forgot password HTML form
- [x] GraphQL mutation for forgot password
- [x] Non-JS support for forgot password

[2018-09-07 19:36] fionawhim commented on #22
https://access-boston-dev.digital-staging.boston.gov/change-password

[2018-09-11 14:07] fionawhim commented on #14
Blocked on #15

[2018-09-11 14:11] fionawhim opened #31 "Move John’s apply form changes from commissions repo to digital repo"

[2018-09-11 21:07] #31 closed, assigned to jessicamarcus

[2018-09-12 18:30] #22 closed, assigned to fionawhim

[2018-09-20 12:58] #14 closed, assigned to fionawhim

[2018-09-20 14:46] paylakatel opened #48 "Email to Policy Office after submitted an application"
After an applicant successfully submits an application, we need to send an email to boardsandcommissions@boston.gov notifying them of the new application.

The subject should be:

The body text should read:

"View the application details" should be hyper linked to the application in the boards/commissions database. Example link: http://zpappweb01/cityclerk/commissions/account/Login?ReturnUrl=%2Fci

[2018-09-24 13:03] #25 closed, assigned to fionawhim

[2018-09-25 13:39] #13 closed, assigned to nobody

[2018-09-25 14:00] paylakatel opened #60 "Updates/fixes to search page"
- [x] add a little more space between filter options so the separation between "Policy Area" and "Open Seats" sections on mobile and desktop is clearer
- [x] make filter drawer automatically close when "Apply" is hit on mobile
- [x] pressing enter on search doesn't do anything. This was fixed last week on the testing instance (https://boston-gov-commissions-search.digital-staging.boston.gov/commis

[2018-09-26 14:19] fionawhim opened #64 "Forgot password page has active button w/o input"
When no fields are filled out, the forgot password page still has an active submit button.

<img width="759" alt="screen shot 2018-09-26 at 10 18 55 am" src="https://user-images.githubusercontent.com/260837/46086237-aea23300-c175-11e8-998d-ef47d77c7fd7.png">

[2018-09-27 16:47] #60 closed, assigned to jessicamarcus

[2018-09-28 13:36] paylakatel opened #68 "UI updates to application form:"
- [x] take prefix field off
- [x] change "Other Information" in Education and Experience section" to be "Relevant Work Experience"

Recommendations from design (result of [this issue](https://github.com/CityOfBoston/design-team-workflow/issues/845)):
- [x]  put the two lists of boards/commissions (those with open seats/those with_out_ open seats) into separate drawers
- [x] have the first list (bo

[2018-10-03 12:46] paylakatel opened #74 "Language on success page for application form"
After an applicant successfully submits an application, we should show a success page with the following language:

_Thank you for applying to serve on a Board or Commission. We appreciate your willingness to make a difference in the City of Boston. If you have any questions about your application, contact boardsandcommissions@boston.gov._

[2018-10-03 12:48] paylakatel opened #75 "Email to applicant after submitting application"
After an applicant submits an application, we should send an email to them with the following language:

**Subject:** _We’ve received your application_
**Body text:**
_Serving on a board or commission is one of the most impactful ways Bostonians can become active in their community - thank you for your application(s) to:_

_- Board/Commission 1_
_- Board/Commission 2_
_- etc._

_If you have any qu

[2018-10-03 13:53] paylakatel commented on #74
duplicate issue

[2018-10-03 13:53] #74 closed, assigned to jessicamarcus

[2018-10-05 13:19] paylakatel opened #81 "Pressing enter on boards and commissions search page"
When users search a term and press enter, the search results should update, but in testing the app on [staging](https://edit-stg.boston.gov/commissions-search-test) it seems like that functionality isn't working.

[2018-10-10 15:38] paylakatel commented on #81
Working now

[2018-10-10 15:38] #81 closed, assigned to jessicamarcus

[2018-10-10 15:52] fionawhim opened #90 "Fix GraphQL API key checking"
The prod commissions-search app seems to be able to fetch GraphQL without an API key: https://apps.boston.gov/commissions-search/

It should give a 403.

[2018-10-10 16:44] #64 closed, assigned to nobody

[2018-10-10 17:08] fionawhim commented on #90
Prod commissions-search actually hits staging commissions-app, so this is working as expected.

[2018-10-10 17:08] #90 closed, assigned to fionawhim

[2018-10-10 20:08] rachelbraun opened #91 "Make email option less obvious (Register MFA Page)"
IAM would like to encourage users to use Phone MFA over Email. Let's make the Email option less obvious to users visually.

Here's what we're currently doing:
<img width="496" alt="screen shot 2018-10-10 at 4 00 14 pm" src="https://user-images.githubusercontent.com/35377030/46763068-d8477800-cca6-11e8-9686-8b42704f46a6.png">

Here's a visual option they liked (as seen on the RegisterMfaPage > Devi

[2018-10-10 20:32] fionawhim commented on #91
Removing assignee since this is still in the Backlog.

[2018-10-11 13:57] rachelbraun opened #93 "Block any City email domains for registering in MFA"
We need to prevent any City email domains from registering in MFA.

See 2nd tab in Portal Content spreadsheet: https://docs.google.com/spreadsheets/d/1OiH2HBLE55X8MzGaB7H9VC_a2WpQQcjV4-eyNpJGTPY/edit?ts=5bbf4804#gid=0

[2018-10-16 14:30] paylakatel commented on #68
- [x] add a title to the page that reads "Boards and Commissions Application Form"
- [x] under the title add the following text: "Please note that many of these Boards and Commissions require City of Boston residency as well as specific qualifications for members. Please familiarize yourself with each [Board or Commissions's the Enabling Legislation](https://www.cityofboston.gov/boardsandcommissio

[2018-10-16 18:26] paylakatel opened #105 "Boards and commissions application form required/helper text"
We should use the following text for the required field on the boards and commissions application form:
- [x] First Name: "The first name field is required."
- [x] Last Name: "The last name field is required."
- [x] Street Address : "The street address field is required."
- [x] Unit: helper text should just read "Unit" instead of "Unit or Apartment #"
- [x] City: "The city field is required."
- [x

[2018-10-17 12:53] #68 closed, assigned to jessicamarcus

[2018-10-23 13:44] #105 closed, assigned to fionawhim

[2018-10-25 17:41] #48 closed, assigned to jessicamarcus

[2018-10-26 13:54] paylakatel opened #121 "Application form alignment issues"
QA testing revealed some alignment oddities:
1. with the external links when viewing the application form in Chrome on an iPhone 6+ (IOS 11)
2. with the text boxes that are on the same line when the page is viewed in landscape mode

More screenshots can be found in the QA testing doc I've shared.

[2018-10-26 14:29] paylakatel opened #122 "Email language update"
Change last sentence in email to applicant to:
_If you have any questions about your application, please contact boardsandcommissions@boston.gov._

The last sentence currently says:
_If you have any questions in the meantime, please contact boardsandcommissions@boston.gov._

[2018-10-30 13:52] paylakatel opened #130 "Feeback button work on commissions apply form"
Make feeback button work on commissions apply form

[2018-10-30 18:18] #121 closed, assigned to jessicamarcus

[2018-10-30 18:19] #122 closed, assigned to jessicamarcus

[2018-10-31 20:25] paylakatel opened #132 "Change from email when emailing applicants"
Got confirmation that we can change the "From" email when emailing applicants to boardsandcommissions@boston.gov.

[2018-11-01 12:41] paylakatel opened #133 "Typo on boards and commissions application page"
We have a small typo on the boards and commissions application page. Where we tell people what boards they've selected to apply for we have "You're" instead of "You've".

![image](https://user-images.githubusercontent.com/12868231/47852336-d490a800-ddb1-11e8-92c0-4d44d4b4954c.png)

[2018-11-01 13:55] jessicamarcus commented on #132
This change will go through when the server is redeployed later today.

[2018-11-01 13:55] #132 closed, assigned to jessicamarcus

[2018-11-01 15:02] #133 closed, assigned to jessicamarcus

[2018-11-01 18:05] #75 closed, assigned to jessicamarcus

[2018-11-06 19:24] #130 closed, assigned to fionawhim

[2018-11-28 20:19] fionawhim commented on #9
Not something that people have been asking for.

[2018-11-28 20:19] #9 closed, assigned to nobody

[2018-11-28 20:20] fionawhim commented on #10
Doesn't need to be tracked as a ticket. It will come up when it comes up.

[2018-11-28 20:20] #10 closed, assigned to nobody

[2018-11-28 20:21] fionawhim commented on #8
Getting rid of as old ticket.

[2018-11-28 20:21] #8 closed, assigned to nobody

[2018-11-29 16:19] fionawhim opened #175 ""403:Unknown client" errors in 311-indexer (salesforce change manager 000127)"
We’re getting errors from the Salesforce streaming API every 5–20 minutes about an "unknown client". We're currently restarting so things work, but this indicates there may be a deeper problem that should be resolved.

[code]

[2018-11-29 16:31] jessicamarcus opened #176 "Build out Birth Certs email templates"
- Request has been received
- Request processed / invoice
- Addt'l information request
- Information request reminder
- Request cancelled

[2018-11-29 16:45] jessicamarcus opened #177 "Identify and split out shared functionality for outgoing emails"
- Refactor `sendReceiptEmail` method  of Email service to accept subject line and email template data as parameters
- Split out email headers and footers into Partials to be used for any registry-related email template

[2018-11-30 17:59] fionawhim opened #181 "Imported cases have incorrect closed date (salesforce change manager 000103)"

[2018-11-30 18:00] fionawhim commented on #181
Because we use "updated" as a proxy for "closed," we are reporting the import time for imported cases, not the time it was actually closed.

<img width="1792" alt="screen shot 2018-11-30 at 11 34 17 am" src="https://user-images.githubusercontent.com/260837/49306310-e1331980-f49f-11e8-91d1-14631498d394.png">

[code]

We would need an Open311 change to get the closed information.

[2018-12-03 15:14] Jailalwani commented on #181
This is already been worked on by Incapsulate as part of the following defect https://incapsulate.atlassian.net/browse/BOS311API-104.

@finneganh @reillyzlab

[2018-12-04 20:12] fionawhim opened #188 "Cache service descriptions in the client"
Since removing the generic loopbackGraphql cache, the 311 webapp is making more calls to get the details for a service.

We should cache those results on the client to reduce traffic.

[2018-12-05 14:56] #188 closed, assigned to nobody

[2018-12-05 15:55] fionawhim commented on #175
The new OAuth app for the indexer seems ot have addressed the frequency of these.

Still blocked on getting an app for devint2, and then we can close this.

[2018-12-05 16:08] fionawhim opened #192 "311 error pages should prompt to call if the error keeps happening"

[2018-12-05 16:09] fionawhim commented on #192
@reillyzlab thoughts?

<img width="1432" alt="screen shot 2018-12-05 at 11 08 37 am" src="https://user-images.githubusercontent.com/260837/49526594-25e2fa00-f87e-11e8-9310-bd645b5d0937.png">

<img width="1129" alt="screen shot 2018-12-05 at 11 08 31 am" src="https://user-images.githubusercontent.com/260837/49526595-25e2fa00-f87e-11e8-8a4f-58f706e3a844.png">

[2018-12-05 18:57] fionawhim commented on #192
updated to use little telephone:

<img width="1435" alt="screen shot 2018-12-05 at 1 55 12 pm" src="https://user-images.githubusercontent.com/260837/49536923-a2350780-f895-11e8-86dc-8280fd37c2a7.png">

<img width="1121" alt="screen shot 2018-12-05 at 1 55 04 pm" src="https://user-images.githubusercontent.com/260837/49536928-a4976180-f895-11e8-8fbf-22ac17137f9c.png">

[2018-12-06 14:22] fionawhim commented on #175
This actually is still a problem in UAT.

I sent an email out to Jai and Nik asking about what the escalation steps are to get it resolved.

[2018-12-06 14:54] #192 closed, assigned to fionawhim

[2018-12-07 18:36] fionawhim opened #199 ""Operation is insecure" Safari errors"
It appears that Safari (at least on iOS) throws SecurityException errors when registry-certs attempts to access `window.localStorage` and the user’s cookie settings are set to deny all.

Since all we need localStorage for is saving address information, we could catch the errors and not show the "Save contact info on this computer" checkbox.

[2018-12-07 18:36] fionawhim commented on #199
https://rollbar.com/CityofBoston/registry-certs/items/90/?person_page=0&#traceback

[2018-12-10 15:23] #199 closed, assigned to jessicamarcus

[2018-12-14 20:36] #6 closed, assigned to nobody

[2018-12-14 20:36] #7 closed, assigned to nobody

[2018-12-27 16:45] zweishar opened #222 "Update commissions search app to work with D8"
The commissions search app is designed to ingest settings that are created by Drupal. In Drupal 7, those settings lived at `window.Drupal.settings.bos_commissions_search.bos_commissions_search_graphql_endpoint`
`window.Drupal.settings.bos_commissions_search.bos_commissions_search_graphql_api_key`

That path is different in D8. It is now:     `window.drupalSettings.bos_commissions.bos_commissions_s

[2019-01-02 15:52] fionawhim opened #223 "Back button doesn't work in checkout flow"
Ideal back button behavior, per @fionawhim and @jessicamarcus:

 - Clicking "back" takes you to the previous page
 - Data on the previous page should be preserved
 - Clicking back then forward should leave you in the same place
 - Clicking back, modifying form, then clicking forward w/o submitting should not have the form modifications
 - Hacking the URL to bypass steps should show errors on the "

[2019-01-02 16:10] fionawhim commented on #223
Ideal back button behavior, per @fionawhim and @jessicamarcus:

 - Clicking "back" takes you to the previous page
 - Data on the previous page should be preserved
 - Clicking back then forward should leave you in the same place
 - Clicking back, modifying form, then clicking forward w/o submitting should not have the form modifications
 - Hacking the URL to bypass steps should show errors on the "

[2019-01-02 16:29] fionawhim opened #224 "Checkout flow for Birth Certs"
Have a flow at /birth/checkout that goes through shipping, payment, and review.

(This is likely / definitely based on components already written for death certificate checkout.)

[2019-01-02 16:30] fionawhim opened #225 "Implement new question flow designs"
When CityOfBoston/design-team-workflow#931 is done, implement the new UI changes in registry-certs.

[2019-01-02 16:44] fionawhim commented on #224
Blocked on #223

[2019-01-03 16:33] fionawhim opened #226 "Map birth cert request data to fulfillment DB"
We need a specific plan on how to put the responses to the birth certificate request questions into the orders database.

[2019-01-03 16:55] fionawhim opened #227 "Use new Forgot Password token"
Ping is now sending a "userAccessToken" during login assertions for the forgot password endpoint.

We need to save that in the session and send it back as "Token" when triggering the forgot password workflow.

[2019-01-03 21:41] fionawhim commented on #226
Sent an email to Rich & Scott to ask about using something other than sp_AddOrderItem to record birth cert info.

[2019-01-03 21:42] fionawhim opened #228 "Fix single logout"
Logout is not working.

 - [x] Update UI to redirect the user to https://sso-dev.boston.gov/idp/startSLO.ping rather than creating a SAML logout request
 - [ ] Figure out why the logout success URL is 404ing

[2019-01-04 14:34] fionawhim commented on #228
Blocked on waiting for LikeMinds to respond about 404 behavior.

[2019-01-04 16:08] fionawhim commented on #223
Currently dividing and conquering:

 - @jessicamarcus to finish making `PaymentContent` use Formik and not insta-update the `Order` object
 - @fionawhim to have `Order` objects save / restore from session storage

[2019-01-07 21:23] #227 closed, assigned to fionawhim

[2019-01-18 15:25] #223 closed, assigned to fionawhim, jessicamarcus

[2019-01-18 21:33] #226 closed, assigned to fionawhim

[2019-01-22 14:36] #224 closed, assigned to fionawhim, jessicamarcus

[2019-01-24 18:53] jessicamarcus opened #259 "Add an identification verification step to the questions flow"
The `parentalInformation` step includes the question ”were your/their parents married at the time of your/their birth?”. Any answer other than **yes** should take the user to an id verification step, otherwise the question flow ends and the user proceeds to `/birth/review`.

The actual ID verification functionality will be a discrete component, since there is also a freestanding id verification pa

[2019-01-25 16:02] #93 closed, assigned to fionawhim

[2019-01-25 16:27] jessicamarcus opened #264 "UI for ID upload step in questions flow"
Component to enable a user to upload images and documents for identification verification.

This component will be used in the questions flow `verifyInformation` step, as well as a freestanding page; when the Registry manually requests id verification from a user for an existing order, this page is where that user is directed.

**Waiting on:**
- [ ] detailed instructions for the user
- [x] visual

[2019-01-25 17:04] jessicamarcus opened #265 "ID verification - add/remove files in DB"
Binary files provided by the user will be immediately uploaded to the db server, separate from the other information collected during the questions workflow.

Functionality to delete a file on the server must be present for cases when the user wants to replace or delete a file before proceeding with their request order.

The server will return a unique `attachmentKey` on success.

_The following i

[2019-01-25 18:59] fionawhim commented on #91
OK, updated to make links that take the user between the states. (Back / forward buttons work after clicking the links)

<img width="993" alt="screen shot 2019-01-25 at 1 58 21 pm" src="https://user-images.githubusercontent.com/260837/51766762-62c2b480-20a9-11e9-851e-affb1e5f6b0b.png">

<img width="993" alt="screen shot 2019-01-25 at 1 58 25 pm" src="https://user-images.githubusercontent.com/26083

[2019-01-25 18:59] fionawhim commented on #91
Implemented in #266, just waiting on @rachelbraun / IAM team review of UI.

[2019-01-25 19:17] rachelbraun commented on #91
Looks great.

Passed on to IAM and Greg for review. Will advise.

On Fri, Jan 25, 2019 at 13:59 Fiona Hopkins <notifications@github.com>
wrote:

[2019-01-25 21:09] rachelbraun commented on #91
They said it looks great. Good to go.

[2019-01-25 21:42] #259 closed, assigned to jessicamarcus

[2019-01-28 14:44] fionawhim opened #268 "Birth certs 1st milestone punch list"
- [x] Quantity dropdown on review page
- [x] Date input field mask / validation
- [x] Remove "X" on review page, add "cancel and start over" link

[2019-01-28 14:48] fionawhim opened #269 ""Client" landing page"
When user selects “client” for the question ”how are you related?”, this information is displayed and the request flow ends.

[2019-01-28 14:49] jessicamarcus commented on #269
See visual: https://xd.adobe.com/view/2cbd3d29-bf5c-4243-4a87-4144feae1db7-5a8c/screen/ae32c8c3-1bad-44c5-a542-d6fbaf96492e/7B

[2019-01-28 14:50] fionawhim commented on #268
Product is ok with date field being a single text field with "mm/dd/yyyy" input mask

[2019-01-28 14:58] fionawhim commented on #268
Use the "Qty." combo box from death certificate page on the review step, but Jess to also test having a stepper.

[2019-01-28 15:01] fionawhim opened #270 "Update "Order Details" dropdown in birth checkout flow"
Also update "Order Details" on the Review page to not just say "1 copie(s)"

[2019-01-28 15:11] fionawhim opened #271 "Make "Record may have an access restriction" be a error-ish box that pops up when "Don't know" / "no" are selected in "were your parents married""

[2019-01-28 15:11] fionawhim opened #272 "Implement birth certificates confirmation page after successful orders"

[2019-01-28 15:12] fionawhim opened #273 "Fix registry-certs Stripe callback for uncaptured charges"
https://rollbar.com/CityofBoston/registry-certs/items/114/

[2019-01-28 15:12] fionawhim opened #274 "Update checkout flow to match birth certs designs"
- Keep the same order as in death certificates
 - Include the progress bar at the top
 - Allow "Back" into review page

[2019-01-28 15:16] #225 closed, assigned to jessicamarcus

[2019-01-28 15:17] fionawhim commented on #176
Rachel will draft the content for these emails

[2019-01-28 15:18] fionawhim commented on #177
Implementing this should just follow from putting in the new emails, so we don't need to track it separately.

[2019-01-28 15:18] #177 closed, assigned to nobody

[2019-01-28 16:46] #91 closed, assigned to fionawhim

[2019-01-29 15:38] #270 closed, assigned to fionawhim

[2019-01-29 15:38] #274 closed, assigned to fionawhim

[2019-01-29 18:13] #273 closed, assigned to fionawhim

[2019-01-29 18:22] fionawhim commented on #272
<img width="1164" alt="screen shot 2019-01-29 at 1 22 35 pm" src="https://user-images.githubusercontent.com/260837/51930610-f60d2a00-23c8-11e9-8405-f163652676c8.png">

[2019-01-29 19:56] #272 closed, assigned to fionawhim

[2019-01-30 21:01] rachelbraun commented on #269
If user selects, 'Someone Else' then 'Client', then move to this blurb and end process.

### Visual
![7b](https://user-images.githubusercontent.com/35377030/52010518-bc5d2180-24a3-11e9-9fd6-06c4594108ea.png)

### Language

Title:
You must complete this process in person or through the mail.

Content:
If you are a legal representative making a request for a client, you need these items to get a rec

[2019-01-31 20:40] #269 closed, assigned to fionawhim

[2019-01-31 20:40] #271 closed, assigned to fionawhim

[2019-02-04 14:37] fionawhim commented on #264
Saving these to the DB will be a separate bug.

[2019-02-04 14:46] fionawhim commented on #264
![registry-certs digital-staging boston gov_birth_step verifyidentification](https://user-images.githubusercontent.com/260837/52215254-a9f73500-2861-11e9-9bbf-62f7eca7e12b.png)

^^^ Based on this page, adding front / back upload regions, supporting documents list

[2019-02-04 20:58] jessicamarcus opened #290 "Update button treatment/spacing re: discussion w/Sebastian"
- [x] change “back” button appearance to match death’s (i.e. text link)
- [x] increase vertical spacing between question options and the back/next buttons
- [x] yes/no/i don’t know labels should move next to icons on mobile vs. underneath at wider viewports

[2019-02-05 19:53] #290 closed, assigned to jessicamarcus

[2019-02-07 15:49] rachelbraun opened #299 "Text fix: Set Up Security Codes Page"
Screenshot 1 Text Change:
![screenshot 1](https://user-images.githubusercontent.com/35377030/52423471-31dd7900-2ac6-11e9-9e70-3d83d1d8d970.jpg)
1st sentence change to: Access Boston will send you a security code when you log in on a new computer, tablet, or phone.
6th sentence change to: If you don't have a phone, you can use a personal email address instead.

Screenshot 2 Text Change:
![screensho

[2019-02-07 16:33] carolinestj commented on #264
@jessicamarcus latest update to ID flow, let me know what assets you need!
<img width="913" alt="screen shot 2019-02-07 at 11 02 23 am" src="https://user-images.githubusercontent.com/22770827/52426524-23925b80-2acc-11e9-832b-e30c2876d3f3.png">

[2019-02-07 16:44] #268 closed, assigned to jessicamarcus

[2019-02-13 19:22] jessicamarcus opened #309 "Text fixes"
**Client Landing Page**
- [x] Make subheading read "You must complete this process in person or by mail." Flag if there are sizing issues.

**Buying for Self / Someone Else**
- [x] "What were your parents’ names at the time of your birth?" / "What were their parents’ names at the time of the birth?"
- [x] Info blurb: "Please use the name your parents used at the time of your birth. If only one par

[2019-02-13 19:28] #264 closed, assigned to jessicamarcus, carolinestj

[2019-02-13 19:51] jessicamarcus opened #311 "Adjust React header component behavior"
Header behavior on scroll should be in line with that of boston.gov. On large viewports, the City seal appears in the header element. When a user scrolls more than ~310px and then stops, the seal moves up in the header so it is visually half-hidden. If the user scrolls back to the top of the page, the seal returns to its original position. Transition is accomplished by adding/removing the `s--u` c

[2019-02-13 20:00] #309 closed, assigned to jessicamarcus

[2019-02-15 16:11] rachelbraun commented on #176
**Request processed / invoice**
Title: YOUR BIRTH CERTIFICATE ORDER IS ON ITS WAY

Content: We’ve processed your order and charged your card. Your order is being shipped via USPS to the shipping address you provided.

Include Order Info and Total below that text.

[2019-02-19 19:13] rachelbraun opened #320 "Text Change: Add "Under State Law" text to Verify Identity page"
Change two intro paragraphs on Verify Identity page to read:

"Under state law, the record you’re ordering may have an access restriction. You must upload a valid form of identification before we can process your request.

Please note: You must be a person or parent listed on the record to get a copy of the record. If you are not listed on the record, you will not be able to get a copy. We will ca

[2019-02-19 19:15] rachelbraun opened #321 "Make front of ID required"
On ID upload, make front required

[2019-02-19 20:02] fionawhim commented on #176
@rachelbraun Here’s the expired email so far:

<img width="710" alt="screen shot 2019-02-19 at 3 02 22 pm" src="https://user-images.githubusercontent.com/260837/53043850-6f8fb980-3457-11e9-9074-d7cee6f261b0.png">

[2019-02-19 20:15] rachelbraun commented on #176
- [x] Request has been received
- [x] Request processed / invoice

Scratch:
* Addt'l information request
* Information request reminder

_Moving forward: If Registry requests additional support here, we'll add a link for upload. If they need support on top of that, we'll set up email framework from database to send email request for ID and/or supporting documents._

**Request canceled email**
YOUR

[2019-02-20 14:13] #176 closed, assigned to fionawhim, rachelbraun

[2019-02-20 21:29] rachelbraun opened #323 "Text Change: Update footers in automated emails"
Update footers in automated emails to read "Contact the Registry at birth@boston.gov"

Their preference is for emails only.

[2019-02-21 15:43] rachelbraun opened #325 "Make Default Purchase 1 Copy"
On Review Your Record request page, quantity sometimes defaults to '1', sometimes '0'.

Please update to default quantity 1.

[2019-02-21 15:45] rachelbraun opened #326 "Issue w/Cancel and Start Over Link"
On the Review Your Request page, clicking the "Cancel and start over" link takes the user back one page to Step 4 (Parent Information) instead of Step 1.

Add'l note:
That "Cancel and start over" link takes the user back one page to Step 4 (Parent Information) but all the information is cleared.

Right now, users can go from Step 4 through to Payment without filling out all the required informatio

[2019-02-21 16:38] fionawhim commented on #326
Can we also revisit the UI on this? I'm not a fan of having the two different links.

[2019-02-21 16:40] fionawhim commented on #326
For reference:

<img width="847" alt="screen shot 2019-02-21 at 11 39 30 am" src="https://user-images.githubusercontent.com/260837/53185650-6e809880-35cd-11e9-94c8-c713ca6a60da.png">

Maybe "cancel and start over" could be small and centered and below everything?

[2019-02-21 17:32] #325 closed, assigned to fionawhim

[2019-02-21 18:48] #323 closed, assigned to fionawhim

[2019-02-22 18:52] #326 closed, assigned to fionawhim

[2019-02-25 13:50] #265 closed, assigned to jessicamarcus

[2019-02-25 15:22] rachelbraun opened #334 "Add in 'NoID?' Email Link"
Make 'Request help ->' link send an email to 'birth@boston.gov' email address with subject line "Birth Certificate Support Request: No ID"

[2019-02-25 18:38] #320 closed, assigned to jessicamarcus

[2019-02-25 18:38] #321 closed, assigned to jessicamarcus

[2019-02-26 19:51] #334 closed, assigned to nobody

[2019-02-26 20:02] fionawhim commented on #228
This is now fixed.

[2019-02-26 20:02] #228 closed, assigned to fionawhim

[2019-02-26 20:02] fionawhim commented on #12
Fixed!

[2019-02-26 20:02] #12 closed, assigned to fionawhim

[2019-02-26 21:24] rachelbraun opened #339 "QA Fix: Cancel and Start Over Lost Path"
Identified a lost path:

If I fill out my info, then hit 'cancel and start over' on the 'review record request' page, I get taken back to the start (with information cleared as it should).

If at this point, I choose to hit the 'back' on my browser, I'm taken back to the 'review record request' page but with no birth certificate information specified.

I can continue forward to make a purchase unt

[2019-02-26 21:26] rachelbraun commented on #339
![birth certs review your record request page](https://user-images.githubusercontent.com/35377030/53447417-14277380-39e3-11e9-8c16-f05386806ea9.png)

<img width="855" alt="screen shot 2019-02-26 at 4 23 37 pm" src="https://user-images.githubusercontent.com/35377030/53447491-35885f80-39e3-11e9-8cc8-d3ced7c6f292.png">

<img width="855" alt="screen shot 2019-02-26 at 4 23 47 pm" src="https://user-ima

[2019-02-27 18:52] rachelbraun opened #342 "Add icons for Applications"
Add icons Sebastian designed in place of Boston B logo for each application:
https://drive.google.com/drive/u/2/folders/1j4RV6uBZ3mkHGotxEoGcRTGxt5byqpjQ

[2019-02-28 20:01] #311 closed, assigned to nobody

[2019-02-28 20:52] #342 closed, assigned to nobody

[2019-03-05 18:42] rachelbraun commented on #299
Since page is same, please use the following text:

"Access Boston will send you a security code when you log in on a new computer, tablet, or phone. You’ll also need a code to reset your password if you forget it.

This is multi-factor authentication. It keeps your account secure even if someone steals your password.

Use your cell phone number if you have one. This is the most secure option. If

[2019-03-05 19:16] #299 closed, assigned to fionawhim

[2019-03-07 15:12] rachelbraun opened #352 "Add Google Analytics tags"
Track:

1. Who they're order a birth certificate for (including all someone else options)
2. Were they born in Boston
3. Did the parents live in Boston at the time of the birth
4. What year were they born
5. Were parents married at time of the birth
6. Clicked upload front of ID
7. Clicked upload supporting documents
8. Clicked 'No ID?' link
9. Qty of birth records requested
10. Shipping address c

[2019-03-11 17:47] rachelbraun commented on #352
Adding an 11th.

Track:
- [ ] Who they order a birth certificate for (including all someone else options)
- [ ] Were they born in Boston
- [ ] Did the parents live in Boston at the time of the birth
- [ ] What year were they born
- [ ] Were parents married at the time of the birth
- [ ] Clicked upload front of ID
- [ ] Clicked upload supporting documents
- [ ] Clicked 'No ID?' link
- [ ] Qty of bi

[2019-03-11 17:48] rachelbraun commented on #352
Adding one post-sync.

Track:

- [x] Who they order a birth certificate for (including all someone else options)
- [x] How many users navigated to the Purchasing for a Client page
- [x] Were they born in Boston
- [x] Did the parents live in Boston at the time of the birth
- [x] What year were they born
- [x] Were parents married at the time of the birth
- [x] Clicked upload front of ID
- [x] Click

[2019-03-12 19:06] rachelbraun opened #360 "Making error message clearer if Stripe charge fails"
Aiming to make the error message clearer if the Stripe charge fails.

Here's current:
<img width="589" alt="Screen Shot 2019-03-12 at 3 02 32 PM" src="https://user-images.githubusercontent.com/35377030/54228414-7d75af00-44d8-11e9-9410-26354f647e5f.png">

Please change text to:
Red Text - This charge failed.
Body Text - Your card has insufficient funds. Update your payment information to submit you

[2019-03-13 13:30] #360 closed, assigned to fionawhim

[2019-03-14 13:40] rachelbraun opened #368 "Fix (timezone) birthdate issue"
Date block is changing some birth dates to a day earlier due to timezone discrepancies.

Case 1:
User types in April 4 1970
Request shows as April 3 1970
Yarmouth, ME
Submitted at 10:40am on 3/8

Case 2:
User types in Oct 14 1947
Request shows as Oct 13 1947
Newtonville, MA
Submitted at 8:40am on 3/14

[2019-03-14 13:59] rachelbraun commented on #368
Registry just confirmed that only the email confirmation is incorrect.

The fulfillment side shows the correct date.

[2019-03-14 15:20] rachelbraun opened #370 "Investigate restricted record request moving to fulfillment w/o ID attached"
User selected parents were married but request went through to fulfillment w/no ID attached.

[2019-03-14 15:20] rachelbraun commented on #370
<img width="800" alt="Screen Shot 2019-03-14 at 11 17 57 AM" src="https://user-images.githubusercontent.com/35377030/54368790-293f0c00-464b-11e9-9ee4-82d388343dc7.png">

[2019-03-14 15:26] rachelbraun opened #371 "Add Apostille/Hand Signature request capability"
Add Apostille/Hand Signature request capability.

Will likely live on the Review Record Request page.

Draft text from Registry:
"If you are requesting a certificate for International use that requires an Apostille from the MA Secretary of State you will require a HAND SIGNATURE by the Registry, if so please email birth@boston.gov with the name of the person on the record and their date of birth."

[2019-03-14 19:03] fionawhim commented on #370
I think I know what this is, or at least one cause.

We don't require image uploads to be _successful_ to proceed, just to happen.

[2019-03-14 19:14] #368 closed, assigned to fionawhim, jessicamarcus

[2019-03-14 20:55] #370 closed, assigned to fionawhim

[2019-03-15 13:09] fionawhim opened #374 "Birth Certs broken on iOS 9"
Safari 9 seems not to support `Intl`

https://caniuse.com/#search=Intl

https://rollbar.com/CityofBoston/registry-certs/items/143/

[2019-03-15 13:16] fionawhim opened #375 "Safari: Date wrong on review page"
Report from a constituent that the date on the review page is one day off from their actual date.

[2019-03-15 13:24] fionawhim commented on #375
I can reproduce on Mojave Safari with the date 4/10/53 -> 4/9/53

[2019-03-15 15:22] #374 closed, assigned to nobody

[2019-03-15 15:22] #375 closed, assigned to fionawhim

[2019-03-15 15:58] #352 closed, assigned to jessicamarcus

[2019-03-19 18:51] BrutiAnteneh opened #386 "Edge Browser Icon Bug"
Birth Certs

Edge browser on Windows 10:

![image](https://user-images.githubusercontent.com/33470951/54633046-bc19e500-4a55-11e9-9fa3-4894480ea7cb.png)

[2019-03-19 19:10] BrutiAnteneh commented on #386
![image](https://user-images.githubusercontent.com/33470951/54634696-1c5e5600-4a59-11e9-89ca-59d129c446a8.png)

[2019-03-21 15:03] rachelbraun opened #389 "Change text on first question"
Change:

Who are you ordering a birth certificate for?

To:

Whose birth certificate are you ordering?

[2019-03-21 19:58] #389 closed, assigned to jessicamarcus

[2019-03-25 14:59] reillyzlab commented on #181
This is still an active issue. It's in the Salesforce change manager as 'high' -- 000103

[2019-03-25 17:05] fionawhim commented on #175
This is still an issue. Pinging the email.

[2019-03-27 17:53] rachelbraun opened #403 "Add warning for parents ordering for newborns"
If a user is looking for a birth cert for someone born in the last 3 weeks, pop up the same red module used for folks whose parents weren't married.

Text should say:

**We recommend waiting until the child is at least two weeks old before you request a birth certificate.** It generally takes two weeks for us to receive paperwork from the hospital.

If you order too early, we can only hold your re

[2019-03-27 18:08] rachelbraun commented on #371
Add a checkbox on final record review request page that says:
"I need a certificate for international use that requires an apostille from the Mass. Secretary of State. I am requesting a hand signature from the Registry Department."

[2019-03-28 21:30] rachelbraun opened #405 "Add maiden name wording to parent(s) info page"
Change Last Name to read "Last / Maiden Name (if applicable)" for both parents

[2019-03-28 21:32] rachelbraun opened #406 "Add alert to payment page when missing info"
A few users are getting stuck on the payment page, thinking they can't move forward - when they haven't filled out all of the Credit/Debit Card info.

Consider making it so that when grey button is clicked, missing info (like CVC code greyed out text) turns red.

[2019-03-28 21:32] rachelbraun commented on #406
<img width="497" alt="Screen Shot 2019-03-28 at 4 41 27 PM" src="https://user-images.githubusercontent.com/35377030/55194250-78bf2500-517f-11e9-956a-ef1cc89cf2df.png">

[2019-03-29 00:52] Jailalwani commented on #181
Hello Team,

Per discussion with Incapsulate recommendation was made to use the
Salesforce native API using the rest service to get the closed date for
case.

Is Digital team using Salesforce native API?

Thank You
Jai

On Mon, Mar 25, 2019 at 10:59 AM Reilly Zlab <notifications@github.com>
wrote:

--

[image: Digital_City_Seal_black.png]

*Jai Lalwani*

Project Manager

Department of Innovation a

[2019-03-29 13:00] fionawhim commented on #181
@Jailalwani We are not using the native API.

Digital's recommendation is that Incapsulate either follow the Open311 spec[1] for `updated_datetime` (which says: "The date and time when the service request was last modified. For requests with status=closed, this will be the date the request was closed.") or add a `closed_datetime` as a separate field.

[1]: https://wiki.open311.org/GeoReport_v2/#ge

[2019-03-29 16:21] rachelbraun opened #407 "Add 'certified paper copy' language to record review pages."
Add 'certified paper copy' language to the two record review pages.

[2019-03-29 16:22] rachelbraun commented on #407
Change this to read "(Certified Paper Copy)":
<img width="535" alt="Screen Shot 2019-03-29 at 12 20 14 PM" src="https://user-images.githubusercontent.com/35377030/55247124-2e8c8100-521d-11e9-963c-eaf80edc1f6c.png">

Add in the words "(Certified Paper Copy)" after the name on the record:
<img width="206" alt="Screen Shot 2019-03-29 at 12 20 50 PM" src="https://user-images.githubusercontent.com/3537

[2019-03-29 16:29] rachelbraun opened #408 "Add 'certified copy' language to confirmation emails."
Change order details in email confirmations to read:

# x Certified birth certificate for {NAME} ({DOB})

[2019-04-01 14:13] #339 closed, assigned to jessicamarcus

[2019-04-02 13:43] fionawhim opened #416 "Access Boston "Authentication Failed" SAML response"
We’re seeing a SAML assertion for a failed authentication:

https://rollbar.com/CityOfBoston/access-boston/items/50/occurrences/73166733406/

[code]

[2019-04-02 15:03] #403 closed, assigned to jessicamarcus

[2019-04-10 19:19] #405 closed, assigned to jessicamarcus

[2019-04-10 19:19] #407 closed, assigned to jessicamarcus

[2019-04-10 19:19] #408 closed, assigned to jessicamarcus

[2019-04-17 19:59] reillyzlab commented on #181
Marked as post go live in salesforce on 4/1/19

[2019-04-17 20:09] reillyzlab commented on #175
Not ideal but can be resolved post go live as noted in salesforce

[2019-05-07 19:58] #371 closed, assigned to rachelbraun

[2019-06-20 17:57] sarahgreisdorf opened #463 "Name Box Options"
**Description:**
Need to test which options make the most sense for name lookup

**Options:**
- Full Name
- Full Name & Name at Birth
- Full Name & Maiden Name
- First Name & Last Name & Maiden Name
- Alternative spellings of that name

[2019-06-20 18:02] sarahgreisdorf opened #464 "Date Range Options"
Description:
Need to test which date range formats are easiest to use to convey all information

Options:
- Single date box
- Date range box which automatically populates with the second date
- Date range box which prompts the user to enter both date
- Date slider
- Free form box

[2019-07-15 13:57] jessicamarcus opened #466 "Access Boston: Add application group management to the portal"
see: https://github.com/CityOfBoston/iam/issues/644

The IIQ user experience for admins is not ideal for adding/removing groups for an end user, so we are adding this functionality to the [access-boston](../tree/develop/services-js/access-boston) portal.

- in the portal under Support Tools, a “Manage Groups” link will be present for specific app owners
- an app owner can search for an end user by

[2019-07-15 14:21] jessicamarcus commented on #466
Questions:
- [ ] Should Group membership view also show a list of a given group’s admins?
- [ ] What is the desired experience for search results? Inline suggestions autocomplete?

[2019-07-23 16:50] jessicamarcus opened #469 "Make React modal component a11y-friendly"
The current implementation of a modal dialog does not fully comply with WAI-ARIA best practices:

- no focus trap
- background document remains interactive

https://www.w3.org/TR/wai-aria-practices/#dialog_modal

Good information on native `<dialog>` element support: https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/

We should also review whether a n

[2019-08-02 20:49] sarahgreisdorf opened #471 "Registry: Link to other certificate ordering processes from confirmation page"
Make it possible to access the marriage, birth, and death certificate ordering processes from the confirmation page of each one

[2019-08-02 20:53] sarahgreisdorf opened #472 "Registry: Allow option to ship internationally- Check with Stripe"
See if we can ship internationally, and if we can, integrate into the application

[2019-08-02 20:55] sarahgreisdorf opened #473 "Registry: Time restriction on ordering"
Change date text to tell people they can’t order a certificate until 10 days after the birth took place

[2019-08-02 21:01] sarahgreisdorf opened #474 "Registry: Cut down number of personal identification options"
Make birth options match marriage options

[2019-08-02 21:04] sarahgreisdorf opened #475 "Registry: Allow people to put a birth date range"
Similar to marriage in case people don't know the date

[2019-08-02 21:07] sarahgreisdorf opened #476 "Registry: Change name box to full name"
Change first and last name to full name box on birth

[2019-08-02 21:10] sarahgreisdorf opened #477 "Registry: Shorten alternative spelling box"
Make the box shorter on birth for alternative spelling

[2019-08-02 21:11] sarahgreisdorf opened #478 "Registry: Add option to allow multiple alternative spellings on birth application"
Add multiple options like in marriage

[2019-08-02 21:11] sarahgreisdorf opened #479 "Registry: Add additional comments box to confirmation page on birth and death"
Add additional comments box to confirmation page on birth and death much like marriage certificates

[2019-08-06 20:27] max-zjh-the opened #480 "Registry: Support multiple ID uploads"
On marriage certificates, I clicked on "Mine" and chose that their parents were not married and was met with this screen:
![image](https://user-images.githubusercontent.com/42783424/62574637-f64e1c80-b866-11e9-8c2a-c09e0814b4a8.png)
Then I continued with the second person and also chose that their parents were not married, but was not greeted with the previous screen's message:
![image](https://us

[2019-08-06 20:30] #2 closed

[2019-08-06 20:30] max-zjh-the opened #481 "Registry: "Start Over" button bug"
On birth certs, choose "Mine" as the person and then choose "No" for the option of being born in Boston. The "Start Over" button that replaces the "Next Question" button doesn't do anything when clicked.
![image](https://user-images.githubusercontent.com/42783424/62574885-7bd1cc80-b867-11e9-8d94-4ae4eed3c826.png)

[2019-08-06 20:31] reillyzlab commented on #2
This content has been moved into boston.gov.

This site has been redirected to boston.gov/budget.

[2019-08-06 20:31] reillyzlab commented on #386
@maxbahar can you check whether this is still an issue

[2019-08-06 20:33] max-zjh-the opened #482 "react-fleet: Menu toolbar formatting issue"
On death, birth, and marriage, the Menu sidebar is formatted differently from other pages on Boston.gov. Instead of the contents of "Places" and "Government" being on a secondary page, it is now shown on the main menu.

Marriage cert online form page:
![image](https://user-images.githubusercontent.com/42783424/62575066-e7b43500-b867-11e9-8169-1bcb057c013b.png)

Career center page:
![image](https:/

[2019-08-06 20:35] reillyzlab commented on #480
@jessicamarcus we should resolve this prior to launch.

Believe person 2 should get the potential error prompt much like person 1, correct or no?

Open question: Would they both need to upload documents? Or, would only one person need to?

[2019-08-06 20:37] reillyzlab opened #483 "Research Apostille"
https://docs.google.com/document/d/1Segz3-nvoLbhZB6Cy8q0jFWw3I14kh9hyeWtbprF4s8/edit#

[2019-08-06 20:37] #483 closed, assigned to nobody

[2019-08-06 20:39] max-zjh-the opened #484 "Registry: 'Other' on marriage certs"
On Marriage Cert's review page, 'Other can be selected as an option which causes the quantity box to be blank and the dollar values to be $NaN.

![image](https://user-images.githubusercontent.com/42783424/62575427-b0925380-b868-11e9-9386-2a09dc167df8.png)

[2019-08-06 20:43] reillyzlab opened #485 "Research on Apostille"
https://docs.google.com/document/d/1Segz3-nvoLbhZB6Cy8q0jFWw3I14kh9hyeWtbprF4s8/edit#

[2019-08-06 20:43] #485 closed, assigned to nobody

[2019-08-06 20:45] max-zjh-the opened #486 "Registry: 'Quantity' field 'other' quirks"
On the review page on all certs requests, the quantity field behaves differently for each one.

The death page allows users to click on 'Other' and type in a number that caps at 99:
![image](https://user-images.githubusercontent.com/42783424/62575672-44fcb600-b869-11e9-93b4-25b83e1570cb.png)

The birth page defaults to 1 if users click on 'Other' and doesn't allow users to delete the 1 to clear th

[2019-08-06 20:56] max-zjh-the opened #487 "Registry: 'Verify Email' field on review order page"
On birth certs and marriage certs, add a 'verify email' field and in-line edit to the review page. Possibly make it similar to the 'Shipping Address' verification field.

![image](https://user-images.githubusercontent.com/42783424/62576530-11229000-b86b-11e9-97fc-df19b9e4505d.png)

[2019-08-06 21:01] reillyzlab opened #488 "Comparative research for marriage certificate like birth certificate"
https://docs.google.com/document/d/1WBEYQS0nirku_wo_M42yMqWr7oQZk6alW4puSKAQpSw/edit#heading=h.trw1d3t6znue

[2019-08-06 21:02] #488 closed, assigned to nobody

[2019-08-06 21:03] reillyzlab commented on #464
Implemented this so closing

[2019-08-07 19:33] max-zjh-the opened #489 "Registry: (Marriage) Occasionally unable to continue past review record request"
After testing 47 out of 72 possible paths, it seems you can only get past the "Review Record Request" page only if you select "Mine" for person's marriage cert and then select "Yes" for marriage filed in Boston. If you don't select these path options, the 'Continue' button won't be highlighted blue and will be grey instead.

Screenshot:
![image](https://user-images.githubusercontent.com/42783424/6

[2019-08-08 14:54] jessicamarcus commented on #480
@maxbahar it looks like the first screenshot is of the “filed in Boston?” question. The personal information questions (which include the question about parents’ marital status) come a bit later in the question flow; if the user selects “I don’t know” or ”no” for person 1, that warning will appear and the ID upload question will be added to the flow. If the user has been shown the warning for pers

[2019-08-08 14:54] #480 closed, assigned to nobody

[2019-08-08 15:11] jessicamarcus commented on #482
Ah, this is a digital webapps issue, not specific to Registry. I’m going to return to this issue.

[2019-08-09 14:43] #481 closed, assigned to nobody

[2019-08-09 14:44] #486 closed, assigned to nobody

[2019-08-09 14:44] #489 closed, assigned to nobody

[2019-08-12 13:46] #484 closed, assigned to nobody

[2019-08-12 13:46] reillyzlab opened #491 "Research on special characters current use"
https://docs.google.com/document/d/1Segz3-nvoLbhZB6Cy8q0jFWw3I14kh9hyeWtbprF4s8/edit#

[2019-08-12 13:47] #463 closed, assigned to nobody

[2019-08-12 13:47] #491 closed, assigned to nobody

[2019-08-12 13:47] #464 closed, assigned to nobody

[2019-08-12 17:29] jessicamarcus opened #492 "Registry: allow online orders for a client (birth and marriage)"
Currently, a user who indicates that they are purchasing a certificate for a client (e.g. legal counsel) is dead-ended with instructions to make the request by mail or in person. This is incorrect: those users **are** allowed to make certificate requests online, using the id/document upload functionality for potentially-restricted requests.

[2019-08-12 17:39] jessicamarcus commented on #487
I’ll add a “contact information” section in the style of the other two that will show the name and phone number provided, alongside the email address.

[2019-08-12 19:33] jessicamarcus commented on #466
Design ticket: https://github.com/CityOfBoston/creative-team-workflow/issues/1306

[2019-08-13 14:40] #487 closed, assigned to nobody

[2019-08-13 15:27] reillyzlab opened #495 "Registry: Marriage Certificates Analytics"
Please implement to track:

- [x] General pageviews
- [ ] Who is ordering?
- [ ] Conversion of how far they get in the app? Do they drop off at a certain page? Do they hit submit at the end?
- [ ] Track whether user added something in the comment box.
- [ ] See if people looked at their order details on the shipping page
- [x] Track whether people are opening the Apostille details.
- [ ] Track is

[2019-08-19 14:53] jessicamarcus commented on #495
If we can track ecommerce through Stripe, I think we ought to.

@mmcgowanBOS can you look through this list of requirements then walk me through what I need to provide in order to meet them? This has become a significant blocker for me. 😞

[2019-08-19 19:29] mmcgowanBOS commented on #495
@jessicamarcus, just sent a Google Calendar invite to discuss. I've gone ahead and addressed a few of the already.

[2019-08-20 16:22] mmcgowanBOS commented on #495
1. Pageviews
    - Tracking with default GA

2. Who is ordering?
    - Matt to look further into (possible JS solution through even handler click reading radio button val OR get REACT state through code base change)

3. Conversions and user flow
   - Data can be taken from Stripe and also User Flows in default GA

4. User commented in box?
   - Going to check if comment box is not NULL or empty st

[2019-08-21 17:51] #492 closed, assigned to jessicamarcus

[2019-09-16 20:35] reillyzlab commented on #222
Needs to be looked into to see if this needs to happen.

Particularly if it's going to break the search.

[2019-09-17 14:05] jimafisk commented on #222
Example: https://www.boston.gov/civic-engagement/boards-and-commissions

[2019-09-17 19:33] reillyzlab opened #505 "Access Boston: Create a testable front end to test UI"
Access Boston: Create a testable front end to test user interface with some folks.

[2019-09-17 19:34] reillyzlab commented on #505
@jessicamarcus creating an instance on storybook that we can test against. Will use fake data. Purely to test UI.

Should be done by end of day 9/17.

[2019-09-18 13:17] reillyzlab commented on #505
@jessicamarcus shared this on 9/18

https://access-boston-dev.digital-staging.boston.gov/storybook/

All the relevant components are in the ManageGroupsPage section:: https://access-boston-dev.digital-staging.boston.gov/storybook/?path=/story/managegroupspage-index--default

[2019-09-18 13:20] reillyzlab opened #506 "Access Boston: Analytics"
Reilly add context for analytics later

[2019-09-18 13:23] reillyzlab opened #507 "Access Boston: Set up to externally access data"
Determined on 9/11 that we are able to have data for the Access Boston Portal. Previously had open question about ability to access.

Proofed it out, but will need to validate.

[2019-09-18 13:27] reillyzlab opened #508 "Access Boston: Determine who can edit the groups"
IAM committed to create a new Group where users who can edit groups would show up, because there was no one in the data to show who was able to edit groups. This will determine who can see the group management link.

We also need to know which groups each individual person can edit, which is not in the data. With IAM to help create a solution.

Additional email context from 8/19.

[2019-09-18 13:31] reillyzlab commented on #508
Can confirm the group of folks is in the Dev server, but @phillipbentonkelly hasn't checked on the output of the SAML response yet. We can start using this to display the Group Management link and show the link to the App in the Dashboard. [Still needs to be done. Separate ticket for adding the link will be created. Phil to test this functionality.

Still need: Information on what groups each indi

[2019-09-18 15:10] reillyzlab opened #509 "Access Boston: Figure out roadmap of requests for next year"
Access Boston: Figure out roadmap of requests for next year.

Then figure out how this fits into rest of Digital roadmap.

[2019-09-18 15:13] reillyzlab opened #510 "Access Boston: Add link to portal for group management"
Add link to Access Boston portal.

@gretchen-grozier can you provide the following:

- [x] What the verbiage should be for the link?

- [x] Where this link should fall on the portal?

[2019-09-18 15:16] reillyzlab commented on #506
- [ ] Stats for group management (@mmcgowanBOS and @phillipbentonkelly to make recommendations on what to do here]
* Main things to accomplish is the 'impressions'

- [ ] Change analytics to be tag manager rather than native google analytics

Set this up as tags within analytics:
- [x] **Number of visits per icon so we know how to best order them based on usage.** Also allows us to level set with

[2019-09-18 15:24] gretchen-grozier commented on #510
@reillyzlab Updated Portal Content sheet for this new functionality.
https://docs.google.com/spreadsheets/d/1OiH2HBLE55X8MzGaB7H9VC_a2WpQQcjV4-eyNpJGTPY/edit?usp=sharing

The link should say 'Group Management'  (shown only to those members of the SG_AB_GRPMGMT group/a specific subset of app owners) and it should be in the 'Support Tools' section

[2019-09-18 15:29] reillyzlab commented on #509
https://docs.google.com/spreadsheets/d/1OiH2HBLE55X8MzGaB7H9VC_a2WpQQcjV4-eyNpJGTPY/edit?ts=5d824bd3#gid=0

[2019-09-18 17:49] reillyzlab opened #511 "Access Boston: 'Alert' message"
Access Boston has an 'alert' system that allows a developer to hard code a message in.

This was used during launch and there is 'expectation' that this could/would be used for

Given that Access Boston is _not_ a content management system we need to figure out requirements, how to solve for this, and how to communicate back out to stakeholders.

[2019-09-18 20:15] gretchen-grozier commented on #508
the plan is to have a set of groups that are configured like this:
SG_AB_GROUP_[app name here].

The Group Mgmt link is show to anyone with the prefix SG_AB_GROUP and then the app name is how Portal should know which group to pull up (it would parse the OU).  This data is being completed in DEV (once we finish our FID upgrade @NavanK will have time).

apps:
LAGAN
E-BUILDER
CIVIS
HCM
HYPERION

[2019-09-19 15:50] gretchen-grozier commented on #508
@reillyzlab sorry forgot to tag you so you know we put in some info....

[2019-10-01 18:48] reillyzlab commented on #508
@phillipbentonkelly does this give you what you need, or do you need additional info?

[2019-10-01 21:04] phillipbentonkelly commented on #508
Checked in with @samkatta,

- In the SAML request we'll get a value in this format `SG_AB_GRPMGMT_[App Name]`. The prefix `SG_AB_GRPMGMT_` will let us know that this user is an Admin and should be shown the Icon/Link.
- We will then append the `[App Name]` to requests made by the user, `ou=App Name` to limit results to those groups when searching and use the `App Name` as part of the `BaseDN` when

[2019-10-01 21:09] reillyzlab commented on #508
@samkatta committed to getting @phillipbentonkelly a couple of groups to test this with

[2019-10-02 20:21] NavanK commented on #508
Hi Phillip,

As per the plan for the group management functionality, I have configured
the SG_AB_GRPMGMT_(app name).

fyi, the structure is below here.

[image: image.png]

Also, see the attached SAML tracer with the Groups are being passed in the
SAML Assertion.

[image: image.png]

Please let me know if you have any questions.

Thanks,
Navan.

On Tue, Oct 1, 2019 at 5:09 PM Reilly Zlab <notifica

[2019-10-03 17:52] phillipbentonkelly commented on #508
@NavanK can you try attaching the images from the message above again. They don't seem to be working/visible, thanks.

[2019-10-03 18:01] NavanK commented on #508
PFA.

[image: image.png]

[image: image.png]

Thanks,
Navan.

On Thu, Oct 3, 2019 at 1:52 PM Phillip B. Kelly <notifications@github.com>
wrote:

--

[image: COB_B_Blue_square-01.png]

*Navan Kanchmareddy*

Identity & Access Management Engineer

Department of Innovation & Technology

617-635-3696 (w)

[2019-10-04 13:24] reillyzlab opened #514 "Access Boston: Add AgilePoint to Portal"
Add icon to each environment:
Development Environment: https://boston-d-app01.nxone.com
Staging / Testing Environment: https://boston-s-app.nxone.com
Production Environment: https://boston.nxone.com

Group: SG_AB_AGILEPOINT

See email from Gretchen for icon to use

Name with icon: Boston Forms

Location on portal: Try to populate to the icon to the right of 'The Hub'

[2019-10-04 13:32] gretchen-grozier commented on #514
@jessicamarcus @phillipbentonkelly Please not this work needs to be complete by EOD on Friday, October 4th.  I'll drop whatever to do quick round of testing (before we push to PROD)

[2019-10-04 13:47] gretchen-grozier commented on #514
that should be note, not not -- as in please note this work....

[2019-10-04 15:28] gretchen-grozier commented on #514
@jessicamarcus @phillipbentonkelly
Name with icon should be 'Agilepoint' not 'Boston Forms' per Bryan at 11:30 on 10/4

[2019-10-04 20:46] reillyzlab opened #516 "Access Boston: Add Proofpoint to portal"
Most likely go live 10/9 - Greg to provide more details on 10/8.
Time: TBD

Name: TBD

Icon: See Gretchen email to digital

Security group: SG_AB_PROOFPOINT

[2019-10-07 19:37] jessicamarcus opened #518 "Registry: Add detailed meta description"
In speaking with registry cert customers, Deron discovered that sometimes people will type the url into a search engine input (or, their browser is set to use a search engine in the address bar) and in those cases, the search results above the fold are ads for third-party vendors, pushing our official link offscreen.

We can't do a lot about paid ads, but a better meta description will help with S

[2019-10-07 20:10] phillipbentonkelly commented on #508
Thanks @NavanK  for the above; Also, have you had a chance to add me as a user(40001390) on the Dev server and adding me to some of the groups above so we can test with.

[2019-10-07 20:17] gretchen-grozier commented on #508
@NavanK @mounica-reddy @DineshBaddam can you all please make sure @phillipbentonkelly has his ID set up in both Dev and Test (usual testing setting). Then share a few test users he can use who are app owners....

[2019-10-08 13:30] phillipbentonkelly commented on #516
Hi @gretchen-grozier, do we have the remaining details for this or are we still waiting on Greg. I got the icon from one of the emails and uploaded it already.

[2019-10-08 13:36] gretchen-grozier commented on #516
@gmccarthy83 this is Greg's release..... happy to help if you all need me to coordinate something.  But I don't have details currently.  @phillipbentonkelly

[2019-10-08 13:43] gmccarthy83 commented on #516
Name: Security Awareness

Please move to Dev and Test today. Should be visible to all users EXCEPT Boston Public Schools (same as AgilePoint).

Move to PROD tomorrow (10/9 @ 10am).

[2019-10-08 15:33] phillipbentonkelly commented on #516
I updated dev && test/staging with the new entry.

[2019-10-08 16:52] reillyzlab commented on #516
To @gmccarthy83 to test and confirm

[2019-10-08 17:08] phillipbentonkelly opened #520 "Update Access-Boston App Icon URLs"
Change the url for icons in the config file from relative paths to absolute paths pointing to the new Assets directory build out of patterns by Dave. Since the config file for apps (apps.yaml) already lives outside our Digital repo it makes no sense to have do a build/deploy just to add a new icon. I copied the current icons over to the [https://assets.boston.gov](https://assets.boston.gov/icons/a

[2019-10-08 18:44] NavanK commented on #508
Hi Phillip,

I have added the below 2 users to the below groups in Dev environment.
Please let me know if you need more information.

BPS User: 139562

BFD User: 051213

[image: image.png]
Thanks,
Navan.

On Mon, Oct 7, 2019 at 4:17 PM Gretchen Grozier <notifications@github.com>
wrote:

--

[image: COB_B_Blue_square-01.png]

*Navan Kanchmareddy*

Identity & Access Management Engineer

Department o

[2019-10-08 19:14] gretchen-grozier commented on #516
@reillyzlab @phillipbentonkelly @gmccarthy83 Dinesh tested with a full compliment of users (various affiliations) as has confirmed it's good to go.

[2019-10-08 19:15] gretchen-grozier commented on #516
@reillyzlab I cannot assign this over to ...Phil?  But Digital can deploy to Prod at 10am tomorrow!

[2019-10-09 14:09] reillyzlab commented on #516
Added

[2019-10-09 14:09] #516 closed, assigned to phillipbentonkelly

[2019-10-10 19:27] gretchen-grozier opened #521 "Access Boston: update to an error message"
BPS asked us to update the error that users see when they click 'Forgot Password?' off login page -- since it's specific to Registration (and most users are registered now).  More often, people don't have an active account.  Proposed wording change is in this Google Doc

https://docs.google.com/document/d/13A6AVXYV3SuWt4rKwq8Ilo-XzLTWu5wBNiKUVVvdr5A/edit?usp=sharing

Not a high priority - it's nic

[2019-10-17 15:37] reillyzlab commented on #514
Completed

[2019-10-17 15:37] #514 closed, assigned to phillipbentonkelly, jessicamarcus

[2019-10-17 15:58] reillyzlab commented on #507
@phillipbentonkelly to finish this up as well as provide the Security team with documentation

[2019-10-17 16:55] #505 closed, assigned to reillyzlab

[2019-10-17 17:33] reillyzlab opened #523 "Access Boston: Make sure we're only displaying 'display name' for people on group management"
Make sure we're only displaying 'display name' for people on group management per email from Gretchen on 10/11.

[2019-10-17 18:02] reillyzlab opened #524 "Access Boston: Group name coloring - just have one color display"
Group names are showing up as gray and black colored text -- they should just be displaying as black text.

[2019-10-17 18:12] reillyzlab commented on #510
- [x] Dev Environment
- [x] Staging Environment
- [ ] Production Environment

[2019-10-17 18:19] reillyzlab opened #525 "Access Boston: Confirmation page needed for group management"
For group management, there should be a confirmation page when someone or multiple people are added or removed.

Right now there is just a pop up message that says 'submitting changes', but no confirmation page or pop confirming the change(s).

@phillipbentonkelly should work with @sebastianebarb to implement something.

[2019-10-17 18:21] reillyzlab opened #526 "Access Boston: Group management 'group' description text cut off"
Group management 'group' description text cut off in the 'find a group' section -- the bottom of the 'g' and the 'y'

See: ![image](https://user-images.githubusercontent.com/20731897/67036329-6855a400-f0e9-11e9-8791-14d2837b9ae6.png)

Should not be cut off.

[2019-10-17 18:24] reillyzlab opened #527 "Access Boston: Group management - make sure no inactive users display"
For group management > people: Make sure no inactive users display in the data/user interface.

[2019-10-17 18:26] sebastianebarb commented on #525
We have a design for a confirmation page.

On Thursday, October 17, 2019, Reilly Zlab <notifications@github.com> wrote:

--

Sebastian Ebarb (*pronouns he/him/his*)

Design Director for the City of Boston

Department of Innovation & Technology

www.boston.gov/digital

You can check out *www.boston.gov/brand <http://www.boston.gov/brand>* for
all your *BOSTON* brand needs. You can sign up for desig

[2019-10-17 18:26] reillyzlab opened #528 "Access Boston: Group management - Implementing filtering and showing of groups"
For group management:

- [ ] Implement filtering and showing of groups
- [ ] Ensure this is working properly

Make sure we're considering pagination in this implementation, because some of these will turn back a large number of groups. Pagination can be number at bottom of screen pagination (which we have a design and maybe a patterns component for) or progressive scroll/disclosure, whichever is e

[2019-10-17 18:29] reillyzlab opened #529 "Access Boston: Group management - Implement New UI for Searching Groups Based on Number to Display"
In group management, some users have only a group of groups to manage/get displayed, so the search feature for that is too heavy. However, some people have a ton of groups so the search should be used.

There needs to be a conditional call depending on the number of groups as to what UI should displayed/be interacted with. A large number of groups displaying should use the search bar. A small numb

[2019-10-17 18:36] reillyzlab commented on #529
Related to #528

[2019-10-17 18:36] reillyzlab opened #530 "Clear SAML session after successful registration"
**BLOCKED:** We need both single logout to work and also to be able to redirect to a page after single logout.

[2019-10-17 18:43] phillipbentonkelly commented on #507
Closing this issue; We have access to the LDAP Dev Environment through our VPC on AWS.

[2019-10-17 18:43] #507 closed, assigned to phillipbentonkelly

[2019-10-17 18:49] phillipbentonkelly commented on #510
The link is visible on Dev now, takes into account if the SAML response says you belong to a management group, if not you won't see it. Deploying to Staging tonight/early tomorrow morning, so am marking that (tentatively) done.

[2019-10-17 18:52] phillipbentonkelly commented on #508
Marking this `Close`. We got final rules for who/how can edit groups and we are close to fully implementing it.

[2019-10-17 19:02] phillipbentonkelly commented on #528
Going try implement the easiest solution for this, then ask Sebastian for UI input.

[2019-10-17 19:04] phillipbentonkelly commented on #527
Person search should not be returning inactive users; will filter out inactive users from the Group Edit view.

[2019-10-17 19:18] reillyzlab opened #531 "Access Boston: Create documentation for VPN access to LDAP"
Access Boston: Create documentation for VPN access to LDAP for Security to have/know.

[2019-10-17 19:19] reillyzlab opened #532 "Access Boston: Create authentication for API"
Access Boston: Create authentication for API

[2019-10-17 19:27] gretchen-grozier commented on #508
Our process is not to close anything until it's has been demo'ed and tested and is scheduled for Prod deploy.  We expect to see this tomorrow and then we can maybe close...

[2019-10-17 19:28] gretchen-grozier commented on #510
@phillipbentonkelly Please don't move to Staging until we have it okayed in DEV.

[2019-10-17 19:30] gretchen-grozier commented on #529
It would be 2-3 (so those folks get the glory).  Then we have the higher end (Lagan which has 200+)

[2019-10-17 19:30] gretchen-grozier commented on #529
@reillyzlab sorry forgot to tag that last answer

[2019-10-17 19:33] albertboston commented on #529
What's the ask on my part?

[2019-10-21 14:49] reillyzlab opened #533 "Access Boston : Change management - Send confirmation email re: change"
Send confirmation email re: change alongside the confirmation page.

There is a format for this. See designers.

Send to: Person who made the modification once the modification has been completed.

[2019-10-21 14:51] reillyzlab commented on #533
@gretchen-grozier can you please provide:

- [ ] Subject line of email
- [ ] Body copy for email (what should/shouldn't be included)

[2019-10-24 19:03] gretchen-grozier opened #534 "Access Boston: wording update to password pages"
for the 3 password pages:  Registration (set original password), Change Password and Forgot Password  we need a new to add some words for new configurations (ADs upgraded to 2012 with harder password rules).

![image](https://user-images.githubusercontent.com/44211968/67515662-1bd01280-f66d-11e9-9877-fc55161ab852.png)

Change first sentence to:  Don't use personal info, like your name, ID or addre

[2019-10-28 17:15] phillipbentonkelly opened #535 "Access Boston: Exclude top level groups (containers) from being editable"
From the SAML response a user can edit both the container group their child groups. Exclude the container group being editable and showing up in search.

[2019-11-01 12:08] gretchen-grozier opened #536 "Access Boston: users not being removed/added to groups in FID"
Users are not being put into the group in FID (or being removed) in TEST.  User gets confirmed screen (UI works fine) but in the backend the action requested is not being performed.

[2019-11-04 16:31] gretchen-grozier commented on #534
@reillyzlab Is this the process I should follow to submit issues with ABP to Digital?  Just wondering when this change might get scheduled?

[2019-11-04 18:16] reillyzlab commented on #534
@gretchen-grozier is this urgent or can we do during bash week (week of 11/18)?

[2019-11-04 18:27] gretchen-grozier commented on #534
It's urgent, we have 12K users who aren't being given the correct info (not that they will read it, but it's a lot to ask the BPS Help Desk to carry this water).  I'd prefer not to wait @reillyzlab   It seems pretty easy....it's just a screen change.

[2019-11-18 15:07] reillyzlab opened #545 "Update Access Boston test environment with test link for 'Employee Training'"
Need link

[2019-11-18 15:09] reillyzlab commented on #466
Completed

[2019-11-18 15:09] #466 closed, assigned to phillipbentonkelly

[2019-11-18 15:12] reillyzlab commented on #510
Completed.

[2019-11-18 15:12] #510 closed, assigned to phillipbentonkelly

[2019-11-18 17:40] reillyzlab commented on #524
Completed

[2019-11-18 17:40] #524 closed, assigned to phillipbentonkelly

[2019-11-18 17:40] reillyzlab commented on #526
Resolved

[2019-11-18 17:40] #526 closed, assigned to phillipbentonkelly

[2019-11-18 17:41] reillyzlab commented on #523
Appears to be working. Can't 100% test because don't have production access.

[2019-11-18 17:41] #523 closed, assigned to phillipbentonkelly

[2019-11-18 17:44] reillyzlab commented on #528
Pagination is implemented, but the styling isn't 100% accurate.

See boston.gov/news for accurate styling.

[2019-11-18 17:48] reillyzlab commented on #535
Completed

[2019-11-18 17:48] #535 closed, assigned to nobody

[2019-11-18 17:48] phillipbentonkelly commented on #527
This is done, the only place you will see an inactive user is when you view a Group's members. Person search filters out inactive by default.

[2019-11-18 17:50] phillipbentonkelly commented on #508
This is done.

[2019-11-18 17:51] reillyzlab commented on #529
Appears as if we didn't fully implement this. Need to decide what's going to be done or what needs to be done.

[2019-11-18 18:00] phillipbentonkelly commented on #532
This is DONE.

[2019-11-18 18:00] phillipbentonkelly commented on #531
Still working on this

[2019-11-18 18:01] phillipbentonkelly commented on #525
This is done.

[2019-11-18 18:23] gretchen-grozier commented on #545
They don't actually have  a Test environment....just Prod, so we should leave it I guess

[2019-11-18 18:23] #545 closed, assigned to gretchen-grozier

[2019-11-18 18:32] #525 closed, assigned to phillipbentonkelly, sebastianebarb

[2019-11-18 18:35] #532 closed, assigned to phillipbentonkelly, davidrkupton

[2019-11-18 18:36] #508 closed, assigned to phillipbentonkelly

[2019-11-18 18:36] #527 closed, assigned to phillipbentonkelly

[2019-11-18 18:38] reillyzlab opened #546 "Access Boston: Back button different than registry suite"
Access Boston Group Management has this back button:

![Screen Shot 2019-11-18 at 1 37 51 PM](https://user-images.githubusercontent.com/20731897/69079743-a86db680-0a08-11ea-81e7-6defb5021f00.png)

Registry suite has this:
![Screen Shot 2019-11-18 at 1 38 18 PM](https://user-images.githubusercontent.com/20731897/69079773-b7ecff80-0a08-11ea-92bb-8a2be26ded29.png)

These should match.

[2019-11-18 18:43] reillyzlab commented on #546
In talking with @sebastianebarb we should:
- [ ] Keep the blue square on Access Boston, but this should only say 'Back' not 'go back'

[2019-11-18 19:35] #509 closed, assigned to reillyzlab, jfalvey

[2019-11-18 19:36] #533 closed, assigned to gretchen-grozier

[2019-11-18 19:36] reillyzlab commented on #534
@gretchen-grozier this is on Access Boston dev - change password for you and team to review.

[2019-11-18 19:41] jfalvey commented on #511
Dependency on HR / Hub conversations that are with CFO

[2019-11-18 19:43] reillyzlab commented on #416
Unsure if this is still an issue, so @phillipbentonkelly will look into this and report back.

[2019-11-18 19:43] reillyzlab commented on #530
Unsure if this is still an issue so @phillipbentonkelly looking into this.

[2019-11-18 19:45] reillyzlab commented on #506
Should have been working. @mmcgowanBOS and @phillipbentonkelly revisiting this.

[2019-11-18 19:54] gretchen-grozier commented on #534
Checking with Greg and James... I feel like it's confusing but I've got no better ideas!

[2019-11-18 19:54] reillyzlab opened #547 "Access Boston: Change sort order by Last name, First name"
Change sort order by Last name, First name rather than employee ID (which is what is happening now.

[2019-11-18 20:06] gretchen-grozier commented on #534
from James: I would just throw an "also" in that last sentence: "Your new password will also have to be..."
Last sentence should now be (if it's easy to do): Your new password will also have to be different than your last 5 passwords.
So good to go to TEST

[2019-11-18 20:11] reillyzlab opened #548 "Access Boston: Add message if user already in group"
If a group manager tries to add a user that is already in the group there is no message alerting the group manager that the person is already in the group.

There should be a message alerting the group manager that the person is already there/has already been previously added.

[2019-11-18 20:14] reillyzlab opened #549 "Access Boston: Group management not opening in new tab (and should)"
Group management not opening in new tab and should.

All other functionality of Access Boston opens in new tab, so this should match the rest.

[2019-11-18 20:18] reillyzlab opened #550 "Access Boston: If user doesn't have anything in 'support tools' then this header shouldn't appear"
If user doesn't have anything in 'support tools' then this header shouldn't appear, much like other functionality on Access Boston that shows/doesn't show based on roles.

![Screen Shot 2019-11-18 at 3 18 18 PM](https://user-images.githubusercontent.com/20731897/69089974-b1658480-0a16-11ea-9157-adb41dd95d30.png)

[2019-11-19 19:47] phillipbentonkelly commented on #521
Meet with @samkatta and @NavanK, they said this page is on Ping and Navan would take care of it.

[2019-11-19 20:02] #521 closed, assigned to nobody

[2019-11-19 20:53] reillyzlab opened #551 "Registry: Change wording of email confirmation"
Change wording of email confirmation from 'thank you for your order' to something else.

This is a single template for birth, marriage, and death certificates.

@duffy-james to provide guidance on language.

[2019-11-20 20:08] phillipbentonkelly opened #552 "Registry: Update Back button to match styling on Group Mgmt"
Access Boston Group Management has this back button:

![Screen Shot 2019-11-18 at 1 37 51 PM](https://user-images.githubusercontent.com/20731897/69079743-a86db680-0a08-11ea-81e7-6defb5021f00.png)

Registry suite has this:
![Screen Shot 2019-11-18 at 1 38 18 PM](https://user-images.githubusercontent.com/20731897/69079773-b7ecff80-0a08-11ea-92bb-8a2be26ded29.png)

These should match. Update Registry

[2019-11-25 18:40] reillyzlab commented on #534
Went out to production/completed

[2019-11-25 18:40] #534 closed, assigned to nobody

[2019-11-25 19:27] reillyzlab commented on #550
@phillipbentonkelly confirmed fixed on test for me.

@gretchen-grozier do you want to also verify this on test and let us know when we should move to production (as well as put in a change ticket)

[2019-11-25 19:34] gretchen-grozier commented on #550
I confirmed with a couple test accounts (not mine, in Test I have ALL the Support Tools).  But my basic BPL and a random sponsored account I just set up for AgilePoint testing.  Looks good. @phillipbentonkelly Would say it's good for Prod @reillyzlab I have a CR in for tonight (we have a bug fix) should we tag this on???

[2019-11-25 19:38] reillyzlab commented on #546
@gretchen-grozier small change

I verified this is working as expected

[2019-11-25 19:40] reillyzlab commented on #528
Hover state missing on 'previous' and 'next'

[2019-11-25 19:43] reillyzlab commented on #506
Applications portion is done and can be seen in Behavior > Events > Event Label @gretchen-grozier

[2019-11-25 19:44] reillyzlab commented on #506
@mmcgowanBOS or @phillipbentonkelly can you advise where to find:
Tracking open and completion (did people get all the way through/hit submit) for self service functionalities, which right now include:

[2019-11-25 19:45] gretchen-grozier commented on #546
@reillyzlab @phillipbentonkelly   Looks good for me too.  Let's include this in the CR for tonight too!

![image](https://user-images.githubusercontent.com/44211968/69572471-33fbc000-0f92-11ea-8d06-553d14c13428.png)

[2019-11-25 22:01] phillipbentonkelly commented on #546
@gretchen-grozier, deploy to PROD for this issue has started, I made some last minute changes so the build/completion time is behind. ETA 5:30 - 6pm

[2019-11-25 22:01] phillipbentonkelly commented on #550
@gretchen-grozier, deploy to PROD for this issue has started, I made some last minute changes so the build/completion time is behind. ETA 5:30 - 6pm

[2019-11-25 22:02] phillipbentonkelly commented on #528
@gretchen-grozier, deploy to PROD for this issue has started, I made some last minute changes so the build/completion time is behind. ETA 5:30 - 6pm

[2019-11-25 22:42] phillipbentonkelly commented on #528
Deploy finished, live on PROD

[2019-11-25 22:43] phillipbentonkelly commented on #546
Deploy finished, live on PROD

[2019-11-25 22:43] phillipbentonkelly commented on #550
Deploy finished, live on PROD

[2019-11-26 15:11] gretchen-grozier commented on #550
Code pushed to Prod, confirmed 'Support Tools' is not displaying for end users any longer.

[2019-11-26 15:11] #550 closed, assigned to phillipbentonkelly

[2019-11-26 15:35] mmcgowanBOS commented on #506
Sure, as mentioned to Gretchen earlier (maybe over the summer), you can view the main "Site Contnet->Pages" in Google Analytics to measure which pages people are clicking and how far they get through specific use cases. See link below.

https://analytics.google.com/analytics/web/#/report/content-pages/a99773468w197176079p192129454/

Assigning back to Gretchen.

[2019-11-26 15:36] #546 closed, assigned to phillipbentonkelly

[2019-11-26 15:36] #528 closed, assigned to nobody

[2019-11-26 15:36] #506 closed, assigned to mmcgowanBOS

[2019-11-27 12:58] gretchen-grozier opened #555 "Add Boston.Gov (Content Editor) icon to the Access Boston Portal"
Have requested icon from Sebastian and updated the Portal Content sheet with details (URL, group)

https://docs.google.com/spreadsheets/d/1OiH2HBLE55X8MzGaB7H9VC_a2WpQQcjV4-eyNpJGTPY/edit#gid=0

[2019-11-27 14:49] gretchen-grozier commented on #506
I am only seeing functions in the Site Content/All Pages (change password, register).  There seem to be 15 things.  What we want to track is clicks on ESS | Boston Maps | Civis etc....

![image](https://user-images.githubusercontent.com/44211968/69733135-d8007b00-10fa-11ea-9899-a69d2fc45583.png)

assigning back to @mmcgowanBOS

[2019-12-02 18:33] reillyzlab commented on #529
API portion of this was completed last week. Phil working on the UI today.

[2019-12-04 16:33] phillipbentonkelly commented on #530
Spoke with @NavanK and @DineshBaddam about this, Dinesh is going to check if this issue is still happening. If it is he'll let me know the steps to reproduce.

[2019-12-04 16:36] phillipbentonkelly commented on #416
Spoke with @NavanK and @DineshBaddam, this may not be an issue anymore. Or at least they haven't received any complains about a similar problem. This is an old ticket with missing info (user id, etc.) and we don't have access to Rollbar anymore to check the log. The suggested action is to archive this issue.

[2019-12-04 21:22] gretchen-grozier commented on #555
icon has been received, groups are in the various environments in FID and populated with user list from James - so we can move forward with coding onto the Portal now @reillyzlab assigning to you to give to the right Digital resource.  Thx

[2019-12-05 20:23] phillipbentonkelly commented on #549
Update: @gretchen-grozier, this is up on TEST and DEV for review

[2019-12-05 20:24] phillipbentonkelly commented on #529
Update: @gretchen-grozier, this is up on TEST and DEV for review. Displaying for users with less than 4 groups to manage

[2019-12-05 20:29] gretchen-grozier commented on #549
Asked Dinesh to test!

[2019-12-06 17:32] gretchen-grozier commented on #530
@DineshBaddam please confirm today.  If not an issue, please add comment and close the issue

[2019-12-06 17:34] gretchen-grozier commented on #529
@DineshBaddam Can you test this please?

[2019-12-06 18:22] andrebtlima opened #556 "Remove “view cart” in secondary header when on “cart” view."

[2019-12-06 18:22] andrebtlima opened #557 "Add fallback element if Stripe cc element does not load in the UI"

[2019-12-06 18:23] andrebtlima opened #558 "Registry: limit zip code field in checkout to numerical input"

[2019-12-06 18:48] phillipbentonkelly commented on #547
@gretchen-grozier,

I added a sort flag to the server (DEV) request from the digital app and the results don't change. The docs that I found say that if the results don't change then sorting is either disabled or not installed. It looks like the sorting needs to be enabled/install on the LDAP server. The results makes me think they are not. The next step, to unblock this, would be to have someone

[2019-12-06 19:38] phillipbentonkelly commented on #548
Discussed design changes with Sebastian, this is what we agreed on

- On autocomplete results, add a text label that says "Already Added" to the right of the displayed text
- Selecting the "Already Added" entry in autocomplete will disable the "Add Member" button
- Change its text to "Clear" and clicking it will clear the text in the field and search results

[2019-12-06 20:21] DineshBaddam commented on #530
Hi @phillipbentonkelly ,
Here are the steps I have followed to reproduce this issue in Test Environment for the first time user registration.
User login with Temporary Password
![image](https://user-images.githubusercontent.com/39305170/70352128-6e8a1600-1838-11ea-807b-ace097b7f861.png)
GET STARTED
![image](https://user-images.githubusercontent.com/39305170/70352221-a1340e80-1838-11ea-89ce-0cc0a1f

[2019-12-06 20:27] DineshBaddam commented on #549
@phillipbentonkelly Its is working as expected in Both Dev and Test when the user clicks on the Group Management link it is now opening in new tab.

[2019-12-06 20:57] phillipbentonkelly commented on #530
Update: @gretchen-grozier, just spoke with @DineshBaddam, he is going to provide me with 10 user accounts today (Friday) i can use to start testing. Monday we'll reset/provide more as needed. Just keeping you in the loop.

[2019-12-06 21:28] DineshBaddam commented on #530
Hi @phillipbentonkelly

Here are the 5 Users with Temporary password and There is a 2hours expiration window for this password. If you need more I can provide you later.

UserID          Password
40000126-- Seagull604$
40000125----Winter465#
40000124----History755#
40000123----Downtown508$
40000122----Winter942$

Thanks,
Dinesh.

[2019-12-06 21:37] DineshBaddam commented on #529
I have Validated this in Test Environment with a couple of Users  and Seeing Two Different UI's
Displaying Users 2 Group Management Groups
![image](https://user-images.githubusercontent.com/39305170/70357830-e0b52780-1845-11ea-8846-3012927aca46.png)
Another User with more number of Group Management groups
![image](https://user-images.githubusercontent.com/39305170/70357958-3689cf80-1846-11ea-8445-

[2019-12-06 21:50] phillipbentonkelly commented on #530
Ok, thanks Dinesh. Too bad about the expiration on the password bc I'm not ready to test these yet. Sorry, let's circle back Monday.

[2019-12-07 00:43] gretchen-grozier commented on #530
I scheduled a meeting for Monday morning.
I want to make it clear this ad hoc approach is not okay. We will plan out
all work and testing to be done. Scheduling accordingly for tasks to be
completed.
Thanks

On Fri, Dec 6, 2019, 16:50 Phillip B. Kelly <notifications@github.com>
wrote:

[2019-12-09 14:31] andrebtlima commented on #406
The field for Cardholder Name turns red when left blank but the same needs to be applied to the Card Number field.

[2019-12-09 15:29] andrebtlima opened #559 "Revise receipt language for death certificate order"
After completing an order of a death certificate the email receipt reads "Thank you for or purchase!" or something the like. Consider changing this for death, or revising language across birth, death, and marriage to more neutral.

[2019-12-09 15:40] gretchen-grozier commented on #547
@NavanK Can you confirm that FID supports the function for sorting....see Phil's comment.   Having FID do the sort is preferable to trying to build on the Portal side.   We would want sort on 'Display Name' (both for groups and persons)

[2019-12-11 14:39] DineshBaddam commented on #530
Hi Phill,
Here are some new registration users in Both DEV and Test
5 Test Users
Username     Temporary Password
40000122----Timeline526$
40000123 ----Weekend690#
40000124-----January779#
40000125-----Butter921$
40000126 ----Speaker185$

5 Dev Users
Username      Temporary Password
40000114 ---Puzzle252#
40000122 ----Puzzle591#
40000123 ----Thursday573#
40000127 ----Summer257$
40000132 -----Public

[2019-12-11 17:34] phillipbentonkelly commented on #548
Update: @gretchen-grozier  / @DineshBaddam this issue is not on DEV and TEST

[2019-12-11 17:56] gretchen-grozier commented on #548
@DineshBaddam please confirm and let @phillipbentonkelly know before 4 (set for code push at 4:30)

[2019-12-11 19:36] DineshBaddam commented on #548
Hi Phill,

I have validated this by adding Existing Person into the group again
![image](https://user-images.githubusercontent.com/39305170/70651580-162f8b80-1c1f-11ea-8eca-dcd041d75c07.png)
![image](https://user-images.githubusercontent.com/39305170/70651647-3b23fe80-1c1f-11ea-8b1d-e8bd3ae2ab3f.png)
Now User not able to add an existing person into a group.

@phillipbentonkelly other issue is addi

[2019-12-11 20:25] phillipbentonkelly commented on #548
@gretchen-grozier, @reillyzlab I am going to have to take a closer look at this. Should we go ahead pushing the other 2 issues to PROD today and coming back for this one later?

[2019-12-11 20:26] gretchen-grozier commented on #548
@reillyzlab and @phillipbentonkelly Yes, let's do the 2 that are ready and then push this once we have it finalized

[2019-12-11 22:55] phillipbentonkelly commented on #529
@gretchen-grozier, The deploy finished, I thought I had a PROD account that I could use to verify but I can't find it. Maybe it was my main account that was temp provisioned, am not sure. I can roll back the change in the morning if anything didn't work.

[2019-12-12 13:29] gretchen-grozier commented on #529
Moved to Prod, will alert users - they will let us know if it is not working for sure.  Thanks @phillipbentonkelly

[2019-12-12 15:07] phillipbentonkelly commented on #549
@gretchen-grozier / @DineshBaddam , This also deployed to PROD yesterday. Let me know if you see it.

[2019-12-12 15:44] NavanK commented on #547
FID does not support the Sorting, it is already sorting the users based on the employee ID. I think on the portal side it is needs to filter out to sort based on Display Name.

[2019-12-12 18:54] #549 closed, assigned to nobody

[2019-12-13 15:04] phillipbentonkelly commented on #548
@gretchen-grozier / @DineshBaddam I pushed this change to DEV and TEST let me know if you are able to confirm.

- New UI message and functionality triggered when you try to add a user/group already in assigned
- Updating cache for the minimum groups view when an update happens (@gretchen-grozier, the issue we talked about at my desk)
- Accounting for trying to add, deselecting and then re-enabling

[2019-12-13 15:07] gretchen-grozier commented on #529
@phillipbentonkelly bug that when people actually take action (add/remove) they don't see it in the UI. Caching issue?  Need immediate fix...pls advise when you will be ready for us to test!

[2019-12-13 15:40] phillipbentonkelly commented on #530
Hi @DineshBaddam, @gretchen-grozier. I can look at this issue again, can you Dinesh reset theses accounts since they must be expired by now.

Thanks

[2019-12-13 15:59] phillipbentonkelly commented on #529
@gretchen-grozier the fix is on DEV/TEST and ready to confirm.

[2019-12-13 16:14] gretchen-grozier commented on #529
@DineshBaddam can you please test.  The issue is that you make a change (add/remove) and that isn't reflected in the UI

[2019-12-13 18:58] DineshBaddam commented on #548
@phillipbentonkelly Now Unchecking box is removing user recently added user and it is working as excepted also not able to add an existing user into the group.
Thanks,
Dinesh.

[2019-12-13 19:03] DineshBaddam commented on #529
@gretchen-grozier I have validated this in Test Environment by adding and removing users in the group and UI is updating immediately.

[2019-12-13 20:07] gretchen-grozier commented on #530
@DineshBaddam and @phillipbentonkelly Just spoke with Phil, we will give him a new set of users (to go through registration with new temp passwords) on Monday morning (16th)

[2019-12-16 15:27] DineshBaddam commented on #530
5 Test Users
Username Temporary Password
40000122----Butter514$
40000123 ----Student510#
40000124-----October228$
40000125-----History325#
40000126 ----Butter567$
5 Dev Users
Username Temporary Password
40000150 ---Golden174#
40000122 ----Sunday202$
40000123 ----Pudding509#
40000143 ---Halloween509$
40000132 -----Monday749$

[2019-12-17 17:48] reillyzlab commented on #511
As discussed in person we will not be immediately implementing anything here.

We need to discuss this on a larger scale, because the Access Boston site is not a content management system and most likely shouldn't be controlling/maintaining/displaying these messages.

[2019-12-17 17:58] reillyzlab commented on #529
Was deployed on 12/11.

[2019-12-17 17:58] #529 closed, assigned to nobody

[2019-12-17 17:59] reillyzlab commented on #548
Being deployed on 12/17.

[2019-12-18 15:07] DineshBaddam commented on #530
Test
40000122    Purple695#
40000123    Harbor443#
40000124    Internet697#
40000125    Purple246#
40000126    Puzzle641#

Dev
40000150    Canada239#
40000587    Goldfish860$
40000588    November105#
40000143    November992#
40000132    Divide581#

[2019-12-18 16:22] reillyzlab commented on #548
Confirmed deployed on 12/17.

[2019-12-18 16:22] #548 closed, assigned to nobody

[2019-12-19 15:03] phillipbentonkelly commented on #530
@gretchen-grozier, @NavanK, @samkatta, Update per our conversation: Talked this morning about the a proposed way to fix this, Sam had a better suggestion and that was for Navan to provide a new logout link that will redirect the user to the login page after login out on completion of the registration process. Navan is going to provide the new link later today. I'll then update the template with th

[2019-12-20 15:14] reillyzlab commented on #530
Link did not come yesterday due to some general outage issues that needed to be triaged (as priority). @phillipbentonkelly will check in with team on whether this will come today.

[2019-12-20 16:07] NavanK commented on #530
I will do some testing the Realy State URL for the logout after successful registration. I requested @DineshBaddam to provide couple of test users to test this functionality. I will provide the URL based on my test results by EOD. Thanks.

[2019-12-23 15:23] reillyzlab opened #564 "Order ID collision: https://rollbar.com/CityofBoston/registry-certs/items/176/"
Order ID collision: https://rollbar.com/CityofBoston/registry-certs/items/176/

*Added by Fiona*

[2019-12-23 15:24] reillyzlab opened #565 "payment-webhooks error"
https://rollbar.com/CityofBoston/payment-webhooks-server/items/6/

*Added by Fiona*

[2019-12-23 15:31] #474 closed, assigned to nobody

[2019-12-23 15:32] reillyzlab commented on #531
Phil actively working on this documentation.

[2019-12-23 15:33] #386 closed, assigned to nobody

[2019-12-23 21:24] phillipbentonkelly commented on #530
Update: Spoke with @NavanK this morning, due to what they're working on now he wouldn't get to work on this until Tuesday or Thursday.

[2019-12-27 15:25] phillipbentonkelly commented on #530
@NavanK is working on this now, I will ask Dinesh to reset the users after I get the link from Navan. I'm working on other stuff so depending on the time I might not get to this until Monday.

[2019-12-30 14:02] gretchen-grozier commented on #530
@NavanK pls confirm Phil has what he needs (logout URL)?  @phillipbentonkelly please coordinate with @DineshBaddam as to when you will need the test IDs set up with new temp passwords - so he makes those when you are ready for them (and they will not time up before you can use them).  Thanks all!

[2019-12-30 14:52] reillyzlab commented on #471
@andrebtlima checking if this is resolved or not

[2019-12-30 18:19] NavanK commented on #530
Sure @gretchen-grozier I am will update the Relay URL to @phillipbentonkelly  once I validate that is working. Thanks.

[2019-12-30 21:48] reillyzlab commented on #175
closing because no longer relevant

[2019-12-30 21:48] #175 closed, assigned to fionawhim

[2019-12-30 21:49] reillyzlab commented on #181
closing because no longer relevant

[2019-12-30 21:49] #181 closed, assigned to reillyzlab

[2019-12-30 21:49] reillyzlab commented on #222
Resolved so closing

[2019-12-30 21:49] #222 closed, assigned to nobody

[2019-12-31 15:10] #511 closed, assigned to nobody

[2019-12-31 15:12] gretchen-grozier commented on #547
this is still a requirement that we need built.  The UX for those with groups of several thousand users (and more apps to come with that volume) is impossible at the moment. @phillipbentonkelly had a way to do this (just more work).

[2019-12-31 15:31] jfalvey commented on #547
Phil does not have a way to do this, it needs to come from the server pre-sorted, which is what the LDAP documentation online also says. It remains a question if it can sort based on multiple fields, it seems like it should. Closing for our work currently, but this can remain a requirement for a future project phase, which Greg and I are requesting as an FY21 Budget Request. Suggest working with F

[2019-12-31 16:21] NavanK commented on #530
@phillipbentonkelly Use the below URL after the registration is complete. It will invalidate the registration process session and redirect back the user to Login page. Let me know how it goes. Thanks.

http://sso-dev.boston.gov/idp/SLO.saml2&RelayState=http://access-boston-dev.digital-staging.boston.gov/

[2020-01-02 18:30] phillipbentonkelly commented on #530
I got a new set of test users from @DineshBaddam today, thanks.

#### Test Users
40000122  Goldfish932$
40000123  Public602#
40000124  Halloween319#
40000125  Golden871#
40000126  Highway908#

#### Dev Users
40000150  Computer475$
40000587  Highway173#
40000588  Purple430#
40000143  Canada630$
40000132  Pudding159#

[2020-01-02 20:20] phillipbentonkelly commented on #530
@NavanK, is there anything I need to change or add to the link you made? I changed the "LOG IN" button on the "DONE" page to go the link and its giving me a an error message. "Service Unavailable"

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/2627273/71690588-285e9e80-2d73-11ea-94b6-4cd898c14eea.gif)

[2020-01-02 20:24] NavanK commented on #530
Hi Phill,

Could you please provide me the USER ID, I will take a look at the logs.

Thanks,
Navan.

On Thu, Jan 2, 2020 at 3:20 PM Phillip B. Kelly <notifications@github.com>
wrote:

--

[image: COB_B_Blue_square-01.png]

*Navan Kanchmareddy*

Identity & Access Management Engineer

Department of Innovation & Technology

617-635-3696 (w)

[2020-01-02 20:25] phillipbentonkelly commented on #530
I used
40000587 Highway173#

on DEV

[2020-01-03 17:13] phillipbentonkelly commented on #530
Checked in with @NavanK and @gretchen-grozier, Navan is going to try to work on the link later today.

[2020-01-03 17:50] NavanK commented on #530
Hi Phill,

I will reproduce the issue and will update you why it is throwing the
error.

I requested Dinesh for test user.

Thanks,
Navan.

On Fri, Jan 3, 2020 at 12:13 PM Phillip B. Kelly <notifications@github.com>
wrote:

--

[image: COB_B_Blue_square-01.png]

*Navan Kanchmareddy*

Identity & Access Management Engineer

Department of Innovation & Technology

617-635-3696 (w)

[2020-01-06 16:15] gretchen-grozier opened #567 "new application for Access Boston Portal (Riskmaster)-August 5"
Test integration in early January.   Icon is in Google Drive.  They prefer the briefcase one https://drive.google.com/drive/u/0/folders/1g4fnsRgoHokQwopGDbp0cGe1-NANHkQP

Please place the icon at the end (near Tableau)

Test URL:  https://rmaprdcityofboston.dxc-ins.com/RiskmasterUX/#/login

Prod URL: https://rmaprdcityofboston.dxc-ins.com/RiskmasterUX/#/login

(please note - same URL for both envi

[2020-01-07 16:12] DineshBaddam commented on #530
Dev Users with Temporary password

40000587
Public324$
40000588
Bulldog951#
40000143
January162$
40000132
November953$

[2020-01-07 16:31] phillipbentonkelly commented on #530
Update: I got word yesterday from @NavanK that the approach they were trying (signing out through a link) was not going to work because they sessions were on separate servers. He asked if we could try the suggestion I had before. However, the idea I had was not fully baked and I don't quite recall all the details. We'll need to follow up, and get more details on the different server sessions.

[2020-01-07 22:02] phillipbentonkelly commented on #530
@NavanK try putting the script below in the logout page. We can check if it works tomorrow.

https://repl.it/@phillipbentonke/Redirect

[code]

[2020-01-08 13:14] gretchen-grozier commented on #530
@gmccarthy83 and I met with @jfalvey and @reillyzlab yesterday and we all agreed that this work is taking to much effort for the return.  I believe the idea was to close out this issue and move onto to other priorities.  @phillipbentonkelly @NavanK

[2020-01-08 15:13] phillipbentonkelly commented on #520
Changed the icon urls on the config files for DEV/TEST to point to https://assets.boston.gov/ instead of https://access.boston.gov/.

Test Criteria: Check all icons are working working with different group access. Check that the icon URLs point to https://assets.boston.gov/.

[2020-01-08 16:48] phillipbentonkelly commented on #520
Update: This is now on DEV and Test, @gretchen-grozier I assigned the ticket to you, didn't want to just go assigned it to Dinesh.

[2020-01-08 16:54] gretchen-grozier commented on #520
@reillyzlab I have no idea what any of this means, could digital set up a meeting about what changes are being made and why with the IAM team pls?  Is this the thing that let's IAM make changes to add new icons, etc?

[2020-01-08 21:15] reillyzlab commented on #520
This test was to change the URL/location that the icons were populating from (i.e. where they were hosted) to match where all digital icons are/should be populating.

I was able to test this on my own user profile on test and it appears to be working, but we wanted someone else to QA as well, ideally with a user role that has access to all possible icons.

All Access Boston website icons should be

[2020-01-08 21:18] gretchen-grozier commented on #520
@DineshBaddam can you run through steps @reillyzlab outlines above pls?

[2020-01-09 15:02] phillipbentonkelly commented on #567
@gretchen-grozier, are we using the test url on both Test and Dev? Or do we need a Dev URL too?

[2020-01-09 15:08] gretchen-grozier commented on #567
@phillipbentonkelly they only have 2 environments -  Test (which they call Training) and Prod. TY

[2020-01-09 17:02] DineshBaddam commented on #520
I have validated all the application icons location and they all are populating from assets.boston.gov/icons/accessboston/

These are the applications that I have validated
![image](https://user-images.githubusercontent.com/39305170/72087861-2a76af00-32d7-11ea-9688-fcd309b30a8c.png)

Thank,
Dinesh.

[2020-01-10 21:03] phillipbentonkelly commented on #520
Ok, I pushed this to prod and double checked the urls.

[2020-01-10 21:04] phillipbentonkelly commented on #531
Finished documentation and pushed to PROD, can be found here: https://github.com/CityOfBoston/digital/tree/develop/services-js/group-mgmt

[2020-01-10 21:12] phillipbentonkelly commented on #567
This is on DEV and Test. I used Riskmaster as the label, let me know if it needs to be something else.

[2020-01-13 13:54] gretchen-grozier commented on #567
@phillipbentonkelly they don't have a Dev environment so we can take it off Dev....it's never going to be used.  I'll check with the app owner, but I've only ever heard it called Riskmaster by them.  I assume that's what the label should be.

[2020-01-13 15:22] reillyzlab opened #574 "Registry: Adjust language for uploading image"
Users are having an experience issue when Internet bandwidth is low. They are giving up on the online process and calling the Registry Department thinking that the application is broken.

After looking into this we believe there are not functionality issues and that people should still be able to complete the purchase.

From what we can tell some people are having the below happen to them. The bel

[2020-01-13 15:52] #520 closed, assigned to gretchen-grozier

[2020-01-13 15:53] #531 closed, assigned to nobody

[2020-01-13 16:25] #530 closed, assigned to nobody

[2020-01-13 21:07] gretchen-grozier commented on #555
@sebastianebarb can you make sure @phillipbentonkelly has the icon needed for this (boston.gov content editors)?
@duffy-james besides James who would you like to be able to manage the user group (to add someone who can access the icon)?

[2020-01-13 21:10] gretchen-grozier opened #575 "Add Tableau to the Access Boston Portal-2/14/20"
Prod go-live is scheduled for Saturday, February 15 (so we can do this work late afternoon on Friday the 14th).

Prod URL: https://dashboard.cityofboston.gov/

Icon is
![Data icon 3](https://user-images.githubusercontent.com/44211968/72292310-202e1b00-361f-11ea-8707-a20d33b82998.png)  [Sebastian can probably point out where it is in the Access directory]

Icon at the end (so last app shown for any

[2020-01-13 21:17] andrebtlima commented on #555
@gretchen-grozier, jumping in here because I'm going to be taking on the product management side of Boston.gov, I should also be able to manage that user group. Thanks!

[2020-01-16 17:04] #547 closed, assigned to jfalvey

[2020-01-21 19:07] andrebtlima opened #576 "Preferred contact info for Person Profile should be required (phone vs. email)"

[2020-01-21 19:08] #576 closed, assigned to andrebtlima

[2020-01-23 14:33] gretchen-grozier commented on #575
@mmcgowanBOS I have actually talked to Phil about this, also I don't have confidence it's going to happen this weekend - still troubleshooting with Data Analytics on SAML integration (not fully working in Dev)

[2020-01-23 15:58] gretchen-grozier commented on #575
@phillipbentonkelly @mmcgowanBOS **Postponed - will let you know new date**

[2020-01-24 19:02] phillipbentonkelly commented on #574
The updated UI can now be seen on staging, https://registry-certs.digital-staging.boston.gov/birth. We changed the UI of the progress bar to be bigger and include the progress text and moved it to the top. The upload progress is only shown while a download is in progress, so only slow connections get to see it; to preview the change you'll have to downgrade the download speed in you browser prior

[2020-01-24 19:13] gretchen-grozier opened #577 "Update to ABP Building Maintenance link-3/9"
Property Management is going live (tentative date is 3/9) with new building management app (Asset Essentials replacing Maximo).  Will need Digital to change the URL that the link points for go-live to end users.

The group who sees it remains the same.  URL to add is: https://assetessentials.dudesolutions.com/CityOfBoston/MyRequest/Add

[2020-01-27 14:36] reillyzlab commented on #574
@phillipbentonkelly trying to test this but keep getting this pop up, which isn't allowing me to fully get through the test.

![Screen Shot 2020-01-27 at 9 34 44 AM](https://user-images.githubusercontent.com/20731897/73183203-7358a100-40e8-11ea-80ac-f6c9850d35a0.png)

Get it all throughout the application.

[2020-01-27 16:07] phillipbentonkelly commented on #574
Hi @reillyzlab, I haven't been able to replicate this issue on Staging. It's looks related to Google Analytics. I see from the screenshot that some analytics browser plugin is on ([Page Analytics (by Google)](https://chrome.google.com/webstore/detail/page-analytics-by-google/fnbdnhhicmebfgdgglcdacdapkcihcoh?hl=en-US)), could try turning that off and trying again, maybe the issue is related since t

[2020-01-27 17:01] phillipbentonkelly commented on #567
Hi @gretchen-grozier, I stopped by to check on this task. Was you team able to QA it, etc. I don't know if you're still waiting on external stuff, but if not when do you think we should deploy this.

[2020-01-27 21:25] reillyzlab commented on #574
Good call - fresh browser without that (safari) worked.

The upload screen itself looks fine.

Potentially Related:

1. The image acts like it's uploading (shows up) and then a few seconds later gives you the 'uploading' message (i.e. there's a large in the progress bar showing up). Flagging in case there is anything we can do.

First screen I got, then a few seconds later I got the 'uploading' ba

[2020-01-28 13:22] gretchen-grozier commented on #567
@phillipbentonkelly First sentence of issue is "prod go-live is scheduled for 3/2".  ; )  The business owners are still working on testing as far as I know.

[2020-01-29 21:12] phillipbentonkelly commented on #574
@reillyzlab, the two questions are related kinda.

1. The image shows up before the upload progress bar because the browser is reading it from the hard drive and not the upload process. However, the progress bar is displaying the progress of the upload to the server at the `/upload` path. When the progress hits 100% it means the server has the entire file and can go ahead and store it in the datab

[2020-01-31 17:57] gretchen-grozier opened #578 "Add Asset Essentials to the ABP-3/4/20"
Go Live Date:  March 5th  (so do this work late afternoon on Wednesday, March 4th?)  [confirm date with the PM - Jim Murphy james.murphy2@boston.gov]

Application Name: Asset Essentials

Icon is here: https://drive.google.com/open?id=1haX5_hF3xedYEtgmVDcgx02-a3g5g_Gq

Group to show the icon to is SG_AB_ASSETESSENTIALS

URL for icon https://assetessentials.dudesolutions.com/CityOfBoston

[2020-02-06 16:39] andrebtlima commented on #574
Everything is working but spotted a few minor issues/potential ui/ux improvements after testing on prod.

We're not allowing images to be uploaded larger than 15 mb. But from a user's perspective, when you try to upload an image that is >15mb (I tried this with an image that was 15.8mb) everything seems fine when you first upload the image i.e. the progress bar starts chugging along and it gets to

[2020-02-10 21:03] andrebtlima opened #580 "Wrong message when search returns no results in Pay and Apply"
The message here should read "No results found" but instead reads

<img width="1437" alt="Screen Shot 2020-02-10 at 4 01 56 PM" src="https://user-images.githubusercontent.com/57111927/74189672-d8e77a00-4c1e-11ea-99e6-70428a88e6cb.png">

[2020-02-11 20:30] gretchen-grozier commented on #575
@andrebtlima and @phillipbentonkelly confirming go-live with Tableau is on for this weekeend (2/15) so Digital can do the work for ABP late afternoon on Friday the 14th.  Can you confirm you have what you need to complete this task?

[2020-02-12 19:48] paylakatel opened #581 "Set up Google Analytics within City of Boston analytics property."
Create new property in Google Analytics for permit finder and cooridinate with Tag Manager ID.

[2020-02-12 21:04] reillyzlab commented on #575
This will be done afternoon of Friday, 2/14 by @phillipbentonkelly by 3:30 p.m.

@phillipbentonkelly will actively communicate in this ticket when the work has been completed. @reillyzlab will ensure @gretchen-grozier is told in person that the work has been completed.

[2020-02-13 15:27] mmcgowanBOS commented on #581
@phillipbentonkelly , I've gone ahead and set up a new container in Tag Manager for Permit Finder. Its ID is "GTM-5MT2HTJ". I haven't published it yet, but once you've had a chance to update the code base with the ID and other related bits, I can test to make sure it's working.

[2020-02-13 16:54] reillyzlab commented on #416
Closing this issue

[2020-02-13 16:54] #416 closed, assigned to nobody

[2020-02-13 16:55] #536 closed, assigned to nobody

[2020-02-13 17:00] phillipbentonkelly commented on #574
@andrebtlima, @reillyzlab: I was able to fix the first issue. I now show the "Image too large" label on images that were missing it. I wasn't able to address the second item (suggestion).

You can check it out at: https://registry-certs.digital-staging.boston.gov/birth?step=verifyIdentification

[2020-02-13 17:03] reillyzlab commented on #574
As discussed in stand up, I'll take testing of this again.

[2020-02-13 17:03] phillipbentonkelly commented on #574
The issue were the label wasn't being applied happens when the image is on the lower end of the size limit threshold. 13-14 megabytes.

[2020-02-13 21:33] reillyzlab opened #582 "Access Boston Icon: GovQA- Aug 24"
Name of the application = GovQA
Description of what the app is = data tool/used by PIOs/Comm Officers in depts (more details from Kimberly Lucas?)
Timeline = mid February [per comments from Gretchen on 1/3]; Reilly knows from Sarah/Shawn that this will be closer to mid- to late-March. No exact launch TBD

![GovQA icon](https://user-images.githubusercontent.com/20731897/74480202-7b516880-4e7e-11ea-

[2020-02-13 21:37] reillyzlab opened #583 "Access Boston Icon: OpenGov-no launch date"
Name of the application = OpenGov (formerly Analyze Boston)
Description of what the app is = City of Boston's open data hub. We invite you to explore our datasets [this will be on the ABP for every users]
Timeline = end of February (as of 1/3); no launch date set

![OpenGov Icon](https://user-images.githubusercontent.com/20731897/74480494-05013600-4e7f-11ea-8d45-1d0b08383961.png)

[2020-02-14 20:54] gretchen-grozier commented on #575
@phillipbentonkelly and @reillyzlab can see icon on the ABP.  Login isn't done yet, but will have folks test tomorrow once Tableau team finishes their upgrade,  Thanks!!

[2020-02-14 20:54] #575 closed, assigned to phillipbentonkelly

[2020-02-19 17:32] gretchen-grozier commented on #577
@reillyzlab when this link gets updated on ABP can this menu on The Hub also get updated to the new link pls?
![image](https://user-images.githubusercontent.com/44211968/74858778-e209d280-5313-11ea-862c-c8e3c0ba240d.png)

[2020-02-20 16:45] reillyzlab commented on #577
Only need to do for this: Replace the 'Building Maintenance' link under 'forms/links' with a new link.

Still need production link.

[2020-02-21 15:54] reillyzlab commented on #559
We need to review all of this language prior to making any development changes.

[2020-02-21 16:16] reillyzlab commented on #574
Closing this ticket because it's been resolved.

Will open a separate ticket for other items that arose from testing.

[2020-02-21 16:16] #574 closed, assigned to reillyzlab

[2020-02-21 16:29] reillyzlab opened #584 "Registry: Uploading images/documents too large error + need to re-upload"
On the Registry suite (birth, marriage, and death certificate applications), when a person has to upload proof of identity and the file is too large they get an error message (see below).

However, there is no way for a user to know/be prompted to re-upload an image if they get the 'image is too large' message.

![Screen Shot 2020-02-13 at 1 40 44 PM](https://user-images.githubusercontent.com/2073

[2020-02-21 16:33] reillyzlab opened #585 "Registry: Uploading images file constraints messaging and display"
On the Registry suite (birth, marriage, and death certificate applications), when a person has to upload proof of identity and the file is too large they get an error message (see below).

There is messaging to say that a file was too large, but a user has no way of knowing what file constraints exist (i.e. size, type). We need to provide messaging/UI for people to know this.

![Screen Shot 2020-0

[2020-02-28 17:50] reillyzlab commented on #567
This will not go live for a while, because it has been decided that this will not go live until an integration between Riskmaster and HCM happens. This integration is still being planned.

[2020-03-02 16:51] phillipbentonkelly commented on #578
The icon url redirects to the login page of access-boston

[2020-03-02 17:28] gretchen-grozier commented on #578
Please make sure you get the Prod URL for the icon to point to Asset
Essentials from Jim. If it is not in the GitHub issue.

On Mon, Mar 2, 2020, 11:51 Phillip B. Kelly <notifications@github.com>
wrote:

[2020-03-02 17:46] gretchen-grozier commented on #578
Gretchen,
Is this what you are looking for?
https://assetessentials.dudesolutions.com/CityOfBoston/Home/Index

On Mon, Mar 2, 2020 at 12:28 PM Gretchen Grozier <
gretchen.grozier@boston.gov> wrote:

--

[image: COB_B_Blue_square-01.png] <https://www.cityofboston.gov/311/>

James (Jim) Murphy

CRM Project Manager

Department of Innovation and Technology

617-635-0916(w)

[2020-03-02 19:32] phillipbentonkelly commented on #578
Ok, I see the actual icon URL now. What is labeled as `URL for icon` looks like its the URL this icon should go to. If that's the case then I have whats needed. I am going to put this on the `TEST` server, skipping `DEV` because of work on [iam#750](https://github.com/CityOfBoston/iam/issues/750). Is the App URL the same for the `PROD, TEST, DEV` environment or will each have different URLs.

[2020-03-03 19:54] phillipbentonkelly commented on #578
I made this change on the [TEST](https://access-boston-test.digital-staging.boston.gov/) environment, I don't any preference on where the icon should go (order) so I am placing at the bottom.

[2020-03-05 14:48] reillyzlab commented on #578
Jim Murphy confirmed in stand up on 3/5 that this is on production and that the stakeholders are happy with it.

[2020-03-09 14:15] phillipbentonkelly commented on #577
James (Jim) Murphy confirmed this is working in Stand-up. Closing this ticket

[2020-03-16 17:45] #577 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2020-03-16 17:45] #578 closed, assigned to gretchen-grozier

[2020-04-06 20:49] #555 closed, assigned to phillipbentonkelly, andrebtlima

[2020-05-05 18:52] reillyzlab opened #590 "Registry: Translation for the entire registry suite"
Implement translation for the entire registry suite like we've done for other web apps.

Presumably, we can make the changes for one and match it quickly to the others.

All registry certificates and intention.

First Translations:
- Spanish
- Chinese

[2020-05-12 18:13] #581 closed, assigned to phillipbentonkelly

[2020-05-27 20:05] reillyzlab opened #593 "Registry: Adjustments needed to apostille language"
The Apostille information (under the carat/unexposed content) here is outdated:

https://registry.boston.gov/marriage/review

https://registry.boston.gov/birth/review

--
According to Patty, A Hand Signature on a birth certificate is no longer needed.
The Massachusetts Secretary of State's Office does not require a Hand Signature - they accept the Boston Registrar's signature (my signature) when i

[2020-06-03 17:40] andreeaursu1981 commented on #582
Was added to test environment on 6/1/20

LIVE DATE = August 28, 2020

[2020-06-03 17:41] andreeaursu1981 commented on #567
LIVE DATE=June 30

[2020-06-11 15:12] andreeaursu1981 commented on #582
Can we assign this git to Phil as we have issues with tile in TEST? Thanks

[2020-06-11 15:45] reillyzlab commented on #582
Pulled from email:

Hi Phil, @phillipbentonkelly

I remember we put the GovQA tile in TEST Access Boston, however we can't see it. Dinesh is part of the group, yet he can't see the tile. Can you look into this or do you think a quick meeting will solve this faster? Let us know.
This is not an emergency and we can wait another week.

Thanks.
Andreea

[2020-06-15 13:08] phillipbentonkelly commented on #593
@reillyzlab, I staged the changes.

- https://registry-certs.digital-staging.boston.gov/birth/review
- https://registry-certs.digital-staging.boston.gov/marriage/review

[2020-06-15 13:46] reillyzlab commented on #593
These look good. I'll send them to Patty to give them a once over, before we move them to production.

[2020-06-15 14:37] reillyzlab commented on #593
@phillipbentonkelly Patty this is good, so let's push live whenever you're able.

[2020-06-23 18:14] andreeaursu1981 opened #600 "Access Boston: Authentication Configuration Allows MFA Bypass-"space" added after the username"
needs data validation behind the scene to trim any spaces or unwanted character

[2020-06-23 18:15] andreeaursu1981 opened #601 "Access Boston- PingID Device management enhancements"
Jira: https://bostondoit.atlassian.net/browse/DIG-53

Request to build 6 new templates: Manage My Devices, Add devices, Change authenticated device, etc.
Documentation is here: https://apidocs.pingidentity.com/pingid-api/guide/pingid-api/pid_c_PingIDapiUserManagement/#:~:text=The%20PingID%20user%20management%20API,user%20in%20the%20PingID%20service

[2020-06-23 18:15] andreeaursu1981 opened #602 "Access Boston: Source Code Exposed on Publicly Available Repositories"

[2020-06-26 14:46] phillipbentonkelly commented on #600
This will take about 1-2hrs, mostly for back and forward between Navan and I after I give him the snippet of code to put in the template and testing.

[2020-06-26 14:47] phillipbentonkelly commented on #602
Taking a look at today with Navan, I can better estimate after we meet.

[2020-06-26 14:51] phillipbentonkelly commented on #601
I think this is the one Jeanethe will provide a timeline of when we can tackle.

[2020-06-29 14:45] andreeaursu1981 commented on #567
New Live date --sometimes in JULY

[2020-06-30 18:41] andreeaursu1981 commented on #567
LIVE Date= July 29

[2020-07-10 18:58] andreeaursu1981 opened #603 "Access Boston: Add SG_AB_BLDGMAINTREQ under Building Maintenance Form"
- title: Building Maintenance
        url: https://assetessentials.dudesolutions.com/CityOfBoston/MyRequest/Add
        agencies:
          - CH
ADD:
SG_AB_BLDGMAINTREQ

Please leave the CH as well.

Thanks!

[2020-07-14 19:31] andreeaursu1981 commented on #603
Can you please open this up because it is not fixed. Thanks

[2020-07-20 14:31] reillyzlab commented on #601
This is on me to figure out when they can be fit into our roadmap. I am doing this this week (pending nothing else interrupts). May need to partner with Andreea or someone to get additional info.

[2020-07-20 17:14] reillyzlab commented on #603
Estimation 2-3 hours to implement this.

[2020-07-20 17:36] reillyzlab commented on #600
Goal: Have this in test instance of Access Boston by end of week of 7/20/20.

[2020-07-20 17:37] reillyzlab commented on #603
'OR' also needs to added to the platform overall as an applicable function

[2020-07-20 17:37] reillyzlab commented on #603
Goal: Have this in test instance of Access Boston by end of week of 7/20/20.

[2020-07-22 13:56] andreeaursu1981 commented on #567
New LIVE Date from Stakeholders = Aug 5

[2020-07-22 13:56] andreeaursu1981 opened #607 "Xybion LIVE Date - 10 Aug"

[2020-07-22 13:57] andreeaursu1981 commented on #607
For Philip

[2020-07-22 15:50] reillyzlab commented on #593
Pushed in June, but ticket was never closed. Closing ticket because work is complete.

[2020-07-22 15:50] #593 closed, assigned to phillipbentonkelly

[2020-07-22 15:51] reillyzlab opened #608 "Add error message/fall back page for all web apps"
Add error message/fall back page for all web apps -- specifically to reduce emails and be proactive about what is/isn't working.

[2020-07-22 21:26] reillyzlab commented on #600
This is on Access Boston test environment as of today.

[2020-07-23 10:51] phillipbentonkelly commented on #603
@NavanK, I pushed a fix to the TEST environment. Check it out when you can and let me know if it works. We can discuss it after 10:30 AM.

TEST Env Config: https://github.com/CityOfBoston/access-boston-config/blob/master/src/configs/test/apps.yaml

[2020-07-23 12:04] NavanK commented on #603
Thanks @phillipbentonkelly I will validate this and let you know.

[2020-07-23 14:40] NavanK commented on #603
@phillipbentonkelly I have completed the validations and it is working now. I will ask @DineshBaddam to validate also and will take it from there. Thanks.

[2020-07-23 17:54] andreeaursu1981 commented on #600
@phillipbentonkelly @reillyzlab Phil will still have to put it in PROD.

[2020-07-24 12:22] phillipbentonkelly commented on #600
@andreeaursu1981, @reillyzlab I just remember that this change was made on the files the security team hosts so I would not be involved in the deployment to PROD.

Phill

[2020-07-24 12:37] NavanK commented on #600
That is correct @phillipbentonkelly . I will be pushing that change to Prod environment, since I have the templates. Thanks.

[2020-07-24 19:51] DineshBaddam commented on #603
Hi,
I have Validated this with CH user and user have the Building Maintenance link, and also tested another department user who is in Security group SG_AB_BLDGMAINTREQ also able to see Building Maintainance link.
Thanks,
Dinesh.

[2020-07-28 12:10] NavanK commented on #600
Changes moved to Production.

[2020-08-04 13:30] andreeaursu1981 commented on #567
PROD URL: https://sso.boston.gov/idp/startSSO.ping?PartnerSpId=https%3A%2F%2Frmaprdcityofboston.dxc-ins.com
Group For RiskMaster: cn=SG_AB_RISKMASTER
Icon: https://drive.google.com/drive/u/0/folders/1j4RV6uBZ3mkHGotxEoGcRTGxt5byqpjQ

[2020-08-04 13:48] phillipbentonkelly commented on #567
Icon on assets.boston.gov: https://assets.boston.gov/icons/accessboston/Riskmaster2.svg

[2020-08-04 19:19] andreeaursu1981 commented on #607
Changing LIVE date for Friday because Stakeholders need this live for Aug 10 9 am.
URL: https://sso.boston.gov/idp/startSSO.ping?PartnerSpId=https%3A%2F%2Fma.xybion.com%2Fsso%2Fmetadata.xml
Group: SG_AB_XYBION
Tile: https://drive.google.com/drive/u/0/folders/1j4RV6uBZ3mkHGotxEoGcRTGxt5byqpjQ

[2020-08-04 19:32] mmcgowanBOS commented on #607
Just an FYIL. Ill be OOO starting 8/10 - 8-15.

[2020-08-04 20:47] phillipbentonkelly commented on #567
@andreeaursu1981, @NavanK, the deploy just made it to the AWS's 'Codebuild'. From there it usually takes 10-20min to be live.

[2020-08-04 20:58] phillipbentonkelly commented on #567
@andreeaursu1981, @NavanK, the build finished and the app should be on PROD

[2020-08-04 21:08] phillipbentonkelly commented on #607
@andreeaursu1981, is this an app that goes at the top of the dashboard or does it belong to one of the sections? We have an icon for this on our assets servers so am not sure if it belong with the other apps with icons.

Icon on Assets: https://assets.boston.gov/icons/accessboston/Xybion.svg

[2020-08-12 13:21] #607 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2020-08-12 13:22] andreeaursu1981 commented on #567
This can be closed. I do not have the permission to close this one. Thanks friends.

[2020-08-12 14:49] andreeaursu1981 opened #612 "Access Boston Icon - Hootsuite"
Name of the application: Hootsuite

Description of what the app is (if it is not that obvious): social media app

Timeline (when do you need to have live in Prod): 2 weeks

[2020-08-12 15:02] andreeaursu1981 commented on #612
Please assign this to Sebastian. I do not have access. Thanks!

[2020-08-13 19:19] andreeaursu1981 opened #613 "Access Boston TEST PSFN TILE URL"
Under PSFN tile the URL should be this:

   https://baisfntst.cityhall.boston.cob/psp/idmtstfn/EMPLOYEE/ERP/h/?tab=DEFAULT

[2020-08-13 20:29] phillipbentonkelly commented on #613
@andreeaursu1981 the update finished deploying

[2020-08-14 18:18] andreeaursu1981 commented on #613
Thanks Phil!

[2020-08-14 18:18] #613 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2020-08-14 18:18] #603 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2020-08-14 18:18] #600 closed, assigned to andreeaursu1981

[2020-08-17 18:19] #567 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2020-08-18 12:22] sebastianebarb commented on #612
Hey, @andreeaursu1981 I juts sent you the icon for review via email. in the future do you min putting tickets for creative in our repository? https://github.com/CityOfBoston/creative-team-workflow

[2020-08-21 13:44] andreeaursu1981 commented on #582
Prod GovQA UR :
https://sso.boston.gov/idp/startSSO.ping?PartnerSpId=bostonma.govqa.us

Security Group: cn=SG_AB_GOVQA

[2020-08-21 15:27] andreeaursu1981 opened #614 "Server Returns Detailed Error Messages"
EY identified that the GraphQL endpoint returned detailed error messages to clients regarding the status of application exceptions when an exception occurred. During the testing, EY tampered with the parameters on the endpoint https://access.boston.gov/graphql that resulted in an exception error in the application.
To reproduce, follow the steps below:Configure your browser to use a proxy tool, su

[2020-08-28 13:18] NavanK commented on #602
@phillipbentonkelly Here is the ssl keys are visible. Also, I will share the cyber security assessment document please take a look. Thanks.

https://github.com/CityOfBoston/digital/blob/develop/scripts/generate-ssl-key.sh

[2020-08-28 13:40] mmcgowanBOS commented on #583
I spoke to Phil and we're not exactly sure what the status of this may be. Is this the same as "GovQA"? I'm going to assign to Andrea. If she can confirm that this is all set (or a duplicate), please close. If not, please make a comment an re-assign back to Phil and/or myself.

Thank you.

[2020-08-28 13:44] mmcgowanBOS commented on #582
I spoke to Phil and he believes that this is currently live in Prod. I'm going to assign to Andrea. If she can confirm that this is complete, please close. If not, please make a comment an re-assign back to Phil and/or myself.

Thank you.

[2020-08-29 02:53] phillipbentonkelly commented on #602
@NavanK, @andreeaursu1981, @mmcgowanBOS

Hi, in a separate branch I forked this file into one specific for Access-Boston where I can test changes without affecting the rest of the deploy. I was able to deploy a small change to see if it broke AB on the Dev environment. It seems to be fine; I still have more to do here but am out next week so I'll pick this up when I get back. There are a lot movin

[2020-08-31 15:13] mmcgowanBOS commented on #602
HI Navan,
Thanks for following up on this. I know Phil is out too this week. We can
all circle back next week after Labor Day, but glad to hear that your
preliminary tests / fixes were promising.

- Matt

On Fri, Aug 28, 2020 at 10:53 PM Phillip B. Kelly <notifications@github.com>
wrote:

[2020-08-31 18:56] #582 closed, assigned to andreeaursu1981

[2020-08-31 19:06] andreeaursu1981 commented on #602
there were no preliminary test were not done from our side. This is nothing we can test on our side. The message was from Phil. Their meeting took 15 and Navan reminded him about the solution that he has proposed a while back. From Phil message it looks that he has done some work on dev.
Solution proposed in first meeting: SSL keys to be put on AWS EC2 container

[2020-08-31 23:13] mmcgowanBOS commented on #602
Great. Thanks for the clarification. I misread the sender info.

On Mon, Aug 31, 2020 at 3:06 PM Andreea Ursu <notifications@github.com>
wrote:

[2020-09-02 15:42] reillyzlab opened #618 "Registry: Footer should be left aligned - all apps"
On all the registry applications, all of the footer content should be left aligned.

It's what reads, 'questions...'

[2020-09-14 11:21] phillipbentonkelly commented on #602
@andreeaursu1981: I developed a fix for this issue and was able to deploy to the DEV environment without a problem. @NavanK, feel free to check out the code changes if you'd like. I changed the hardcoded password (swordfish) to get generated on the fly using base64 encryption. I'll be request David from our team to code review it while y'all to spot-check on DEV. If the change checkouts on both en

[2020-09-14 12:16] phillipbentonkelly commented on #602
https://github.com/CityOfBoston/digital/pull/617

[2020-09-14 19:34] NavanK commented on #602
Hi Phill,

I just looked at the
*https://github.com/CityOfBoston/digital/blob/develop/scripts
<https://github.com/CityOfBoston/digital/blob/develop/scripts> *folder and
I still see the password is visible publicly. This repository is maintained
by Digital, I do not understand what code I can take a look at.

Let me know if I am looking in the wrong place for the fix you worked on.
Because, In the

[2020-09-16 15:11] phillipbentonkelly commented on #602
Hi @NavanK

Seems I wasn't clear in the last message, when we meet two weeks ago I discussed making the change in its own file that would only get applied to Access-Boston while testing to make sure other apps were not affected by the change. That's why there is a file with the password in the repo, the next step was to remove that too once you verify that you can the Dev environment is still work

[2020-09-18 19:46] phillipbentonkelly commented on #602
@NavanK, @andreeaursu1981 @mmcgowanBOS

Somewhere above I posted the wrong link to the changes in the repo, so I caused some of the confusion. Here is the link to the repo with the issue fixed ... this is just an FYI, no action needs to be taken on your end. This is on DEV, will push to TEST when you give the go-ahead.

https://github.com/CityOfBoston/digital/blob/access-boston/issue_602/scripts/g

[2020-09-21 18:14] reillyzlab opened #621 "Registry: Width of fields adjustments"
![Screen Shot 2020-09-21 at 2 11 56 PM](https://user-images.githubusercontent.com/20731897/93804527-0ca26d80-fc0c-11ea-9c7a-b6fbd5b90b53.png)

Sebastian gave feedback at these 'should stretch to the right'. They've been adjusted to this:

![Screen Shot 2020-09-21 at 2 12 43 PM](https://user-images.githubusercontent.com/20731897/93804601-2c399600-fc0c-11ea-85ac-308f4a7b0af1.png)

They should go bac

[2020-09-21 18:56] reillyzlab opened #622 "Registry: All fields should be required but not have the label"
For the marriage intention application all of the fields should be required and ensure that there is validation happening if/when need be.

The required labels shouldn't appear on every field.

Current state: There is a mixture of required labels.

[2020-09-21 18:58] reillyzlab opened #623 "Registry: Open paragraph has 'this' misspelled"
On the opening/instructions page of the marriage intention application, first paragraph 'this' is misspelled.

It is 'thi' right now, but should be 'this'.

[2020-09-21 19:03] reillyzlab opened #624 "Registry: Email shouldn't have hyphen on contact information"
![Screen Shot 2020-09-21 at 3 02 55 PM](https://user-images.githubusercontent.com/20731897/93809684-31e6aa00-fc13-11ea-9755-a2b3c25a6765.png)

Email address shouldn't have a hyphen

Part of the contact information section.

[2020-09-21 19:16] reillyzlab commented on #621
Step 4 (contact info and appointment date) still inconsistent for field box width - make consistent

[2020-09-21 19:25] reillyzlab opened #625 "Registry: Incorrect capitalization on date of birth description."
On date of birth, the description text that says age will be calculated on date of brith - “...”Date of Birth” should be all lowercase to be "your age ... on your date of birth.".

![Screen Shot 2020-09-21 at 3 24 46 PM](https://user-images.githubusercontent.com/20731897/93811752-3e203680-fc16-11ea-85ec-477c70b58360.png)

[2020-09-21 19:37] reillyzlab opened #626 "Registry: Storying information if people go 'back'"
From Reilly: If someone goes ‘back’, then the information that they put in disappears. Is there any easy way for us to store that information if they then again click next? Or, can we warn them that if they go back then the info they might have filled in will be lost and that they can check it at the end? (RZ)

From Phil: The app saves the data in the fields you completed for a period of time, am

[2020-09-21 19:47] reillyzlab opened #627 "Registry: Appointment date and time"
Appointment date is required, time is nice to have, but if easier to mark time required then that’s fine. Just note this because there is a required tag on time, but not date.

Open question from Phil: Is it okay to remove the time and only use the date. It will be the component used for the Date of Birth. Does this sound fine?

@phillipbentonkelly yes that sound great

[2020-09-21 20:13] phillipbentonkelly commented on #623
Made this change and it's on staging

[2020-09-22 13:42] reillyzlab commented on #626
This is expected. The information does not store until a user has completely filled out the page.

[2020-09-22 13:42] reillyzlab commented on #626
Closing because not an issue.

[2020-09-22 13:42] #626 closed, assigned to nobody

[2020-09-22 13:45] reillyzlab opened #628 "Registry: Percy Errors"
Dealing with Percy issues that have come up.

[2020-09-22 15:07] reillyzlab opened #629 "Registry: Change email address on request submitted page"
Email address on the request submitted page should be marriage@boston.gov, not registry@boston.gov

![Screen Shot 2020-09-22 at 11 06 19 AM](https://user-images.githubusercontent.com/20731897/93900749-61e98800-fcbb-11ea-8d60-7db8ac1cfefc.png)

[2020-09-22 15:11] reillyzlab opened #630 "Registry: add google analytics"
Add generic google analytics to the site

[2020-09-22 16:43] reillyzlab opened #631 "Registry: adjust email confirmation sender and content"
![image](https://user-images.githubusercontent.com/20731897/93911708-5b154200-fcc8-11ea-956c-31219acbd23e.png)

1. Can we match the sender of the other registry receipts instead of "boston.gov contact form"?

2. Can we adjust this current body language:

Marriage Intention Application
Thank you for your submission. Have questions? Contact us at
617-635-4175 or registry@boston.gov.

To instead say:

[2020-09-22 17:02] reillyzlab opened #632 "Registry: Title of appointment date"
Change ‘appointment date’ title to: What is your appointment date?

*Don’t want people thinking they can put in a different appointment date/time than they already have.

[2020-09-22 20:52] reillyzlab opened #633 "Registry: On contact info/phone number move location of description text"
On contact info/phone number move location of description text please put this description text under the title “(digits only, no spaces or dashes)”.

Please also rephrase to be “Numbers only, no spaces or dashes needed.”

[2020-09-23 13:40] reillyzlab opened #634 "Registry: Database work with Patrick/Sundar/George"
Phil asked Patrick/Sundar to review changes Phil made to staging database.

@phillipbentonkelly add more detail if you have/is necessary (leaving any sensitive info out)

[2020-09-23 13:59] mmcgowanBOS commented on #630
Hi Phil,
I just checked the source code for all registry apps (death, birth, marriage) and I can confirm that they all use the same Google Analytics tracking id ("UA-99773468-7"). So you should be able to use the same approach / method that is currently in place.

Let me know if you have any questions.

Thanks.

[2020-09-23 15:44] phillipbentonkelly commented on #633
@reillyzlab, applying this fix results in this look on Desktop. Let me know what you think.

![Contact-Phone-Desc-misaligned](https://user-images.githubusercontent.com/2627273/94036082-e9092f80-fd91-11ea-9f2c-a43631848dfe.JPG)

[2020-09-23 15:54] reillyzlab commented on #633
@phillipbentonkelly in this two column format the field boxes should align at the top.

I'd recommend just adding a break line under email address (to match the extra description under phone) unless there's an easier way.

[2020-09-23 16:05] reillyzlab commented on #627
Closing because time removed

[2020-09-23 16:05] #627 closed, assigned to nobody

[2020-09-23 16:13] #632 closed, assigned to nobody

[2020-09-23 16:14] #624 closed, assigned to nobody

[2020-09-23 16:41] reillyzlab opened #635 "Registry: Related by blood question, carry over answers"
For the related by blood question, theoretically it would/should be the same. Can we carry over the answer by person a to b rather than having people enter it twice?

[2020-09-23 16:42] mmcgowanBOS commented on #631
@phillipbentonkelly, here is the new endpoint I set up in the CI environment.
https://d8-ci.boston.gov/contactform/emails

You shouldn't have to change anything on the front end sending method, other than the endpoint domain itself. Let me know if you have any issues testing it. This is still a work in progress, but should match what's currently up on the AWS endpoint (minus the extra templated co

[2020-09-23 16:51] reillyzlab commented on #618
This applies to all certificates and the intention.

If possible to do this for all the same time, great. If not, focus on intention.

[2020-09-23 19:23] reillyzlab commented on #622
Completed

[2020-09-23 19:23] #622 closed, assigned to nobody

[2020-09-23 19:24] reillyzlab commented on #623
completed

[2020-09-23 19:24] #623 closed, assigned to nobody

[2020-09-23 19:25] reillyzlab commented on #625
Completed

[2020-09-23 19:25] #625 closed, assigned to nobody

[2020-09-23 19:26] reillyzlab commented on #629
Completed

[2020-09-23 19:26] #629 closed, assigned to nobody

[2020-09-23 19:50] reillyzlab opened #636 "Registry: Adjustments to address fields functionality"
Have birthplace and residence addresses act the same? I.e. select country, then the rest appears/you can interact with.

This functionality seems to be currently taken out altogether so we should discuss during stand up.

[2020-09-23 22:04] phillipbentonkelly opened #637 "Registry: Digital Code Review"
Code review code for this project: https://github.com/CityOfBoston/digital/pull/620

Stella, Matt, (opt) David

[2020-09-24 13:11] reillyzlab opened #638 "Registry: Add description text re: adding apartment number"
Under 'residence' header, please add the following description text: "Please include your apartment number if that applies."

Please match the styling of the other description text.

[2020-09-24 13:19] #628 closed, assigned to nobody

[2020-09-24 13:27] reillyzlab commented on #637
Phil will

- [ ] Put this in writing for folks to review the write up
- [ ] Follow up with a meeting if need be. Phil will schedule this.

[2020-09-24 15:54] mmcgowanBOS commented on #602
Hi Guys,
Im reading this over again and it seems we are waiting on @NavanK and / or someone from Security Team to let us know when they're ready to have us push to TEST.

[2020-09-24 15:58] #636 closed, assigned to nobody

[2020-09-24 16:00] NavanK commented on #602
Hi,

I looked at the above provided Github link and I see that password is not
visible there, It looks good to me, but again, this is the Digital
repository and I am not sure if the provided Github link is referring to
the Dev environment or elsewhere.

Thanks,
Navan.

On Thu, Sep 24, 2020 at 11:54 AM Matthew McGowan <notifications@github.com>
wrote:

--

[image: COB_B_Blue_square-01.png]

*Navan

[2020-09-24 16:11] reillyzlab opened #639 "Registry: Age description text location and styling"
Please move this description text under 'age' header:

Your age will be automatically calculated based on your date of birth.

And, match the styling of the other description text.

![Screen Shot 2020-09-24 at 12 12 04 PM](https://user-images.githubusercontent.com/20731897/94171367-cd1b9180-fe56-11ea-8bbb-906d80b671a1.png)

[2020-09-24 21:50] reillyzlab opened #640 "Registry: Add description text under 'middle name'"
Add description text under 'middle name' for both person a and b.

Description text should be: This is your current middle name if you have one. You may not list a new middle name.

Match the styling of the other description text.

[2020-09-24 21:55] reillyzlab opened #641 "Registry: Adjust description text for LAST NAME / SURNAME TO BE USED AFTER MARRIAGE"
Adjust description text for LAST NAME / SURNAME TO BE USED AFTER MARRIAGE

Description text should read: You can keep your current last name or use a new last name. Examples: Take your future spouse's last name, use a two part last name, or create a new last name.

[2020-09-25 13:33] reillyzlab opened #642 "Registry: Remove hospital name"
Remove hospital name from both person a and b.

From Patty, "The space the State form provides for the Place of Birth is not very long. If they provide too much information the staff may need to edit so it will print and may negatively impact the name."

[2020-09-25 13:37] reillyzlab opened #643 "Registry: Add description text to birthplace city/town"
Add description text to birthplace city/town for both person a and b, which should be:

Please list the city/town where the hospital was located, not where your family was living.

Please match the formatting of the other description text.

[2020-09-25 13:45] reillyzlab opened #644 "Registry: Place of birth location adjustments"
After Patty reviewed she gave the following feedback regarding birthplace:

Fields needed for person a and b: City/Town, State/Province and Country if not born in the United States

We do not need the name of the hospital -- we will remove. Put in a separate ticket for that: https://github.com/CityOfBoston/digital/issues/642

[2020-09-25 13:51] reillyzlab opened #645 "Registry: Adjust maiden name field name for all parents"
For person a and b, 'last name at AT BIRTH OR ADOPTION' doesn't match what the current cityofboston.gov says and it should.

Please change this text to be: Maiden Name/Surname at Birth or Adoption
for both parents for both person a and b.

[2020-09-25 13:57] reillyzlab opened #646 "Registry: Add description text to residence city/town"
Add description text to residence city/town:

For Boston residents: Please put 'Boston' as the City, do not use neighborhood names.

Put this for both person a and b.

Please match styling of other description text.

[2020-09-25 19:27] reillyzlab commented on #630
We looked at google analytics together during stand up on 9/25 and it appears to be working so closing.

[2020-09-25 19:27] #630 closed, assigned to nobody

[2020-09-25 19:48] reillyzlab commented on #644
@phillipbentonkelly

Can you please verify that the fields are displaying as expected/working okay?

[2020-09-25 20:32] mmcgowanBOS commented on #631
@phillipbentonkelly , and @reillyzlab , I demo-ed the HTML capabilities during Demo Time up on the CI Acquia environment. It looks like we can address this before launch without too effort as it stands.

Reilly, ...

1. Can you supply what the "sender" name should be to match the other registry apps?

2. For the email content piece, I remember you saying that you'd like to at the very least to jus

[2020-09-25 20:36] phillipbentonkelly commented on #643
@reillyzlab, since we're getting rid of the hospital field does it make sense to still reference a hospital here still?

**Would this due**: _Please list the city/town you were born in, not where your family was living._

I'll use the text you provided for now.

[2020-09-25 20:58] reillyzlab commented on #643
Please keep with the original text suggested.

[2020-09-25 21:36] reillyzlab opened #647 "Registry: Check that country code is processing accurately in database"
Patty said the following:

For residence (for mailing the license and certificate):
- If the couple lives in the United States the application takes their street number and street name, the city/town, State and Zip.
- If they are outside the United States the application/system takes the person's address and acts the same as the above with this exception: If they enter the country name then the sy

[2020-09-25 21:38] reillyzlab commented on #638
I think the field names adjusted since I put this in.

It should be under: RESIDENCE ADDRESS

[2020-09-28 14:46] reillyzlab commented on #631
Sender/From:
City of Boston Registry <marriage@boston.gov>

Regarding number two, correct it would be great to focus on getting this launched so it doesn't need too much effort put in and the text is fine but if it's possible/not too much work we could try to match the other registry certificates maybe at least for header and footer and text styling.

![Screen Shot 2020-09-28 at 10 43 40 AM](https

[2020-09-28 15:05] reillyzlab commented on #631
Simply do plain text as mentioned in the first portion of the ticket.

[2020-09-28 15:15] reillyzlab commented on #634
Phil will put in a change management ticket to do this Thursday or Friday

[2020-09-28 20:27] reillyzlab commented on #645
Completed so closing

[2020-09-28 20:27] #645 closed, assigned to nobody

[2020-09-28 20:27] reillyzlab commented on #641
Completed so closing

[2020-09-28 20:27] #641 closed, assigned to nobody

[2020-09-28 20:29] reillyzlab commented on #638
Completed so closing

[2020-09-28 20:29] #638 closed, assigned to nobody

[2020-09-28 20:31] reillyzlab commented on #640
Completed so closing

[2020-09-28 20:31] #640 closed, assigned to nobody

[2020-09-28 20:39] reillyzlab commented on #646
Completed so closing

[2020-09-28 20:39] #646 closed, assigned to nobody

[2020-09-28 20:40] reillyzlab commented on #642
Completed so closing

[2020-09-28 20:40] #642 closed, assigned to nobody

[2020-09-28 20:40] reillyzlab commented on #643
Completed so closing

[2020-09-28 20:40] #643 closed, assigned to nobody

[2020-09-28 20:45] reillyzlab commented on #644
![Screen Shot 2020-09-28 at 4 41 58 PM](https://user-images.githubusercontent.com/20731897/94483861-278f5780-01a1-11eb-9bb0-4d8d4e1950f5.png)

Birthplace location should have these field headers in this order:

1. birthplace city/town [write in field]

2. birthplace state/province [write in field]

3. birthplace country, if not born in the United States - drop down selection is fine, but is it pos

[2020-09-28 20:52] reillyzlab commented on #633
Completed so closing

[2020-09-28 20:52] #633 closed, assigned to nobody

[2020-09-28 21:03] reillyzlab commented on #639
Completed so closing

[2020-09-28 21:03] #639 closed, assigned to nobody

[2020-09-29 13:29] reillyzlab opened #648 "Registry: On mobile, country names get cut off"
On mobile, country names get cut off. However, text should resize so that the name fits.

![IMG_5520](https://user-images.githubusercontent.com/20731897/94564668-ded1b000-022d-11eb-90da-d611b0efd4c6.jpg)

[2020-09-29 13:33] reillyzlab commented on #637
This meeting is happening on 9/29.

[2020-09-29 20:59] phillipbentonkelly commented on #644
@reillyzlab, I move the state field to be in between city and country. However, it's only visible after a country is selected because it only applies to the USA

[2020-09-30 13:27] phillipbentonkelly commented on #637
@mmcgowanBOS, please approve

[2020-10-01 13:44] mmcgowanBOS commented on #637
HI Phil,
What exactly am I approving? If the code base, then "yes" this is approved. This isn't an actual PR so the traditional "approve" action can't be done from what I understand.

[2020-10-01 15:55] reillyzlab opened #650 "Registry: Issues with dates"
For all dates: Dates show up correctly when entered by the user. But, when the user gets to the review page the dates are all showing up a day before than the date that was entered.

This applies for all dates throughout the application.

[2020-10-01 21:12] #644 closed, assigned to nobody

[2020-10-02 14:53] reillyzlab commented on #634
Per Georges also include Scott Blackwell

[2020-10-02 14:55] reillyzlab commented on #634
Additional item: Verify that these items get picked up by Registry back end application processing system.

[2020-10-02 15:08] reillyzlab opened #651 "Registry: Deployment and redirecting for marriage intention"
Figure out deployment and redirecting for marriage intention.

[2020-10-02 15:29] reillyzlab opened #652 "Registry: Check domestic partnerships field and data outputs"
Registry reports that with current set up and app from cityofboston.gov if someone selects 'domestic partnerships' there are intermittent times when MA shows up/gets added to the database.

They don't have a pattern to go off of, but a guess from Reilly: Maybe this happens if 'does not apply' is subsequently selected.

@phillipbentonkelly can you please look through the database and see if you can

[2020-10-02 15:47] phillipbentonkelly commented on #637
@mmcgowanBOS, this PR https://github.com/CityOfBoston/digital/pull/620

[2020-10-02 16:11] reillyzlab opened #653 "Registry: Parents maiden/last name at birth/adoption - add description text"
Parents maiden/last name at birth/adoption - add the following description text after that header:

This should be your parent's last name at the time of their birth or adoption.

Add this to all fields for all parents for both person a and b.

[2020-10-05 15:22] reillyzlab opened #656 "Registry: Add field to 'suffix'"
Add a 'does not apply' item for suffix.

Add this for both person a and b.

[2020-10-05 15:24] reillyzlab opened #657 "Registry: Review page - remove hospital"
On the review page, hospital name is still showing up even though this is a field we're not collecting.

Remove this from the review page.

[2020-10-05 15:36] reillyzlab opened #658 "Registry: Re-do location fields, remove state"
Re-do order of birthplace location fields

User should:
Select country first (i.e. put this as a the first field)

Reilly emailed Patty for additional information prior to finishing this ticket.

[2020-10-06 13:34] reillyzlab commented on #647
Confirming this is acting as expected, so closing.

[2020-10-06 13:34] #647 closed, assigned to nobody

[2020-10-06 20:11] reillyzlab opened #659 "Registry: Incorporate validation/error field prompts when not filled in"
There are no validation/error field prompts when a field is not filled in, so it is hard to know which fields a user missed before they can move on.

If/how could we do this?

[2020-10-06 20:24] reillyzlab opened #660 "Registry: Prompt to review on review page"
Create a prompt at the top of the review page asking people to review their information for accuracy and to go 'back' to edit if anything needs to be changed.

@duffy-james can provide language to use and @sebastianebarb can you advise on location of the information

<img width="1318" alt="Screen Shot 2020-10-06 at 4 24 35 PM" src="https://user-images.githubusercontent.com/20731897/95256161-128d76

[2020-10-06 20:45] duffy-james commented on #660
@reillyzlab is there a "go back" button anywhere for users? If not, how do they go back?

[2020-10-06 20:51] reillyzlab commented on #660
There is a blue back button at the bottom is the page or the back button on
the browser.

On Tue, Oct 6, 2020 at 4:45 PM James Duffy <notifications@github.com> wrote:

--
Reilly Zlab
Director of Product Management, Digital
Department of Innovation and Technology
City of Boston | City Hall | Room 703
reilly.zlab@boston.gov | 617-635-0057

[2020-10-06 20:54] duffy-james commented on #660
Add the following below the steps and above 'contact information'. Use the body text for text styling.

Please review the details below. If you notice any errors, click the "back" button at the bottom of your screen and correct your information before submitting this application.

[2020-10-08 13:36] reillyzlab commented on #651
Figured out how to do this.

[2020-10-08 13:41] reillyzlab commented on #634
There was a productive meeting with Georges and team on 10/6. Phil followed up with them via email but hadn't gotten a response as of 10/8 stand up and would like one, because they didn't leave the meeting with a confirmed time other than 'Tuesday'.

Phil will connect with Jeanethe to have her follow up.

[2020-10-08 14:15] mmcgowanBOS commented on #631
@phillipbentonkelly , I pushed the endpoint live to Prod yesterday and this morning updated the ENV vars so this should now properly work.

**NOTE:** You will need to swap the "template_id" POST body param out with the Prod version. Please use "20558627".

Let me know if you have any issues or questions,

[2020-10-08 15:39] reillyzlab commented on #471
Closing because unsure of the value/haven't had this explicitly asked for

[2020-10-08 15:39] #471 closed, assigned to andrebtlima

[2020-10-08 15:51] reillyzlab commented on #495
Closing because we haven't been asked for additional analytics.

[2020-10-08 15:51] #495 closed, assigned to nobody

[2020-10-08 15:53] reillyzlab commented on #475
This is the page that is being referred to on marriage application.

![Screen Shot 2020-10-08 at 11 53 22 AM](https://user-images.githubusercontent.com/20731897/95483132-7df45700-0954-11eb-9d18-6b7ed648e3ee.png)

https://registry.boston.gov/marriage?step=dateOfMarriage

[2020-10-08 15:55] reillyzlab commented on #479
Ensure this is also added to the database and the back end system so Registry can see these.

This prevents additional follow up emails and decrease potential of having to resend certificate (if they processed prior to seeing an email from constituent).

[2020-10-08 15:56] reillyzlab commented on #473
Closing because haven't heard this as a complaint from Registry

[2020-10-08 15:56] #473 closed, assigned to nobody

[2020-10-08 15:57] reillyzlab commented on #477
Closing

[2020-10-08 15:57] #477 closed, assigned to nobody

[2020-10-08 16:28] reillyzlab commented on #585
![Screen Shot 2020-02-13 at 1 40 31 PM](https://user-images.githubusercontent.com/20731897/95487043-6d92ab00-0959-11eb-8c7e-c4a8b682664e.png)

[2020-10-08 16:29] reillyzlab commented on #585
![Screen Shot 2020-02-13 at 1 40 31 PM](https://user-images.githubusercontent.com/20731897/95487130-87cc8900-0959-11eb-8353-30d59e388536.png)

[2020-10-08 16:34] reillyzlab commented on #585
How to resolve this issue:

- [ ] Photo upload only allows for JPG in code, only jpg should be allowed. This ensure that a preview of the image can be seen. (Right now a PDF can be submitted, but shows up as a blank image in the preview screen.)

- [ ] Maximum upload is also 15 MB, anything above 12 is failing. This needs to be resolved.

- [ ] Add the file type and size language under the upload

[2020-10-08 16:43] reillyzlab commented on #584
To resolve:

For both images, if people get the 'upload: failed; image too large' message. Add to that message: Click here to re-try upload.

[2020-10-08 18:04] reillyzlab opened #661 "Minor cosmetic / text fixes"
**Registry Updates need for UI and Text:**
1. On:
- https://registry.boston.gov/birth/review
- https://registry.boston.gov/marriage/review
Number 2 - there is a space missing between 'the' and 'Massachusetts'.
Please add a space in.
![Screen Shot 2020-10-08 at 2 02 31 PM](https://user-images.githubusercontent.com/20731897/95496695-d16fa080-0966-11eb-9779-bec362591306.png)

2. On the Birth page Ste

[2020-10-08 18:06] reillyzlab commented on #635
Completed so closing

[2020-10-08 18:06] #635 closed, assigned to nobody

[2020-10-08 18:07] reillyzlab commented on #653
Completed so closing

[2020-10-08 18:07] #653 closed, assigned to nobody

[2020-10-08 18:10] reillyzlab commented on #650
Completed so closing

[2020-10-08 18:10] #650 closed, assigned to nobody

[2020-10-08 18:13] reillyzlab commented on #657
Completed so closing

[2020-10-08 18:13] #657 closed, assigned to nobody

[2020-10-08 18:19] reillyzlab opened #662 "Registry: Update styling on headers on review page"
On review page: https://registry-certs.digital-staging.boston.gov/marriageintention?step=reviewForms

Contact information and review partner information header styling should be monserrat and all caps to match boston branding.

[2020-10-08 18:24] reillyzlab opened #663 "Registry: Review page - adjust marriage header to match other page styling"
On the review page: https://registry-certs.digital-staging.boston.gov/marriageintention?step=reviewForms

The sub-headers have underlines.

Add that to 'marriage' header for person a and b to match of the other sub-headers on the page.

![Screen Shot 2020-10-08 at 2 24 11 PM](https://user-images.githubusercontent.com/20731897/95498522-902cc000-0969-11eb-9a40-2f05b0c40eba.png)

[2020-10-09 15:40] #637 closed, assigned to nobody

[2020-10-09 15:40] #651 closed, assigned to nobody

[2020-10-09 15:41] reillyzlab commented on #634
Rich completing some work on this.

[2020-10-13 13:40] reillyzlab commented on #631
Completed so closing

[2020-10-13 13:40] #631 closed, assigned to nobody

[2020-10-13 20:23] reillyzlab opened #664 "Registry: adjust intro page language"
Please add the following language to the intro page:

Please note:
- Both parties must be over age 18 and be free to marry.
- You must have a valid marriage license and be married in Massachusetts by a person eligible to perform weddings in Massachusetts.

This should be added as it's own paragraph at the end of the current content. This should match styling of the body copy on that page.

[2020-10-13 20:26] reillyzlab opened #665 "Registry: add mother/father verbiage"
For the time being mother/father verbiage needs to be included.

Anywhere throughout the app that says parent 1 needs to say parent 1/mother.

Anywhere throughout the app that says parent 2 needs to say parent 2/father.

This may be able to be changed in the future.

[2020-10-14 13:09] reillyzlab commented on #665
@phillipbentonkelly looks like mother/father got flip flopped.

Mother needs to be parent 1 and father needs to be parent 2

Please correct

[2020-10-14 13:32] reillyzlab commented on #664
Completed so closing

[2020-10-14 13:35] reillyzlab commented on #634
Rich reports that this is done.

[2020-10-14 13:35] #634 closed, assigned to nobody

[2020-10-14 13:42] reillyzlab commented on #664
Not blocking go live, but please make the n in 'note' lower case so it's Please note:

[2020-10-14 13:46] reillyzlab commented on #656
![Screen Shot 2020-10-14 at 9 44 35 AM](https://user-images.githubusercontent.com/20731897/95997579-8982ca80-0df9-11eb-8b8e-7c2205a3174e.png)

This is showing up as a pre-populated for everyone.

This should be a field that someone selects from the dropdown like the rest of the numbers.

Make it required.

Match the case styling of the other 'does not apply' on the page which are: Does Not Apply

[2020-10-14 18:29] reillyzlab commented on #665
Completed so closing

[2020-10-14 18:29] #665 closed, assigned to nobody

[2020-10-14 18:34] reillyzlab commented on #652
@phillipbentonkelly were you able to verify this / can I close?

[2020-10-14 18:37] reillyzlab opened #666 "Registry: Review page-no data showing when state not selected"
![Screen Shot 2020-10-14 at 2 31 13 PM](https://user-images.githubusercontent.com/20731897/96030856-2c4f3f00-0e22-11eb-95c5-d110dd9dfe0f.png)

On the review page, when the birth location is outside the United States there is no state/province required. So these fields on the review page show up as blank.

If there is no information can we have the review page say 'not applicable' rather than showi

[2020-10-14 18:53] reillyzlab opened #667 "Registry: Revise order of info on review page"
On the review page, contact information is listed first and the information on the applications is listed second. This is the opposite order of how the application is set up.

Keep formatting as is, but please change so that applicant information is first and contact information is second to match the order that they show up in the application.

[2020-10-14 22:00] reillyzlab opened #670 "Registry: Confirmation email not working in production"
Confirmation email not working in production

Can submit the form but don't receive an email.

@phillipbentonkelly reports seeing an error related to the postmark work as well.

[2020-10-14 22:06] reillyzlab opened #671 "Registry: Related by blood question carry over content stay on review page when shouldn't"
If someone enters in 'related by blood' on person a, then that answer carries over to person b as expected.

If the person selects yes, and puts in the person as to how they related, then that stays as well which is expected.

However, if person b changes the answer from yes to no then the content put into the field on yes still appears on the review page. If this is changed to no, then no written

[2020-10-15 14:00] reillyzlab commented on #670
500 error

Working via postman and locally but not in production

[2020-10-16 13:37] reillyzlab commented on #652
No obvious problems/patterns noticed by @phillipbentonkelly so closing

[2020-10-16 13:37] #652 closed, assigned to nobody

[2020-10-16 13:40] reillyzlab commented on #602
@andreeaursu1981 is this all set.

If so, can you please close the ticket?

[2020-10-16 13:55] #602 closed, assigned to andreeaursu1981

[2020-10-19 17:19] reillyzlab opened #674 "Registry: Issue with Data Coming Into System From App"
There are two fields that are pushing miscellaneous data through to the back end:

1. Partnership state - this is still in a 'state' when there is no domestic partnership selected. There shouldn't be a state going in here. Or, @phillipbentonkelly can you shed some light here?

2. Place of marriage - this is only for the Registry office to fill in once the marriage license is returned so no data sh

[2020-10-20 14:46] reillyzlab commented on #656
This should not be showing as pre-populated for everyone.

This field should start blank and people should have to select 'does not apply'. (Like the other drop downs on the app)

The field should be required so that if they don't have a suffix, then they will select 'does not apply'.

[2020-10-20 14:47] reillyzlab commented on #670
This has been resolved so closing.

[2020-10-20 14:47] #670 closed, assigned to nobody

[2020-10-20 16:52] reillyzlab commented on #614
Sent via email by @phillipbentonkelly 10/20/20 at 11:45 a.m.:

I created a patch for this issue and got it working on my computer. I deployed it to the DEV environment yesterday morning but at the moment I am unable to verify if it working because I don't have the ability to install software on my remote desktop. I pinged doit help desk to give me access but I've been waiting two days for them to

[2020-10-21 18:24] phillipbentonkelly commented on #674
@reillyzlab I got questions here:

1. Is the ask to not allow Partnership State if no partnership status is selected? By default (which reflects the previous form) you the user can enter the Partnership State even if the choice of Status is blank/'Does Not Apply". What do you think we should do here? Is the ask to set the state to blank if no status has been selected aka 'Does not Apply"?

2. Repl

[2020-10-21 19:10] phillipbentonkelly commented on #656
Deploying next to staging

[2020-10-22 13:42] mmcgowanBOS commented on #674
@reillyzlab , Phil and I met this morning for standup and in reference to his last 2 questions, Rich Oliver has addressed #2, but can you give more clarity or response on #1 ? Can you reach out to Patty too and let us know.

Thank you.

[2020-10-22 14:18] reillyzlab commented on #674
We discussed this during 10 a.m. stand up.

The issue is that there isn't a partnerships selected and subsequently shouldn't have a place. A place can't exist if the partnership doesn't exist at all.

Presumably the state is getting picked up from somewhere else.

No additional information from Patty is needed.

[2020-10-22 14:56] reillyzlab opened #675 "Registry: State missing from 'partnership' and should be added"
On the new marriage intention app there is currently no state/country listed under 'partnership'/'were you a member of...' and there should be to match the current (legacy) app.

Old app:
![Screen Shot 2020-10-22 at 10 37 45 AM](https://user-images.githubusercontent.com/20731897/96887504-44d6df00-144a-11eb-9f46-d55e8e706479.png)

New app:
![Screen Shot 2020-10-22 at 10 29 44 AM](https://user-image

[2020-10-22 16:49] reillyzlab commented on #656
Still needs to be done:

- [x] Match the case styling of the other 'does not apply' on the page which are: Does Not Apply

- [x] This field should be required to answer.

[2020-10-23 18:48] reillyzlab commented on #674
Passing/closing because @phillipbentonkelly says this is complete.

Can't fully test on our end, so may re-open if Patty says this is still an issue.

[2020-10-23 18:48] #674 closed, assigned to nobody

[2020-10-23 20:30] reillyzlab commented on #656
Completed so closing

[2020-10-23 20:30] #656 closed, assigned to nobody

[2020-10-23 20:34] reillyzlab commented on #671
Completed so closing

[2020-10-23 20:34] #671 closed, assigned to nobody

[2020-10-23 20:35] reillyzlab commented on #675
Not all of the requirements were implemented as requested, but it looks okay as is so I will pass/complete.

[2020-10-23 20:35] #675 closed, assigned to nobody

[2020-10-23 20:56] reillyzlab opened #676 "Registry: Review page - spacing issue for 'were your parents married at the time of your birth?'"
On the review page, for both partner a and b the following question 'were your parents married at the time of your birth?' has a spacing issue.

There should be a space between the question/colon and the answer. There currently is not.

![Screen Shot 2020-10-23 at 4 34 42 PM](https://user-images.githubusercontent.com/20731897/97053329-59999c80-1548-11eb-9a6c-1f1f631808b0.png)

[2020-10-28 13:43] jimmurphy-boston opened #684 "Requiring a Suffix"
The registration form requires a Suffix (If there isn't one you must choose 'Does Not Apply" to arm the Next button. This wouldn't be obvious to most people who do not use a Suffix. Move the requirement from this field.

[2020-10-28 19:29] reillyzlab opened #685 "Digital Repo: Address Potential Security Risk - Node-Fetch"
Address potential security need in digital and patterns

[2020-10-28 19:54] reillyzlab opened #686 "Registry: Revise review page layout"
The review page layout doesn't align if there are different answers (i.e. if one person has more answers than the other).

This is particularly noticeable here:
![Screen Shot 2020-10-28 at 2 22 25 PM](https://user-images.githubusercontent.com/20731897/97489331-701b6b80-192d-11eb-8d02-8b75d096d1bc.png)

We should revisit this so that the fields show up in the same places for every user regardless o

[2020-10-28 20:08] reillyzlab opened #687 "Registry: Fields/headlines not matching for person and partner"
Throughout the application the people that are applying for the marriage intention are references as person a and person b. But, on the review page they are listed as partner a and partner b.

Adjust the review page to be person a and b.

Examples:
![Screen Shot 2020-10-28 at 2 22 45 PM](https://user-images.githubusercontent.com/20731897/97490826-5da23180-192f-11eb-9957-e6431c087da9.png)

![Screen

[2020-10-28 20:17] reillyzlab opened #688 "Registry: Issue with residency address on review page-city not displaying"
There is an issue with the residency address on the review page.

The City is not showing up.

On this example I put 'boston' in as the city; you'll see it's not listed.

If there is so street suffix used there is also an odd space plus comma listed.

![Screen Shot 2020-10-28 at 4 15 20 PM](https://user-images.githubusercontent.com/20731897/97491810-ad352d00-1930-11eb-9898-b060168b8044.png)

[2020-10-29 13:34] jimmurphy-boston opened #689 "Registry: Place of Marriage"
Place of Marriage: The couple does not fill that in when they do their Intention - the Marriage staff adds that after the wedding when the marriage license is returned to us to Register as complete.

Patty thinks she isolated it: it is taking the Place of Marriage from the Party A the town they list for their residence:
![image](https://user-images.githubusercontent.com/63253451/97581091-875c6680-

[2020-10-29 13:40] jimmurphy-boston opened #690 "Registry: Partnership Status"
Partnership 'Status': There seems to be a partnership status selected based on other fields with data. However, the actual status isn't coming through for Patty.

From Patty:
I am not sure where that information is coming from - it could be that when you are testing it you are entering data there - we do not get many responses from couples on that one so I am not sure.  It would seem that Partners

[2020-10-29 13:42] jimmurphy-boston opened #691 "Registry: Mother and Father Information, Not all information coming through"
For mother and father, not all of the information is coming through.

This field appears to not be coming through for both parents for both person a and person b: PARENT 1/MOTHER - MAIDEN NAME/SURNAME AT BIRTH OR ADOPTION

It should be showing up like this for Patty:
They put:
Mary/Smith
John/Jones

Where if the parents had married and she took his last need then it would be:
Mary Jones/Smith
John

[2020-10-29 13:44] jimmurphy-boston opened #692 "Registry: Parents names on Marriage intention and License"
Just prior to COVID the State started switching over to below NEW
The difference is that Currently we have Name of Mother/Parent and Name of Father/Parent
We need to keep mother as the first one until we can switch to the new license - If we do not say ie Mother/Parent the couples may fill in the data and put a mother as the second parent and the father in the first - which we can do once we are a

[2020-10-29 14:04] reillyzlab commented on #689
Jim will set up a meeting to over this with Rich

[2020-10-29 14:11] reillyzlab commented on #692
Mother is currently parent 1 and father is parent 2.

Rich/Georges are the ones dealing with reworking the form.

No work for us here so closing.

[2020-10-29 14:11] #692 closed, assigned to nobody

[2020-10-29 15:39] reillyzlab opened #693 "Registry: Mother/Father Data Going Into the Wrong Fields"
The data for mother and father are going into the wrong fields. Mother is going under father and father is going under mother.

Example (Reilly has been putting the fields in as mother middle last and father middle last)
REILLY-TEST MIDDLE LAST | PERSON B-FIRST TEST MIDDLE-TEST LAST II | 10/28/2020
-- | -- | --

![image](https://user-images.githubusercontent.com/20731897/97596513-cabad300-19d2-11e

[2020-10-29 19:13] phillipbentonkelly commented on #690
Rich is going to take a look at the Partnership Status issue, it may be a fix on his end or ours

[2020-10-30 15:00] reillyzlab commented on #688
The City not showing up is resolved.

The extra space issue is not resolved, but I will create a separate ticket for that and close this one.

[2020-10-30 15:00] #688 closed, assigned to nobody

[2020-10-30 15:10] reillyzlab opened #695 "Registry: Review page - issue with residency address and odd spacing before comma"
If there is no street suffix used, then there is an odd space inserted before the comma.

This space should be removed.

![Screen Shot 2020-10-30 at 11 04 07 AM](https://user-images.githubusercontent.com/20731897/97722026-2c914080-1a98-11eb-9955-f84a39614be1.png)

[2020-10-30 15:40] reillyzlab commented on #691
Resolved on staging so closing.

[2020-10-30 15:40] #691 closed, assigned to nobody

[2020-10-30 15:40] reillyzlab commented on #693
Working on staging so closing

[2020-10-30 15:40] #693 closed, assigned to nobody

[2020-11-03 14:31] phillipbentonkelly commented on #685
This will only address one of the security issue on the Digital repo; Patterns has no flags/issues as of now.

[2020-11-03 14:37] phillipbentonkelly opened #696 "Digital Repo: Address Potential Security Risk - Replace Hapi w/@Hapi Module"
![COB - Digital-Repo-Sec-Risk-2020 11 03](https://user-images.githubusercontent.com/2627273/97998377-04675180-1db8-11eb-81b9-9e17cf82e0ed.JPG)

Look into updating these modules and test apps

[2020-11-04 19:56] reillyzlab commented on #689
Resolved so closing

[2020-11-04 19:56] #689 closed, assigned to nobody

[2020-11-04 19:57] reillyzlab commented on #690
Still an issue. @phillipbentonkelly to loop back with @jimmurphy-boston on this

![image](https://user-images.githubusercontent.com/20731897/98161594-9ef18e80-1ea5-11eb-8b26-c01ebfbd227d.png)

[2020-11-04 20:00] reillyzlab opened #697 "Registry: Partnership status question, carry over answers from one person to the other so they match"
On the partnership status question, carry over answers from one person to the other so that they match/both have the same information.

This should be reflected in the app itself as well as show up on the review page.

Similar functionality to #635

[2020-11-06 19:00] reillyzlab commented on #697
Confirmed working so closing

[2020-11-06 19:00] #697 closed, assigned to nobody

[2020-11-09 21:20] reillyzlab opened #701 "Registry: Birthplace needs to have additional fields passed through"
Birthplace needs to have additional fields passed through.

Right now it is only passing through city.

It needs to pass through city, state, and country.

This needs to be done from person a and b.

Phil can fix this without Rich.

[2020-11-09 21:22] reillyzlab opened #702 "Registry: For birthplace, country name should be coming through"
For birthplace, country name should be coming through.

Right now, only the country code is coming through, but instead the entire country name should be coming through.

This is not a blocking issue.

Phil may need Rich to complete this task.

[2020-11-09 21:36] reillyzlab opened #703 "Registry: Issue with city on residence address"
When a user enters information for residence on the form it is not getting to the review page and subsequently the submission correctly.

One example we went through as a group: Person b is not getting the proper city name. It appears like person b is getting the city from person a. We tried to go back and change answers and the application seemed as if it had cached past answers and the new answe

[2020-11-10 14:27] phillipbentonkelly opened #705 "Fix/Workaround Rate-Limiting of Docker images in the deploy process"
Docker Hub, one service we use in our deployment process has implemented rate limits on anonymous and free accounts last week. Our deploys to PROD and Staging are now failing. I am going to work with David to find a solution today (11/10/2020)

https://www.docker.com/increase-rate-limits

[2020-11-10 14:30] phillipbentonkelly opened #706 "Look into resetting address (birth/residence) form fields when the view changes on selecting a country"
When a user changes the country on the Birth or Residence sections the UI they see changes but if they filled out the 'State, Zipcode' fields before the UI switches those values stay. The work here will be to blank the values of those fields when the UI changes.

[2020-11-13 16:24] phillipbentonkelly commented on #690
This was fixed last week by Rich, we can double confirm in our meeting today but am moving this to the 'close' column

[2020-11-13 17:38] reillyzlab commented on #666
This field has just disappeared now rather than showing a state and not applicable.

Will close/pass for now, because we have tickets to review the layout of the entire review page.

[2020-11-13 17:38] #666 closed, assigned to nobody

[2020-11-13 17:40] reillyzlab commented on #703
This is resolved on the review so I will pass.

[2020-11-13 17:40] #703 closed, assigned to nobody

[2020-11-13 20:28] #702 closed, assigned to nobody

[2020-11-13 20:28] #690 closed, assigned to nobody

[2020-11-16 21:50] reillyzlab commented on #659
There should be an error state for the fields that people miss filling in.

Ideally two things happen:

1. The fields that were missed get a red box around them. Here is something to start with for form fields:

https://patterns.boston.gov/components/detail/form_subscription--error.html

Would like developer guidance/best practice on how to handle for other fields such as radio buttons based on wh

[2020-11-17 20:39] jimmurphy-boston opened #709 "Country names are submitted in Long form,"
Place of Birth is coming out LONGGGGG
With the Full State Name and UNITED STATES OF AMERICA it is taking up a lot of space.
I think USA is fine
In re to the State we may need to see how more couples fill it in and look at options.

_**After our meeting the change will be as follows:**_

**For the US**
- City: Keep the long name
- State: Use Abbreviation
- Country: Use ShortLabel if available

**Ou

[2020-11-17 20:44] jimmurphy-boston commented on #709
![image](https://user-images.githubusercontent.com/63253451/99445588-c0159e80-28eb-11eb-80f6-2b30843def37.png)

[2020-11-18 16:14] phillipbentonkelly commented on #709
After our meeting the change will be as follows:

**For the US**
- City: Keep the long name
- State: Use Abbreviation
- Country: Use ShortLabel if available

**Outside the US**
- City: Keep the long name
- Country: Use ShortLabel if available

[2020-11-19 20:19] jimmurphy-boston opened #711 "Parents maiden names going in the wrong field when they go into the database"
Patty Sent screen shots and walked through the scenario.

[2020-11-19 20:30] reillyzlab commented on #711
On person a and b of the application, Parent 1/mother is getting the maiden name meant for parent 2/father and vis versa.

This is appearing accurately on the review page but getting fed incorrectly into the database (and subsequently for the printed out certificate).

[2020-11-20 16:01] jimmurphy-boston commented on #711
Confirmation from Patty that it has been resolved.

[2020-11-20 16:01] #711 closed, assigned to reillyzlab, jimmurphy-boston

[2020-11-25 15:59] reillyzlab opened #714 "Registry: Re-do residency location fields"
Move Country choice first, since it impacts display of Sity and State.
To be consistent to move for Residence and Birth for Party A and Party B

[2020-12-01 19:12] jimmurphy-boston opened #720 "Marriage appointment date is showing incorrect on the review page"
When a user enters 12 (December) on the application itself in the appointment fields this works fine and detects as December.

However, on the review page it shows 11 (November).

Users are nervous to submit their intention and contacting the Registry office prior to submitting.

[2020-12-01 19:14] jimmurphy-boston commented on #720
![Screen Shot 2020-11-30 at 10 56 05 AM](https://user-images.githubusercontent.com/63253451/100786034-8ced0800-33df-11eb-9129-6007c4e62c01.png)
![Screen Shot 2020-11-30 at 10 55 24 AM](https://user-images.githubusercontent.com/63253451/100786037-8d859e80-33df-11eb-9aed-67283acad833.png)

[2020-12-08 17:31] #720 closed, assigned to reillyzlab, jimmurphy-boston

[2020-12-08 17:38] jimmurphy-boston commented on #684
Seems to be correct now,

[2020-12-08 17:38] #684 closed, assigned to jimmurphy-boston

[2020-12-08 19:11] jimmurphy-boston commented on #701
This looked correct in staging

[2020-12-08 19:11] #701 closed, assigned to reillyzlab, jimmurphy-boston

[2020-12-10 18:48] jimmurphy-boston commented on #658
Beleive this was already address and put on staging for testing. tested and it does ask for country first then lets you choose city and state. If you chose another country it does not ask you for the State.

[2020-12-10 21:35] jimmurphy-boston commented on #658
looks fine now

[2020-12-10 21:35] #658 closed, assigned to jimmurphy-boston

[2020-12-15 21:36] #714 closed, assigned to nobody

[2020-12-15 22:42] phillipbentonkelly commented on #648
I looked into this and there seems to be no good way to style the options element in dropdowns. ```Line Break in HTML Select Option?, You can't format line breaks into an option; however, you can use the title attribute to give a mouse-over tooltip to give the full info. Use a short descriptor in the option text and give the full skinny in the title.``` I gonna move this to the done column, we can

[2020-12-15 22:44] #709 closed, assigned to reillyzlab, jimmurphy-boston

[2020-12-15 22:45] #706 closed, assigned to nobody

[2020-12-15 22:48] #705 closed, assigned to nobody

[2020-12-18 17:13] reillyzlab commented on #648
@subaha-cob did this for neighborhood lookup. Maybe she can provide guidance.

[2020-12-21 14:47] phillipbentonkelly commented on #648
![COB-Reg-Dropdown-font-size](https://user-images.githubusercontent.com/2627273/102788785-2ec59c00-4371-11eb-82a0-62a235069a6c.JPG)

I talked to Stella and what's she's doing there is changing the font size based on the length of the string. This doesn't look good, the screen above is what the font size would have to be in order to fit the longest country name.

[2020-12-21 19:15] reillyzlab commented on #648
Okay, thanks for trying!

Disregard doing this and I'll close the ticket.

[2020-12-21 19:15] #648 closed, assigned to nobody

[2020-12-21 21:21] phillipbentonkelly commented on #687
Duplicate ticket, closing

[2020-12-21 21:21] #687 closed, assigned to nobody

[2020-12-21 21:25] phillipbentonkelly commented on #621
We did this a while back, most fields are on their own row now. Closing

[2020-12-21 21:25] #621 closed, assigned to nobody

[2020-12-21 21:33] phillipbentonkelly commented on #667
On Staging

[2020-12-21 21:34] reillyzlab commented on #687
Duplicate of https://github.com/CityOfBoston/Iterators/issues/179

[2020-12-29 17:07] reillyzlab commented on #590
@mmcgowanBOS Can I give this to you to run with/look into how we can implement?

[2020-12-29 17:42] phillipbentonkelly commented on #676
On Staging

[2020-12-29 17:46] phillipbentonkelly commented on #695
I think we fixed this already, seems fixed. please confirm on staging

[2020-12-29 21:45] phillipbentonkelly commented on #663
If adding the 'underline' to the 'Marriage' header is the issue then its already been fix. Please let me know if there is more than that.

[2020-12-29 21:48] phillipbentonkelly commented on #618
Is this still an issue? Spot checking the footer on the web app and boston.gov they look the same, have the same alignment.

[2020-12-29 21:53] reillyzlab commented on #618
This is referring to this:

![Screen Shot 2020-12-29 at 4 53 01 PM](https://user-images.githubusercontent.com/20731897/103316388-f7e52b00-49ed-11eb-983a-7daabb2044a9.png)

[2020-12-29 23:09] jimmurphy-boston commented on #663
This has been resolved in Staging. can be closed when pushed to production

[2020-12-29 23:12] jimmurphy-boston commented on #676
Correct on Staging

[2020-12-29 23:14] jimmurphy-boston commented on #695
Is fixed on Staging

[2020-12-30 17:58] phillipbentonkelly commented on #660
On staging, @jimmurphy-boston take a look at James Duffy's comment above, that's what we're doing as far as I can tell.

[2020-12-30 18:18] jimmurphy-boston commented on #660
Yes we have a back button and an email link for help.  It's center justified like the birth certificate request

[2020-12-30 18:26] phillipbentonkelly commented on #660
@jimmurphy-boston, what do you mean, I don't see anything centered. Can you take a screenshot and post it, what browser are you using.

[2020-12-30 18:31] jimmurphy-boston commented on #660
The email link for help is center justified, it was mentioned in another case. However I compared it to Birth certificates form and its the same.
Using chrome
![Centered](https://user-images.githubusercontent.com/63253451/103373594-591b0600-4aa3-11eb-9070-351613600324.png)

[2020-12-30 18:36] phillipbentonkelly commented on #660
I think we're crossing wires, the centered feedback is for this [ticket](https://github.com/CityOfBoston/digital/issues/618). This ticket is for adding the text J. Duffy provided above the form data on Oct 6.

[2020-12-30 18:42] jimmurphy-boston commented on #660
Yes understood, just clarify what I am seeing since his comment referenced
having feedback link and back button.

On Wed, Dec 30, 2020 at 1:36 PM Phillip B. Kelly <notifications@github.com>
wrote:

--

[image: COB_B_Blue_square-01.png] <https://www.cityofboston.gov/311/>

James (Jim) Murphy

CRM Project Manager

Department of Innovation and Technology

617-635-0916(w)

[2020-12-30 18:43] phillipbentonkelly commented on #660
Reading the message above James' last post I can see how we're getting confused, I should've specified to only look at James's last comment. From what I can tell and the only ask here is to add the text above the content, @reillyzlab can you confirm. Thx

[2020-12-30 18:46] phillipbentonkelly commented on #618
Ok, this makes sense now. thx

[2020-12-30 20:03] phillipbentonkelly commented on #618
On Staging
https://registry-certs.digital-staging.boston.gov/marriageintention
https://registry-certs.digital-staging.boston.gov/birth
https://registry-certs.digital-staging.boston.gov/marriage

[2020-12-30 20:06] jimmurphy-boston commented on #618
Looks good.

[2021-01-04 16:28] mmcgowanBOS commented on #590
OK. I too just added Phil so both have this on our radar. Will bring this up at the next meeting.

[2021-01-12 19:54] phillipbentonkelly opened #735 "Research Stripe Service Fee issue reported by user"
A customer emailed that he paid by Credit Card and the fee was $14.56
He felt that the fee should have been $14.54.
I tried the Match using the $14 times the % plus the 25cents and tried $14 plus the 25cent then times the % and I came up with 14.54 also.

I am not sure who originally calculated it with Stripe - I sent the email to Richie at the Treasury and he agreed with the $14.54 number and sai

[2021-01-14 19:47] jimmurphy-boston opened #737 "The Fee for Stripe is different based on whether the credit card is International or not."
There is a 1% additional charge for International credit cards. Currently this affects 1% of our transactions.
Looking through the API it appears we get back the country location for the credit card, and all cards outside of the USA would have this additional fee.
https://stripe.com/docs/api/cards/object#card_object-country

[2021-01-14 19:49] jimmurphy-boston commented on #737
@reillyzlab  Not sure if we need to touch this yet, but keeping it here for reference

[2021-01-21 15:20] #685 closed, assigned to nobody

[2021-01-21 15:38] #663 closed, assigned to jimmurphy-boston

[2021-01-21 15:58] #695 closed, assigned to jimmurphy-boston

[2021-01-21 16:08] #676 closed, assigned to jimmurphy-boston

[2021-01-22 19:12] phillipbentonkelly commented on #660
Deployed.

[2021-01-22 19:12] #660 closed, assigned to jimmurphy-boston

[2021-01-22 19:13] phillipbentonkelly commented on #618
Deployed

[2021-01-22 19:13] #618 closed, assigned to jimmurphy-boston

[2021-01-28 14:47] andreeaursu1981 opened #741 "Access Boston- CyberARK TEST- BY Monday Feb 1, 2021"
Title: CyberArk
URL Test: https://sso-test.boston.gov/idp/startSSO.ping?PartnerSpId=PasswordVault
Status: CyberArk Users
Security Group: SG_AB_GRPMGMT_CyberArk
Description: Privileged account management solution that deals exclusively with the protection of privileged accounts in an enterprise, including those of operating systems, databases, servers, applications, virtual machines, and networking

[2021-01-28 19:59] phillipbentonkelly commented on #667
Done, deployed

[2021-01-28 19:59] #667 closed, assigned to jimmurphy-boston

[2021-02-08 16:19] andreeaursu1981 opened #747 "Access Boston TEST - HCM TEST by end of today"
Please update HCM TEST link

From:https://baishcmtst.cityhall.boston.cob/psc/baishcmtst/EMPLOYEE/HRMS/h/?tab=DEFAULT

TO: https://baishcmtst.boston.gov/psp/baishcmtst/EMPLOYEE/HRMS/h/?tab=DEFAULT
.boston.gov

[2021-02-08 16:50] andreeaursu1981 commented on #747
TO: https://baishcmtst.boston.gov/psp/baishcmtst/EMPLOYEE/HRMS/h/?tab=DEFAULT

[2021-02-08 19:29] andreeaursu1981 commented on #747
The current Financials (PSFN) SP2 PingAccess URL domain will be changing from:
https://baisfntst.cityhall.boston.cob/psp/idmtstfn/EMPLOYEE/ERP/h/?tab=DEFAULT
.cityhall.boston.cob

To:
https://baisfntst.boston.gov/psp/idmtstfn/EMPLOYEE/ERP/h/?tab=DEFAULT

[2021-02-08 21:53] phillipbentonkelly commented on #747
Deployed the change above to the TEST environment.

[2021-02-09 16:18] phillipbentonkelly commented on #747
The second link is updated.

[2021-02-10 16:53] #747 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2021-02-10 16:55] andreeaursu1981 opened #748 "ACCESS BOSTON - DEV UPDATES HCM & PSFN"
1) Can you please change the HCM URL in Dev AccessBoston:

From:
https://baishcmdev.cityhall.boston.cob/psp/baishcmtst/EMPLOYEE/HRMS/h/?tab=DEFAULT

To:
https://baishcmdev.boston.gov/psp/baishcmtst/EMPLOYEE/HRMS/h/?tab=DEFAULT

2) Can you please change the Financials URL in Dev AccessBoston:

From:
https://baisfndev.cityhall.boston.cob/psp/idmdevfn/EMPLOYEE/ERP/h/?tab=DEFAULT

To:
https://baisfnde

[2021-02-11 16:36] #748 closed, assigned to nobody

[2021-02-12 21:32] joanliu opened #750 "Expand Address search component capabilities to accommodate "Drive" vs. "Dr". and similar"
We will be using the Address search component as part of the Assessing redesign. Feedback was given that typing in "Drive" does not return results as the database uses "DR" instead.

[2021-02-12 21:35] joanliu opened #751 "User should be able to see more than 10 results in Address Search component"
When looking up an address that has more than 10 units, the search results of the Address search component only returns 10 results.

This may be a browser bug - supposedly pressing enter should have returned more results, but that did not happen to Joan. She was using Chrome 88.0.4324.150 when she encountered this behavior.

[2021-02-17 17:45] phillipbentonkelly commented on #565
@reillyzlab @mmcgowanBOS

Part of the error message returns the error below which leads me to believe the cause is some error on iNovah.

![COB-Stripe-Rollbar-Error-Cannot-throw-non-error-object](https://user-images.githubusercontent.com/2627273/108244880-af103f80-711d-11eb-99e5-aacfaf29c05f.JPG)

I see it last occurred on 1/28/2021 ... Is this causing any errors or problems processing payments or

[2021-02-24 15:47] mmcgowanBOS commented on #614
Spoke to Phil, he confirmed that this has been updated and deployed to Prod environment. Closing for now.

[2021-02-24 15:47] #614 closed, assigned to phillipbentonkelly, mmcgowanBOS

[2021-02-24 16:06] phillipbentonkelly opened #752 "Change Language in Error Modal/Pop-Up for Registry-Certs Payment Process"
Omit the mention of 'Stripe' as our payment method in this modal's text.

Change text to: "There's a problem: An error occurred with the connection to our payment system."

![image0](https://user-images.githubusercontent.com/2627273/109029057-74b02080-7690-11eb-8814-0a1506e0e799.png)

[2021-02-25 20:50] #752 closed, assigned to nobody

[2021-03-09 20:11] reillyzlab opened #756 "Get rid of marriage intention code app of cityofboston.gov"
Get rid of marriage intention app of cityofboston.gov (so we're deleting old tech when new is created and we know it's stable)

You'll likely need Rich's help, but unsure.

This should have a change management ticket.

[2021-03-09 20:13] reillyzlab commented on #659
@jimmurphy-boston can you figure out if we still need to this for birth, marriage, and death certificates and marriage intention

[2021-03-09 20:15] reillyzlab commented on #686
@jimmurphy-boston can you work with @sebastianebarb or @carolinestj to do a pass through on this page and see if there are any easy styling changes we could make to make it for easily readable

[2021-03-09 20:22] reillyzlab commented on #472
Closing this as we haven't gotten recent feedback and we're thinking through our options with payment processing.

[2021-03-09 20:22] #472 closed, assigned to nobody

[2021-03-09 20:22] #518 closed, assigned to nobody

[2021-03-09 20:24] #406 closed, assigned to nobody

[2021-03-09 20:35] phillipbentonkelly opened #757 "Access-Boston Birthright links visibility"
Andreea, We'll need a list of all groups you'd like to associate with "birthright access". Please provide.

[2021-03-09 21:21] jimmurphy-boston commented on #737
This will be resolved with Invoice Cloud as they charge the same rate no matter the type of card

[2021-03-09 21:21] #737 closed, assigned to jimmurphy-boston

[2021-03-12 18:42] andreeaursu1981 commented on #601
THIS IS ON HOLD

[2021-03-16 17:30] andreeaursu1981 opened #758 "Access Boston - ScerIS PROD - MARCH 29 @ 4 PM"
**Title that needs to be under the icon on the Portal**: ScerIS
**URL**: https://sso.boston.gov/idp/startSSO.ping?PartnerSpId=urn%3Asso%3AScerIS
**Security Group**: cn=SG_AB_Sceris
**Tile(icon)**: https://drive.google.com/drive/folders/1j4RV6uBZ3mkHGotxEoGcRTGxt5byqpjQ

[2021-03-17 19:45] mmcgowanBOS commented on #758
Hi Andreea,
Are you requesting this change be done by 4PM on March 29? Or are you trying to time it so it's done around 4PM on that exact date. Please clarify.

Thank you.

[2021-03-17 19:58] andreeaursu1981 commented on #758
@4PM. thanks

[2021-03-17 21:06] andreeaursu1981 commented on #758
start at 4 PM. sorry.

[2021-03-29 14:37] andreeaursu1981 opened #761 "BAIS FN update in PROD - 5/20/2021"
From (Only provides access to Bais Financials while on the CoB Network):
https://baisfn.cityhall.boston.cob/psp/prdfn/EMPLOYEE/ERP/h/?tab=DEFAULT

To (Provides access to Bais Financials Externally-Internet and internally-CoB network):
https://fn.boston.gov/psp/prdfn/EMPLOYEE/ERP/h/?tab=DEFAULT

[2021-03-29 22:52] andreeaursu1981 opened #765 "Access Boston - ServiceNow tile TEST by April 27 (if possible)"
Title = ServiceNow
Name of the application
Description of what the app is (if it is not that obvious): this application will be used now by HR as a case management system
Timeline (when do you need to have live in Prod): unknown but we need to test it in TEST

[2021-04-05 16:03] andreeaursu1981 opened #767 "Access Boston tile for V3"
Title = V3
Name of the application: V3
Description of what the app is (if it is not that obvious): retirement system
Timeline (when do you need to have live in Prod): 2 weeks
Can you please create a few designs so the Department can choose from?

Thanks,
A

[2021-04-07 01:05] sebastianebarb commented on #767
![Asset 18@4x](https://user-images.githubusercontent.com/20642299/113795871-df3a8e80-971b-11eb-8a46-229e044a19aa.png)
![Asset 19@4x](https://user-images.githubusercontent.com/20642299/113795872-dfd32500-971b-11eb-8a01-065a859e89fe.png)
![Asset 20@4x](https://user-images.githubusercontent.com/20642299/113795873-e06bbb80-971b-11eb-90e4-8e440d5da2a5.png)

[2021-04-07 18:52] reillyzlab commented on #565
It was added by Fiona and if you don't see any current issues I'm going to close and we can revisit in the future if it comes up.

[2021-04-07 18:52] #565 closed, assigned to nobody

[2021-04-15 15:49] andreeaursu1981 commented on #765
What is the status of this tile? We would like to put in test next week. Is this ok with you?

[2021-04-15 15:49] #758 closed, assigned to phillipbentonkelly, mmcgowanBOS, andreeaursu1981

[2021-04-20 18:42] mmcgowanBOS opened #770 "Phil / Matt - Update Feedback form on Registry with new session token."
See attached for input name.